[2017-05-31 21:14] eclare108213 opened #3 "longitude dependence of solar time"
From: Pedro Duarte <Pedro.Duarte@npolar.no>
Sent: Monday, May 22, 2017 8:13 AM

I have just noticed that in ice_forcing.F90, in the subroutine compute_shortwave there is the following equation to calculate solar time:
solar_time = mod(real(sec,kind=dbl_kind),secday)/c3600 &
                   + c12*sin(p5*TLON(i,j))

As I understand, the second term is to correct solar time as a function of longit

[2017-06-01 19:58] dabail10 commented on #3
Just a thought here. This was used for the AOMIP protocol and I believe there are some corrections for the eccentricity of the Earth's orbit. There is an interesting page here:

http://www.pveducation.org/pvcdrom/2-properties-sunlight/solar-time

This formula gives GMT+12 precisely at 180 degrees. Elizabeth, do you recall discussions about this during AOMIP?

Dave

[2017-06-02 04:25] eclare108213 commented on #3
@dabail10 I do not recall conversations about this during AOMIP -- I pretty much just took the documentation that was given and coded it up.  If this formula is technically correct, why would it be returning the wrong value when TLON=90?

[2017-06-27 23:24] dabail10 commented on #3
You can assign this issue to me. I can't assign it to myself.

[2017-06-28 01:10] eclare108213 commented on #3
It seems like you ought to be able to claim it yourself if you wanted to do it...
@apcraig Do we need to have permissions set differently, or is this standard github procedure?

[2017-08-07 19:14] mattdturner opened #19 "Single threaded runs on Conrad crash in ice_broadcast.F90"
I attempted to run a test on Conrad (Cray XC40) with the following configuration:

- smoke test
- grid = gx3
- PE = 4x1
- sets = diag1, run5day, thread

The modules that are loaded for the compile:

- PrgEnv/intel-5.2.40
- intel/17.0.2.174
- cray-mpich/7.3.2
- cray-netcdf/4.3.2
- cray-hdf5/1.8.13

The error that I am encountering is:
[code]

The error appears to be a result of the model not being

[2017-09-06 16:43] apcraig opened #23 "Control of run length via npt"
The current CICE implementation controls run length via settting npt which is the number of timesteps, and the run length in time depends on the model timestep.  It might be nice to be able to specify a number of hours, days, months, or years to run the model rather than the number of timesteps.

[2017-09-07 18:33] dabail10 commented on #19
I have an OMP fix for the diagnostic code. Delete the OMP directives around the loop where latdis/londis are computed.

Dave

[2017-09-14 21:33] #19 closed

[2017-12-15 20:04] eclare108213 opened #47 "Timers in diagnostic output"
Timing values are incorrect

[2017-12-15 20:07] eclare108213 opened #48 "history output"
Setting f_hi = 'md' did not produce monthly output.  (Need to check if this is really a bug or if I just didn't have the various history flags set correctly.)

[2017-12-15 20:15] eclare108213 opened #49 "capture timing results"
Record timing results as part of the testing procedure, or at least flag them if changes are substantial in comparison tests.  Preferably include at least these:
Timer   2:  TimeLoop
Timer   3:  Dynamics
Timer   5:    Column

[2017-12-15 20:17] eclare108213 opened #50 "improve PR template"
Let's make the templates (both CICE and Icepack) a little less cryptic and hopefully a little more useful.

[2017-12-15 20:25] eclare108213 commented on #50
My recommendation (other suggestions are welcome):

[Remove this and add a short summary line]:
Developer(s):
Is the documentation being updated with this PR? (Y/N):
If not, does the documentation need to be updated separately? (Y/N)
Are the code changes bit for bit, different at roundoff level, or more substantial?:
Please suggest code reviewers in the column at right.
Other Relevant Details:

[2017-12-15 20:33] eclare108213 commented on #50
My edits to the comment above are not showing up correctly, so I'll try again in a fresh comment:

[Remove this and add a short summary line]:
Developer(s):
Are the code changes bit for bit, different at roundoff level, or more substantial?:
Is the documentation being updated with this PR? (Y/N):
If not, does the documentation need to be updated separately? (Y/N)
"Documentation" includes informati

[2017-12-15 20:38] eclare108213 commented on #50
The comment still isn't coming through correctly.  I'll make a PR and we can discuss it there.

[2017-12-15 20:39] mattdturner commented on #49
In order to post the timings to CDash, we can only have 1 timer logged.  We can include the timer information for multiple timers elsewhere (although I'm not sure where).

For example, http://my.cdash.org/viewTest.php?onlypassed&buildid=1338795 is what I have been working on today.  I've been putting the 'Timer 1: Total' timer into the Time field for the *_run tests for smoke tests only.  I could

[2017-12-15 20:46] eclare108213 commented on #49
If we can only choose one, then the best one is TimeLoop.  If that one is very different between runs, then we can look more closely at Dynamics, Column, etc. manually.

[2017-12-17 02:23] eclare108213 opened #53 "bathymetry"
Include bathymetric information (vertical grid) as part of standard grid input, for use by fast-ice parameterization and icebergs.

[2017-12-18 21:33] rallard77 commented on #48
This worked for me. I ran a gx3 60-day smoke test using the following settings:
histfreq       = 'd','m','x','x','x'
histfreq_n     =  1 , 1 , 1 , 1 , 1
f_hi           = 'md'
It produced daily history files and monthly files for January, February 1998

[2017-12-18 21:36] eclare108213 commented on #48
Thanks Rick!  I must not have had it set up correctly.

[2017-12-18 21:36] #48 closed

[2017-12-18 21:55] dabail10 commented on #50
I took a look and I think it is fine. I reviewed and approved it.

[2017-12-21 19:54] duvivier commented on #50
I agree with Dave. I confirmed the change through the PR a few days ago. We can close this issue.

[2017-12-21 19:54] #50 closed

[2017-12-26 18:26] eclare108213 opened #58 "vector averages for history"
For vector history variables, create options for the vector averages (e.g. speed and direction) rather than simply averaging the vector components.

[2017-12-26 18:29] eclare108213 opened #59 "shortwave in restart files"
Store shortwave radiation for all blocks in the restart files, not just the active blocks, if possible.  This should not change the answers when restarting from identical configurations, but could fix inexact restart problems when restarting with different block configurations.
(Issue noted by DMI collaborators)

[2017-12-26 18:31] eclare108213 opened #60 "refactor subroutine stress"
Refactor subroutine stress for improved computational efficiency, as suggested by DMI collaborators.

[2017-12-26 18:32] eclare108213 opened #61 "uvm initialization"
the NAG compiler reports a missing initialization in the uvm halo, line 1399 of ice_grid.f90
(issue noted by DMI collaborators)

[2017-12-26 18:34] eclare108213 opened #62 "num_avail_hist_fields"
The Cray compiler complains about num_avail_hist_fields in ice_history_shared.f90, having to do with an inconsistency in the order of evaluations.  Issue reported by DMI collaborators, who will need to provide details.

[2017-12-26 18:37] eclare108213 opened #63 "lonu_bounds uninitialized"
the NAG compiler reports lonu_bounds is uninitialized for iconrner=1, iblk=1, at line 1912 of ice_grid.f90.
(issue reported by DMI collaborators)

[2017-12-26 18:43] eclare108213 opened #64 "revp"
Fix rEVP as suggested by Martin Losch.

[2018-01-01 23:58] eclare108213 opened #65 "2018"
replace 2017 with 2018 in copyright statements everywhere

[2018-01-03 02:52] eclare108213 commented on #59
@apcraig  Was this issue fixed in PR #16 ?

[2018-01-03 03:02] eclare108213 commented on #62
Check the svn repo ucl branch at r1154:
"Inconsistency in ice_history_shared.F90 regarding tstr3Dc and ustr3Dc removed (caused
abort with num_avail_hist_fields error)"

[2018-01-03 04:17] eclare108213 commented on #62
I think this was fixed in svn r1076 (changed VGRD to VGRDi)

[2018-01-03 04:17] #62 closed

[2018-01-03 19:08] apcraig commented on #59
I don't believe so, but I could be wrong.  PR #16 addressed the values of tracers in eliminated blocks and just sets values to zero, which is easy and reasonable.  I believe the shortwave radiation is a different issue.  What does "shortwave radiation" mean in this case, is that a forcing field or something related to an ice albedo computation.  If we need to "store" the shortwave radiation for bl

[2018-01-03 21:53] eclare108213 commented on #59
Here is a screen shot of the figure from Jacob's paper, showing the problem.
swidr is derived from the input shortwave forcing field(s).

[SW.pdf](https://github.com/CICE-Consortium/CICE/files/1601830/SW.pdf)

[2018-01-03 23:09] apcraig commented on #59
So, this is a problem.  There is no memory and no decomposition associated with blocks that are eliminated.  In v4 in the plot, land blocks are eliminated and that's why there is no data over those blocks.  Land block elimination should not create any inexact restart problems.  If it is, we need to look into that further.

There have always been problems with ice history files with different decom

[2018-01-03 23:28] dabail10 commented on #59
The radiation code requires the incoming shortwave components for a restart. This is because we scale the absorbed shortwave from the last step by the incoming for the current step. Why do we need these values over land though? If it is an eliminated land block, then there are never computations in these blocks. Even if we change the decomposition, the values are still not used over land. I don't

[2018-01-03 23:50] apcraig commented on #59
I am on the same page as @dabail10.  I don't think this is an inexact restart issue.  If it is, we need to understand that better.  What it does do is make history files not bit-for-bit over land, even though the results are actually bit-for-bit.  So if we are trying to validate bit-for-bit, some fields in the history file cannot be compared "blindly" with different decompositions.  This includes

[2018-01-04 00:56] eclare108213 commented on #59
All of this is true, it's not the source of the restart issue and I don't think we want to stop eliminating blocks.  There's something different about the how the shortwave is treated, in particular.  Here's the text that goes with the figure, with my apologies for not being clear about the issue.

I have explained to them the reason for shortwave being in the restart file.  This problem could be

[2018-01-04 01:02] apcraig commented on #59
My guess is that this is the only field on the restart file that has non zero values where there is land because those values are generated outside CICE.  I assume that's what makes the field unique on the file.  The values over land play do not role in the results.  So while this field is technically not identical on restart files with different decompositions and different land block elimination

[2018-01-04 01:15] eclare108213 commented on #59
That would be an easy fix!  Or just multiply it by hm.

[2018-01-04 17:47] dabail10 opened #66 "Remove yellowstone from machines."
I will do this.

[2018-01-06 14:37] eclare108213 opened #67 "track the coupling fluxes separately, to avoid confusion before/after scale_fluxes"
Some (but not all) fluxes are divided by aice before being sent to the cesm coupler.  This is highly confusing because normally, multiplying a non-flux value (e.g. thickness) specific to the ice-covered area by aice (or similarly area-averaging over categories) produces a grid-cell-mean value.  The subroutine scale_fluxes divides by aice, so multiplying by aice then just brings it back to the ice-

[2018-01-17 14:09] eclare108213 opened #71 "Posting test results"
CDash or github wiki?  Let's decide.  Examples:
 http://my.cdash.org/index.php?project=myCICE
 http://my.cdash.org/index.php?project=myIcepack
https://github.com/CICE-Consortium/Icepack/wiki/ff9ef4a8957a79620f96600f3e70212c0f6ad0ee
See also @apcraig PR  https://github.com/CICE-Consortium/Icepack/pull/94

We need to write down requirements and how they can be addressed, pros and cons, etc -- essent

[2018-01-19 02:44] eclare108213 commented on #71
Capturing some info from emails:
@dabail10
CESM uses an in-house developed test database. Alice Bertini wrote scripts which could be hacked to write rst for posting on github

@apcraig
ESMF hosts a website on which they post results that have been sent via mail and are converted to html

@eclare108213
ACME/E3SM only tracks nightly regression tests, using CDash, not collecting results

[2018-01-19 03:19] eclare108213 commented on #71
My thoughts on the test reporting to wiki pages.  Some suggestions are taken from the conversation on CICE-Consortium/Icepack#94 and stuff that Tony has already done.  I'm trying to get it all in one place.

I suggest that we create a separate repo for test results, rather than having them hanging on our code repositories.  This is mainly to allow the permissions to be opened up so more people can

[2018-01-19 03:56] apcraig commented on #71
I agree that a separate test results page makes sense for several reasons and also agree with the overall suggestions proposed so far.  With regard to questions, I suggest we have CICE and Icepack in the same repo but separated at a top level.  That way we can see both results quickly without having to change repos.

I will have to think about version numbers, that's a real challenge.  One thing w

[2018-01-19 14:03] eclare108213 commented on #71
Currently MPAS-seaice adds a file with the (svn) revision number of its version of the column package.  I like the idea of having a file with the version number, just so that it makes it trivial to identify which version of the code someone has, if the code has gotten separated from the rest of the repo info.  E.g. the copyright file in CICE v5 and earlier is in drivers/cice, but that hasn't alway

[2018-01-19 17:36] apcraig commented on #66
I'm pretty sure this is done, @dabail10, please close if you agree.

[2018-01-19 17:38] apcraig opened #73 "Add subname string to each interface"
Add subname string to each interface and sed "subname" to subname so they are used in error messages.

[2018-01-19 17:42] apcraig opened #74 "ice_constants"
Consolidate ice_constants files as needed.  There are only a few differences between cice, cesm, and hadgem.  Do we want to keep them separate, un-parameter them and add init/query methods, or what?

Also, we need to make sure the icepack_constants are set in hadgem and cesm mode during CICE initialization via the init methods.

[2018-01-19 17:43] apcraig opened #75 "CICE in CESM/RASM"
CICE needs to be ported and tested in the CESM and RASM frameworks.  The current cesm driver will not work due to the changes to the Icepack implementation and the use statements.

[2018-01-19 17:55] eclare108213 commented on #74
The original plan was to move them to namelist so that cesm and hadgem and other groups could set them at runtime.  In fact the plan was to move ALL user-definable constants to namelist, but we might not get that far for the first release..

[2018-01-19 18:12] apcraig commented on #71
I will try to try to make some progess on an updated prototype based on these requirements/suggestions.  We could potentially save the results by version and by machine on two different pages of test results.  It would mean duplication of results, but could be handy.  I will try to do that and see how it works.

Another idea I might try is to use the repo rather than the wiki to post results.  If

[2018-01-21 00:01] apcraig commented on #71
There is a new repo, https://github.com/CICE-Consortium/Test-Results, and I have updated the scripts in icepack, https://github.com/CICE-Consortium/Icepack/pull/94.  I have tried to address most suggestions, adding an extra layer to provide a summary and cutting the data a few ways.  ONLY icepack results are working right now.  The -report option is now pushing the results to the github wiki page,

[2018-01-22 18:56] duvivier commented on #71
Tony, Elizabeth,

I agree with what you've done to make the separate Repo that can be more open to others. I also think the wiki page Tony designed there looks really good. I think that it makes sense to have test options by hash, version, and machine so that folks can easily see what's relevant to them. As far as I understand, it's just a matter of the same test results being reported all three p

[2018-01-23 00:47] eclare108213 commented on #71
Yes, a legend for the colors would be helpful, and I think it would be better to not have multiple links to the same table (pass fail total).  I'd also rather there be one table, not different ones for pass, fail etc.  I'd also prefer there just be one color square.  Could that be put in its own column, maybe with a "details" clickable link to the table, and just have the numbers of pass, fail etc

[2018-01-23 18:33] apcraig commented on #71
I will take a shot at updating the wiki based on feedback.  Lots of good ideas there, keep them coming.  I don't know if we'll be able to easily add commentary.  I guess I could add a column for comments and then leave it blank by default.  To update, one would either have to edit the wiki page directly or checkout the wiki, edit, and push back.  The wiki table is not that pretty to edit manually.

[2018-01-23 19:55] eclare108213 commented on #71
I was thinking the comment could be in the 'general info' at the top of the page, not in the table itself.  But perhaps the results page isn't the right place.

[2018-01-24 00:07] apcraig commented on #71
OK, I updated things.  https://github.com/CICE-Consortium/Test-Results/wiki.  I have split the consortium results and "other forks".  There is a legend page on the sidebar.  I have added a new cut of the data, "by branch".  I have also updated the linking on the overview page and the color, so the color and link is only in the "total" column.  We could put the color in a separate column but this s

[2018-01-24 04:44] duvivier commented on #71
see comment for PR #94 from Icepack repo.

[2018-01-25 20:46] eclare108213 commented on #71
I agree with this.  Let's add collaborators for now, and then we can change it later if we need to.  Also, since we are limiting for 'push', let's also limit direct editing of the wiki in the same way, for consistency.

[2018-01-25 21:02] apcraig commented on #71
Sounds good.  For now, I have turned off "open" editing and have added about 10 of us as collaborators.

[2018-02-07 14:00] eclare108213 opened #77 "Document CICE scripts"
especially ICE_RUNLENGTH

[2018-02-18 18:37] eclare108213 opened #82 "version number in netcdf output"
Have the code read the current version number from version.txt (or whatever is most appropriate) and use it in the netcdf metadata, e.g.

Check other output formats to see if it can be used there also.

[2018-02-23 18:48] eclare108213 commented on #65
Updated license file in PR #84

[2018-02-23 18:48] #65 closed

[2018-02-23 18:55] eclare108213 commented on #71
@apcraig can we consider this issue complete?  There may be things still to tweak about how the results are reported, but we could make new issues for those, as needed.

[2018-02-23 19:07] eclare108213 opened #85 "version number in documentation, etc"
Do we want to change the current version number in the CICE code and docs to v6-alpha?  That is how it is referred to in Icepack and my recent presentations.

[2018-02-23 19:42] eclare108213 opened #86 "anisotropic rheology"
incorporate and test computational performance improvements from U. Reading

[2018-02-23 19:46] eclare108213 opened #87 "time level inconsistency in transport code"
From: Frederic Dupont <Frederic.Dupont@ec.gc.ca>
Subject: small inconsistency in CICE512
Date: October 14, 2016 at 2:14:04 PM MDT
To: Elizabeth Hunke <eclare@lanl.gov>

Hi Elizabeth,

I think I found a small inconsistency in CICE 5.1.2 for shift_ice (in
ice_itd.F90):

for each receiving category, at each point:

      do n = 1, ncat-1
     [ some checks done ...]
     [ prepare ishift pointers for

[2018-02-23 19:49] eclare108213 opened #88 "freezing temperature namelist option"
Implement a namelist option for freezing temperature.  This has already been done for CESM/RASM, but I don't think it made it into the main CICE repo.

[2018-02-23 19:58] dabail10 commented on #88
The namelist option tfrz_option is already there. There is a call in ice_forcing.F90 to icepack_sea_freezing_temperature. This function is in ice_therm_shared.F90 and uses the flag tfrz_option.

[2018-02-23 19:58] #88 closed

[2018-02-23 20:02] eclare108213 opened #89 "code coverage by test suites"
Implement testing options to maximize how much of the code is exercised.   We can use the Icepack tests (though some namelist options are different) and will need additional tests for dynamics and infrastructure.  Consider using codecov.io, as suggested by @anders-dc:

https://codecov.io/github/anders-dc/Granular.jl?branch=master

https://codecov.io/gh/anders-dc/Granular.jl/tree/master/src

https:

[2018-02-23 20:18] anders-dc commented on #89
Thank you for considering this.

I will begin implementing the code coverage in Icepack. It should not require much except for adding the `--coverage` certain flag to `FFLAGS`/`CFLAGS` in the Travis CI build environment. With this flag enabled, a series of coverage files are generated when the test suite is run. These files are inspected afterwards with `gcov`.

[2018-02-23 20:24] anders-dc opened #90 "Errors when running CICE test suite on Travis-CI"
Hi all,

I have tried running the CICE test suite on Travis-CI, but am encountering "Division by 0" errors. Is this a well-known problem? Please see the build log here:
https://travis-ci.org/anders-dc/CICE/jobs/343922056#L764

I am invoking Travis-CI from my [own fork](https://github.com/anders-dc/CICE/tree/travisCI), with the following [Macros](https://github.com/anders-dc/CICE/blob/travisCI/conf

[2018-02-23 20:48] eclare108213 commented on #90
We found with Icepack and some compilers that we didn't regularly run with turn up issues like this.    Can you tell which compiler and configuration is crashing?  And which line it's crashing on?  It's likely that some of the things we fixed in the Icepack driver have not yet been fixed in CICE - we need to identify those and get them fixed....  I'll look back through the Icepack PRs for this kin

[2018-02-23 21:59] eclare108213 commented on #90
I looked through the Icepack PRs, and nothing jumped out at me.  Most of the bug fixes were within the column physics modules themselves or the forcing, which is different from CICE's.  There could be a missing parameter initialization...  we'll need to debug specific cases.

[2018-02-23 22:08] anders-dc commented on #90
Thank you, I will dig out some more information and report back.

[2018-02-24 01:43] eclare108213 opened #91 "Finalize the release"
- [x] Complete [tasks for release](https://github.com/CICE-Consortium/Icepack/projects/2)
- [x] Create release notes at https://github.com/CICE-Consortium/CICE/wiki/CICE-Recent-changes
- [x] Update doc/source/conf.py version/release
- [x] Generate and check html and pdf documentation
- [x] Commit and push final changes to master including, at least,
   doc/source/conf.py
- [x] Create release branc

[2018-02-24 02:34] eclare108213 opened #92 "unused variables"
clean up unused variables in CICE
remove svn headers from all modules

[2018-02-24 03:11] eclare108213 opened #93 "CMIP6/SIMIP history output"

[2018-02-24 22:02] eclare108213 opened #94 "timers calls as in CESM"
CICE currently uses MPI_WTIME for calculating timings.  CESM uses GPTL.  Should we change this?
(revision 1121 in svn repository, cesm_cice branch)

[2018-02-24 22:04] eclare108213 opened #95 "confidence scores"
Track and post accumulated test results, automated if possible.

[2018-02-24 22:06] eclare108213 opened #96 "readthedocs"
Evaluate and possibly switch documentation to readthedocs, for better automation

[2018-02-24 22:24] eclare108213 opened #97 "snow, ice evaporation"
Check for potential bug.  This might be easier (or already fixed) as part of the CMIP6/SIMIP history output (#93).  Alex West's original email:

Hello Elizabeth,

Hope that you’re well.  I’ve been having a go at adding two new diagnostics to CICE to report ice and snow evaporation separately – apart from being in the SIMIP data request, I think they may be useful for my PhD on the Arctic energy bu

[2018-02-26 18:33] apcraig commented on #71
I agree we can close this issue.  There may be more changes regarding the results presentation, but what we have now seems to be working.

[2018-02-26 18:33] #71 closed

[2018-03-10 02:53] eclare108213 commented on #94
Info from @dabail10 in email:

Is GPTL generally available on most/all machines, or is it something that users would be responsible for installing themselves?  If the latter, then I'd be inclined to stick with what we've got.

[2018-03-13 13:03] anders-dc commented on #90
I can reproduce this bug from my local machine and the CICE master branch by running the `base_suite` with the `loft` environment:

    csh cice.setup --suite base_suite --testid travisCItest --mach loft --env gnu

It turns out that the `Division by 0` error message is cast by [configuration/scripts/cice.batch.sh](configuration/scripts/cice.batch.sh). The variable `$taskpernode` evaluates to zero

[2018-03-13 13:11] anders-dc commented on #90
I can mitigate this behavior by setting `setenv ICE_MACHINE_TPNODE 2` (instead of `1`). However, I didn't do this for Icepack.

[2018-03-15 17:48] anders-dc commented on #90
@apcraig, @eclare108213 Could you please check if the following command runs on your system and the master branch of CICE?

    ./cice.setup --suite base_suite --testid travisCItest --mach loft --env gnu

I am not sure I am qualified to mess with [configuration/scripts/cice.settings](https://github.com/CICE-Consortium/CICE/blob/master/configuration/scripts/cice.settings). Thanks!

[2018-03-17 18:26] eclare108213 opened #100 "document basalstress scheme and ellipse-related changes"
We need an overview description of the fast-ice scheme, referencing publication(s), and including full documentation of the new namelist variables.  Also describe hwater, bathymetry, and normalization of principal stresses.  Remove prs_sig from the namelist index, and add sigP.

[2018-03-19 22:02] eclare108213 opened #101 "github backups"
Create backups for the entire CICE Consortium github space (not just this CICE repo).

@apcraig and @dabail10 are already working on this.   The plan is for NCAR to include it as part of its regular CESM github backup process.

[2018-03-23 15:55] duvivier opened #104 "testing notifications"
Testing how this works. Assigned to @duvivier. Need @eclare108213 's input.

[2018-03-23 15:57] eclare108213 commented on #104
Thanks Alice.  Since this issue is assigned to you, I hope you get the notification...

[2018-03-23 15:57] eclare108213 commented on #104
and this is another notification method:  @duvivier

[2018-03-23 16:26] duvivier commented on #104
Yes, I got notifications for both. If you want to really test, you can set up another test. Assign it to Tony and then mention me in it. I am now "unwatching" the repo as well.

[2018-03-23 16:44] eclare108213 commented on #73
this is a test for @duvivier

[2018-03-23 16:46] duvivier commented on #73
@eclare108213 yep, got a notification here too. So I think by being assigned to an issue or mentioned in an issue, all notifications are working properly.

[2018-03-23 16:56] eclare108213 commented on #104
We determined that you'll still get notifications from a github repository even if you are not watching it, provided that you are assigned to the issue/conversation or @-referenced in it.  However, you do need to either check your github notifications or have them sent to an email address where you will see them.  In my case, I sometimes miss notifications from non-Consortium github repos even whe

[2018-03-23 17:30] dabail10 commented on #92
This is resolved through PR #105.

[2018-03-23 17:31] #104 closed

[2018-03-23 20:16] eclare108213 commented on #77
The CICE documentation still has create.case instead of cice.setup, with the old flags.  That should be fixed soon!

[2018-03-23 20:34] duvivier commented on #77
Oops, I just changed that all. Will do a PR soon.

[2018-03-23 22:09] duvivier commented on #96
was done by @apcraig . @duvivier still needs to add this info to the documentation.

[2018-03-24 16:43] eclare108213 opened #107 "order of run directory setup"
Have the scripts set up all of the elements of the run directory before beginning to compile the code.

[2018-03-28 15:29] eclare108213 opened #109 "have QC setup as part of default configuration for all runs?"
What is the overhead for doing the things needed for the quality control comparisons ("-s qc" to generate and position necessary files) for all simulations?   I've done a bunch of simulations without it, and now it would be nice to go back and check the qc output without having to re-run the simulations.

[2018-03-28 15:33] eclare108213 commented on #109
A big piece of the "necessary files" is 5 years of daily output.  We wouldn't generate that for every run, certainly, but if we were generating it anyhow...  maybe a different way to ask this question is this:  is there a relatively painless way to retroactively set up what's needed for the qc tests, if we happen to have the output already?

[2018-03-28 16:14] duvivier opened #110 "DOI info"
When we have a "general DOI" for the repo, we should add that information to the README.md as well as the documentation so that we can point users to that and ask them to please cite that when using this code.

Current Info:
https://zenodo.org/record/1205675#.Wru_HZPwbUI
https://zenodo.org/record/1205675#.Wru_SpPwbUI

We may also want to create a CICE-Consortium community to tag these releases and

[2018-03-28 16:18] anders-dc commented on #110
Hi Alice, the general DOI for CICE should be [10.5281/zenodo.1205674](https://doi.org/10.5281/zenodo.1205674).

[2018-03-28 16:27] duvivier commented on #110
@eclare108213 Do only you have access to the zenodo info for the Consortium? I'd be happy to set up the CICE-Consortium community, but I think you may have to since I don't have the login. That way we can associate all releases of both CICE and Icepack with this community.

[2018-03-28 16:47] eclare108213 commented on #110
I tried to create a cice-consortium community on zenodo, but it already exists.  Maybe you can edit that one, and we'll use it?  Otherwise we'll need to name it something else.  I used the icon below, and here's what I put under 'description':

The CICE Consortium is a group of stakeholders and primary developers of the Los Alamos sea ice model (CICE), formed to maintain the current CICE model for

[2018-03-28 16:51] mattdturner commented on #109
If I understand correctly, you are asking about how easy it might be to use the QC script on runs that already generated 5 years worth of daily output?  The script should already be setup to properly run with those inputs.

The problem would be that the QC tests (as far as I understand them) require instantaneous output, not averaged output.  So, while the script should run with the inputs from an

[2018-03-28 16:56] eclare108213 commented on #109
These are runs that I created for Andrew to analyze, and we kept the aisnap and hisnap fields, which are always instantaneous even when everything else is averaged.  I tried running the script on them and I get this error:

The script works when I use directories that were generated with -s qc.

[2018-03-28 16:59] mattdturner commented on #109
The script looks for files in the ``history/`` directories that start with ``iceh_inst.``.  Since the script says that there are 0 files, I would assume that the files do not start with ``iceh_inst.``.  I'd be happy to change the script to look for a filename that might work more universally, I just didn't want the script to also try to read data from files that do not provide the instantaneous ou

[2018-03-28 17:04] duvivier commented on #110
Hum... I had originally created a CICE-Consortium community, but I deleted when I realized that we couldn't share "curating" privileges with different users. I figured whatever user the zenodo releases were going to be associated with should be the curator. I just searched the zenodo communities and it says there aren't any communities matching either "CICE-Consortium" or "CICE consortium". Maybe

[2018-03-28 17:30] duvivier commented on #85
This has been completed for V6.0.0.alpha release.

There are only three places where we explicitly need to change the version in the documentation:
1.  /doc/source/conf.py  --> modify "version" and "release" so that the documentation is numbered properly when rendered.

2. /doc/source/intro/about.rst --> explicitly names the model release version.

3. /doc/source/intro/major_updates.rst --> explic

[2018-03-28 18:02] anders-dc commented on #90
I suggest we continue the conversation in #111, where we can directly work on the code.

[2018-03-28 18:02] #90 closed

[2018-03-28 18:23] eclare108213 commented on #110
I don't think there's a ciceconsortium master user for zenodo.  If you can't resurrect the community you created before, we'll need to name it differently.  CICE_Consortium?  CICE.Consortium?  I don't think we should use a space because it'll be part of the url.

[2018-03-28 18:40] duvivier commented on #110
I tried and I can't resurrect the community.

So when you try to create a community it says that the name cice-consortium is taken?
When I try to go to : https://zenodo.org/communities/cice-consortium/
It tells me the page is not found. I did not try again to create this community myself since I don't want to create it again if it has the same curator problems I listed before.

In contrast, I trie

[2018-03-28 18:42] duvivier commented on #77
Just adding to this (as a list for my reference):
- The quickstart, user's guide, and developer's guides all need to be thoroughly tested and updated with the correct documentation in the *rst files.

[2018-03-28 18:51] anders-dc commented on #110
Sorry, I have never used Zenodo communities. I suggest getting in touch with [Zenodo support](https://zenodo.org/support). Maybe the old user isn't entirely deleted from their system?

[2018-03-28 18:53] eclare108213 commented on #109
I see.  We'll need to think about this.  Options could be to allow hisnap to be read from any file name, or either hi or hisnap from iceh_inst.

[2018-03-28 18:56] duvivier commented on #110
Will do, thanks!

[2018-03-28 19:03] eclare108213 commented on #110
When you contact them, you could either ask them to resurrect it (and you’ll be the curator), or ask them to delete it completely so that I can create it again (and I’ll be the curator).  Or they can resurrect it and give it to me.  I do wonder if/how we can share duties.

[2018-03-28 19:05] duvivier commented on #110
I asked them if they could delete it entirely. I did mention that the reason we were doing all this is that we couldn't figure out how to share curator duty and that we'd determined there should be a master curator. Hopefully they have some useful advice.

[2018-03-28 20:03] duvivier commented on #96
completed with PR #112

[2018-03-28 20:03] #96 closed

[2018-03-28 20:06] duvivier commented on #85
Addressed with PR #112. Now the only documentation explicitly uses the version in only:
 /doc/source/conf.py
and
/doc/source/intro/major_updates.rst

The documentation itself still needs to be updated to be consistent with the current version, but I do not believe the explicit version number is referenced elsewhere. I'm going to close this for now and we will need to update the above two files wit

[2018-03-28 20:06] #85 closed

[2018-03-28 20:14] eclare108213 commented on #85
version number location is now noted at #91

[2018-03-30 17:18] apcraig opened #114 "OMP threading in CICE"
A few problematic OMP loops were unthreaded due to reproducibility problems found during testing.  grep for TCXOMP.  These are in ice_dyn_eap, ice_dyn_evp, and ice_transport_remap.  One issue may be thread safety in icepack_ice_strength, but it requires additional debugging.

More generally, we need to review and validate that threading is working properly in CICE and Icepack.

[2018-03-30 17:26] apcraig opened #115 "aero tracers implementation in CICE and Icepack driver"
The default setting for CICE and Icepack is NTRAERO=1 with tr_aero=false.  This leads to some problems in the indexing, specifically in the call to icepack_step_radiation where this array,

                          trcrn(i,j,nt_aero:nt_aero+4*n_aero-1,:,iblk),   &

is passed in as an argument.  When tr_aero is false, this array is not used, but because NTRAERO=1, it's passing a section of the arr

[2018-03-30 17:29] apcraig opened #116 "Test reporting in CICE and Icepack"
The report_results test reporting needs to be reviewed.  Pushing back to the wiki has been disabled in CICE because there are problems.    Both CICE and Icepack need to be synchronized and made consistent with the wiki with stability and backwards compatibility required moving forward.

[2018-03-30 21:25] apcraig opened #117 "Suspicous history writing errors with pgi"
We are getting errors in a limited number of test cases and machines,

conrad_pgi_smoke_gx3_1x2_debug_diag1_run5day
conrad_pgi_smoke_gx3_2x1_debug_diag1_run5day
throws this error,
0: Null pointer for a2d (/p/home/apcraig/cice-consortium/cice.travis/cicecore/cicedynB/analysis/ice_history.F90: 1344)

but the following non-debug runs pass

PASS conrad_pgi_smoke_gx3_1x2_diag1_run5day run
PASS conrad_p

[2018-03-30 22:20] apcraig opened #118 "TravisCI test suite"
We are running into reproducibility problems on travisCI as well as a problem with a 1x1 test.  The test output from a broader suite is below.  We are turning off failed tests for now so travis will pass.  But this needs to be sorted out.

The main issues are the answers are changing according to the testing when they shouldn't.  It would be good to see/get output from the tests and maybe we can h

[2018-04-05 17:54] mattdturner opened #119 "Crashes when using CCE"
@rallard77 and I have tested the most recent CICE code on 2 Cray machines using the CCE environment.  On both machines, every run fails to complete successfully.  The issue appears to be related to reading the input files.

Here is a snippet from the log file:
[code]
For reference, here is the same snippet section from a run with the Intel compiler:
[code]

The first `read_global` output line is i

[2018-04-05 18:15] apcraig commented on #119
I have seen the same issues.  There are a number of issues on the current CICE master that need to be addressed.  I am going to start working thru some of them.  In parallel, I think we also need to review and extend the test suite to improve coverage.

[2018-04-05 18:39] apcraig commented on #107
@hunke.  I just want to clarify.  You want the run directory to exist before even the build script is executed, not as part of the build script (for instance), correct?

[2018-04-05 18:55] apcraig commented on #107
Also, just wanted to discuss this a bit.  The idea behind the scripts is that at each step, the user can make changes and continue.  So cice.setup just creates the case directory, cice.build creates the executable, and cice.run sets up the run directory and runs the model.  If a user wants to change the run directory name in cice.settings before doing cice.run, that works perfectly fine.

If we st

[2018-04-05 19:42] mattdturner commented on #117
Debug runs with PGI include the `-Mchkptr` compile flag.  This flag is supposed to "Check for unintended de-referencing of NULL pointers."  `a2d` is an allocatable array, not a pointer.  Removing this runtime check results in the model running to completion.  This suggests to me that it is a problem with pgi, but that is just my opinion.

[2018-04-05 19:43] #119 closed

[2018-04-06 02:01] eclare108213 commented on #107
Having a separate script that the user could run independently, but which is also called by cice.run, would be fine as long as existing directories and content aren't wiped out by the second call.  My aim is to be able to get the run directories set up before a job is submitted to actually run them.  For standard testing this is not important, but for development or production, often the configura

[2018-04-11 20:02] apcraig commented on #82
Resolved in #121

[2018-04-11 20:02] #82 closed

[2018-04-11 20:14] apcraig opened #122 "Underflows"
gfortran with debug flags is trapping several underflows in CICE.  Some are known (ice_dyn_evp/eap) and others may not be (construct_fields in ice_transport_remap.F90).   gfortran does not have an underflow to zero flag, and I'm not sure what happens when this arises without trapping.  I assume it is underflowing to zero gracefully, but not sure.  there are several things we could try.  we could
-

[2018-04-11 20:28] apcraig commented on #122
The travis Macros file has underflow and invalid traps turned off right now.  zero and overflow is turned on.  On other machines with gnu, we are still trapping all 4 by default.

@anders-dc just wanted to add you to the discussion.  Also, I notice there are differences in other compiler flags in travisCI_gnu and conrad_gnu (for instance).  Should we consolidate towards a more consistent set of se

[2018-04-11 20:38] anders-dc commented on #122
Macros.travisCI_gnu is derived from the Icepack equivalent, which, in turn, was derived from the Macros.loft_gnu file. I think it is a good idea to carefully review all flags and establish a common base.

[2018-04-11 20:41] mattdturner commented on #122
I think its ok to remove the check for underflows.  While it is helpful sometimes to trap underflows, in my experience either flushing to 0 or allowing denormalized numbers is acceptable in most cases.  The underflow check was likely initially included in GNU compile flags for debug since I initially tried to replicate the Intel compile flags.  Intel `-fpe0`, though, automatically includes `-ftz`

[2018-04-11 20:49] apcraig commented on #122
@anders-dc @mattdturner I agree.  There is a history with underflows in CICE.  There was a time when they caused aborts and/or the underflows slowed the code down a lot.  And there weren't always flush to zero compiler options.  In recent years, we've been able to use a compiler flag, flush to zero, and that seems to work well and not slow the code down.  Manual coding around underflows has been t

[2018-04-11 22:46] eclare108213 opened #123 "update namelist and documentation"
Some namelist parameters changed in Icepack and probably should be made consistent in CICE.

In Icepack we have all data in data_dir.
Can we do this in CICE, or do we need to keep  atm_data_dir, ocn_data_dir, bgc_data_dir?

Add to CICE namelist:

Same parameter names but different values:

[2018-04-11 22:48] apcraig commented on #122
I am looking at the gnu Macros files and am struggling a bit to figure out what compiler flags to use.  Some of the current flags are g77 flags, some are gfortran flags, some are not documented at all that I can find.  We have a couple different sets, the ones for conrad, onyx, and gordon.  Then travisCI and loft are slightly different.  Yet, I also don't see any complaints from the compiler about

[2018-04-11 22:57] eclare108213 opened #124 "rectangular "box" configuration"
Create a box configuration for testing.  This is needed for some namelist options,

but could also be useful for others, especially dynamics.  Configurations like this have been used for developing EVP (Hunke "Linearization Issues" paper, JCP 2001) and for testing advection schemes (e.g. rotating a slotted cylinder inside the box, or out one side and in the other for cyclic boundary conditions).

[2018-04-12 13:45] rgrumbine commented on #74
I'll suggest a split of the constants.

In the first group are some constants that are absolute mathematical constants and cannot be changed -- unit conversion factors, pi, p25 (though I'm concerned about defining numbers this way).  Also some that define the model's working -- field_loc, and field_type.  And a few which are strongly constrained by physics -- gravitational acceleration at the surf

[2018-04-13 18:02] eclare108213 commented on #124
[LH_MWR2004.pdf](https://github.com/CICE-Consortium/CICE/files/1908423/LH_MWR2004.pdf)
[Hunke_JCP2001.pdf](https://github.com/CICE-Consortium/CICE/files/1908424/Hunke_JCP2001.pdf)
Additional comments are in the design document at
https://docs.google.com/document/d/1Bz7JgnYlC9OjdNtat65oSpWWryklc-bWHQGfntQsHrM/edit#

[2018-04-16 22:06] apcraig commented on #47
I am closing this.  Please reopen if it's not complete.

[2018-04-16 22:06] #47 closed

[2018-04-19 14:36] mattdturner commented on #49
I think this was addressed in #125 .  The wiki is now showing timings for tests (https://github.com/CICE-Consortium/Test-Results/wiki/3eed537e29.conrad.intel.180418.000150).

[2018-04-19 14:38] eclare108213 commented on #49
Cool, thank you.

[2018-04-19 14:38] #49 closed

[2018-04-20 04:15] nemequ commented on #117
If you want to add a PGI build to CI, I have a script at https://github.com/nemequ/pgi-travis which should make it pretty easy.

[2018-04-20 13:35] anders-dc commented on #117
@nemequ, cool, thanks for sharing!

[2018-04-21 01:54] nemequ commented on #117
Unfortunately,Intel changed how their license server works after I wrote that. Now you can only have (IIRC) 5 active installations, and the only way to deactivate an installation is to log into their web site and manually remove it (i.e., we can't just uninstall the compiler after everything else is done). Unless you want to log in to Intel's web site every few builds you'll end up with build fail

[2018-04-22 02:07] eclare108213 commented on #89
I've suggested some namelist combinations at
https://docs.google.com/spreadsheets/d/1dMzOC2GAsGqXJvs7xHybCQkPRneeUm78Ah1OXp34bAQ/edit?usp=sharing

Column B is the default ice_in values, and columns C through I are my proposed groupings.  There is some overlap, but I don’t think that’s a bad thing.  The remaining columns are existing options, except M (gx1prod, for production) which I’d like to add

[2018-04-24 01:08] proteanplanet commented on #89
Thanks Elizabeth,

This looks great.  May I suggest that in the initial phase, the tests are run with every imaginable compiler check switched on, so as to catch problems with incompatible namelist options.  That’s how I have detected some in the past, including checks on uninitiated variables being used.

- Andrew

[2018-04-24 15:58] apcraig commented on #89
@eclare108213, I will try to put some of these new options and new tests in place.  I think a general question is do we want to create individual options to turn on various specific pieces and then have the test be dyneap_tdedd_kdyn1_cbubbly_.. or do we want to have some the individual options (which I think are generally useful), but then create options called testA, testB, testC (or some other n

[2018-04-24 16:00] apcraig commented on #89
Just to add quickly.  The testA, testB, testC thing is quite convenient but you can't really tell from the testname what is being tested.  While the long, multiple option way of describing a test provides some greater insight into the test when results are posted.

[2018-04-24 17:45] eclare108213 commented on #89
I agree, but the names get really long.  We should keep small collections of namelist combinations that need to all be changed together, for everyone's convenience.  I'm not sure we need every individual change in a separate file, but I'm not opposed to that.  I was thinking that our tests might be named something more useful, even if they don't include every item in the name.  I'm traveling for t

[2018-04-24 22:41] apcraig commented on #89
I agree than an optimal strategy might be somewhere in between.  Group multiple namelist settings together to some degree then setup tests with may 3-4 options.  Maybe we can group them by dynamics, physics, and a couple other groups?  Another idea might be to setup options files that contain a list of other files.  So files.testA might contain a list of set_nml and set_env files or something.  It

[2018-04-24 23:09] apcraig commented on #124
I will try to set this up.  What is the grid size for the rectangular box?  It looks like 128x128 might be one based on a quick look at LH_MWR2004.  Do we also want to support a smaller one, say 32x32 for pure testing?  We can probably create a few different rectangular grids as needed.  Should one/some not be equal grid points on both sides?  I will start with 128x128 and see what happens.

[2018-04-24 23:47] apcraig commented on #124
It looks like forcing data is an issue just to get this off the ground.  I am trying to figure out if there are any internal options.  Giving a few a try, I see 'default', 'box', and 'oned' for atm_data_type and then 'default' and 'oned' for sst_data_type and sss_data_type.  Several seem to run with a box of 128x128.  Any thought about what is reasonable as a starting point?

[2018-04-25 00:28] eclare108213 commented on #124
@apcraig, the v4 edeco code that I attached to an email to the testing team (not sure if I attached it to the issue in github but can) should have a complete setup, including grid configuration, initialization and forcing. It might not be exactly what we want but close.

The oned option was for column testing. I don’t think we need to keep that unless we want to replicate an Icepack test in CICE,

[2018-04-25 02:02] eclare108213 commented on #89
Looking through the alt01, alt02 etc options in the spreadsheet, I realize that alt01 is not consistent in that kdyn=0 (off) and basalstress and formdrag are on.  It's not a bad idea to test that kind of combination, but it's not a useful test for basalstress and formdrag.  basalstress=T also for alt03, so maybe formdrag should be moved to that one too.

[2018-04-25 02:14] eclare108213 commented on #124
I thought that I'd put this info into an issue, in addition to sending email, but I'm not finding it now...  so here it is:

I found the box tests that I’ve used in the past, in the old svn repository.  The code is in a private branch, but I’ve taken out the ‘private' module (elastic-decohesive dynamics) and some of the bigger, irrelevant files (gx1, gx3, pdfs, etc);  the rest of the code is attac

[2018-04-25 03:59] apcraig commented on #89
I have setup some new options in the scripts and am testing the "new" alt01 now.  I can't get it to run.  It blows up.  I have tried a few different combinations of namelist.  even just setting NICELYR=1, kcatbound=1, kitd=0, ktherm=0 with no pond tracers results in an abort.  I think it might take some careful testing to come up with some cases that actually do run.  Maybe what I can do is setup

[2018-04-25 11:46] eclare108213 commented on #89
Are you starting from the restart file?  If so, try starting from an ice-free initial condition (I think ice_ic='none').  If the ITD or thermodynamics is different, it will blow up using the restart.  If no ice grows because of the forcing, we'll need to fix that...

[2018-04-25 21:48] eclare108213 commented on #110
The zenodo community is here, with links to releases and DOI info:
https://zenodo.org/communities/cice-consortium
Closing issue.

[2018-04-25 21:48] #110 closed

[2018-04-25 21:50] eclare108213 commented on #101
The repos are now being backed up at NCAR.  We need to check that the data is available and usable, should we need it.  My understanding is that the "metadata" (wikis?) is not yet backed up.

[2018-04-27 14:47] dabail10 opened #128 "Threading issue in ocn_data_hadgem"
workx and worky need to be OMP PRIVATE here. Found by Keith Lindsay, NCAR

!$OMP PARALLEL DO PRIVATE(iblk,i,j)
         do iblk = 1, nblocks
            do j = 1, ny_block
            do i = 1, nx_block

               workx      = uocn(i,j,iblk)
               worky      = vocn(i,j,iblk)
               uocn(i,j,iblk) = workx*cos(ANGLET(i,j,iblk)) &
                                  + worky*sin(AN

[2018-04-27 23:30] apcraig opened #130 "Namelist conflict aborts"
It seems there are cases where namelists can be setup inconsistently and CICE takes some initiative to reset the values to something more appropriate.  I would recommend we move away from this approach.  If namelists are in conflict, an error should be printed and the model should abort.  Users should have to setup the namelist correctly themselves.  I believe letting the model make the changes in

[2018-05-01 04:10] eclare108213 commented on #130
Yes, CICE 'fixes' inconsistencies.  The idea was to  make the code as 'friendly' as possible.  It's super annoying to a user when the code crashes, especially when it takes down a whole coupled system that might have been waiting in the queue for days.  There are other ways to provide useful information.  Of course we can  change the code behavior so that instead of changing parameter/flag values,

[2018-05-01 21:46] apcraig commented on #130
I understand that logic.  I know it's annoying when a user manually changes namelist and then the model fails.  But at least they are learning and it's on them to setup the namelist.  And a user can count on whatever they set to actually be used, rather than silently fixing itself.  Most users will not pick up on the WARNING messages in the log file until later, if at all and I personally think th

[2018-05-01 23:57] eclare108213 commented on #130
I am amenable to these ideas, though I agree that having a preprocessor to check for conflicts is low priority.  One problem is that defining whether there is a “conflict” is not clear-cut.  Some parameterizations are based on specific assumptions or dependencies that are straight-forward; these generate conflict warnings/resets in the current code.  Other cases might be okay from an “it runs” sta

[2018-05-02 00:27] apcraig commented on #130
@eclare108213, we are on the same page.  I agree with the strategy you outline.  I would even go a little farther and say users should not be encouraged to use the -s option, just create a case, and edit the namelist from there.  That's why everything is resolved after cice.setup is run.  I agree the main purpose of the -s options is for automated testing.  Users might or might not leverage them,

[2018-05-02 02:28] eclare108213 commented on #130
I'd like some other members of the testing team to weigh in on the implementation.  @rallard77 @mattdturner @dabail10 ...  We need to balance simplicity & ease of use against complexity & flexibility, for two sets of scripts users (Consortium testing/developers and coupled modeling centers), for two main purposes (testing and configuration guidance).  I expect that our users will be willing to dig

[2018-05-02 02:38] apcraig commented on #130
Just another quick comment.  For coupled models, the cice scripts will probably not be used at all.  In fact, there has been no requirement like that built into the current scripts.  I assume that other groups that bring in CICE to their coupled system will have their own build and namelist generation.  We could try to have the cice scripts work in coupled systems, but we'd need a bunch of input a

[2018-05-03 15:01] rallard77 commented on #130
I agree in keeping the options simple, clear, but robust. I like Tony's suggestion to not advertise the "-s" option. I agree that bad namelist combinations should abort, and the burden would fall on the user to read the logfile and see the recommendations for what could/should be changed. I feel we are in a good position to automate the test scripts for both Icepack and CICE. I recommend we automa

[2018-05-04 20:34] eclare108213 commented on #130
Suggestions for dealing with the code's consistency checks.  I'm generally not in favor of aborting unless it's really necessary.  There are cases where I think we can state the assumptions in the documentation and maybe warn at runtime, e.g. the first line below.

The cases below are only the warnings and resets, not the cases that already abort.

**general/ice_init.F90**

      if (trim(runtype)

[2018-05-04 20:43] dabail10 opened #132 "SW components reset to zero"
I'm working on this, but I wanted to log it. The shortwave components (swvdr, swvdf, swidr, swidf) are set via ice_forcing.F90 in prepare_forcing. This just distributes fsw that is read in. However, init_coupler_flux zeroes out these components again. So, I have a case where the diagnostics are reporting zero incoming shortwave all the time, *except* just after a restart. I think this might be cau

[2018-05-07 22:04] apcraig opened #133 "Add a NUOPC cap"
We want to add a NUOPC cap to CICE to support coupling within NUOPC coupled frameworks.  This should probably come after validation with the mct cap in RASM.

[2018-05-08 15:17] dabail10 commented on #132
This is my fault. I added an initialization statement in the subroutine read_data for the intent(out) field_data. I'm thinking this needs to be intent(inout) and only initialized one at the beginning.

Dave

[2018-05-08 16:06] dabail10 opened #134 "Ordering of namelist"
I know this should not be an issue, but on hobart with the NAG compiler, the order of the namelists in ice_in matters. As long as it is not a big deal, I would like to have these in the order that they are read in in ice_init.F90.

Dave

[2018-05-08 16:46] eclare108213 commented on #134
Which ones are out of order?
DMI has suggested breaking them out into individual files.

[2018-05-08 16:51] dabail10 commented on #134
The order in ice_init.F90 is:

setup_nml
grid_nml
tracer_nml
thermo_nml
dynamics_nml
shortwave_nml
ponds_nml
forcing_nml

So domain_nml would move down to just before bgc_nml. forcing_nml would move up to just after ponds_nml and before domain_nml. Technically, we could introduce a "rewind" for each of these reads, but this reordering also works.

[2018-05-08 19:47] apcraig commented on #134
I would make an argument that we do not want to split them into separate files and it shouldn't matter what order they appear.  If nag is complaining, then is there something we can do in the implementation to make it stop complaining.  There should not be a requirement that the namelists appear in a certain order and we should not test that they are in a certain order.

If nag is throwing bunches

[2018-05-08 19:55] dabail10 commented on #134
No, NAG simply aborts because it cannot read the namelist in the current order. A way to fix it more generally is to put a "rewind" in there after each read statement.

Dave

[2018-05-08 20:00] eclare108213 commented on #77
If ICE_RUNLENGTH has been documented, this issue can be closed.  I don't remember seeing that.  ??

[2018-05-08 20:49] apcraig commented on #134
OK, I assumed we had a rewind in the implementation.  If not, we should add that.

[2018-05-08 20:55] apcraig commented on #130
I am going to work on this as part of #129.  I will try to update the "warning" implementation as outlined above, update the options as needed, and update the test cases.

[2018-05-08 21:00] eclare108213 commented on #116
@apcraig can this issue be closed?

[2018-05-09 01:22] eclare108213 opened #135 "gx3 grid/kmt and forcing do not match"
There are some grid points where the gx3 land mask and forcing data do not match.  We could re-create the forcing (maybe), or perhaps it's easier to fix the land mask data to fill in points that do not have forcing data from the files.  Those points are currently set to the internally defined default values for the forcing fields.  Or maybe we don't need to worry about this, since the gx3 configur

[2018-05-09 21:01] eclare108213 opened #136 "Test I/O options"
binary, netcdf, pio

The binary option does not compile...

[2018-05-11 16:29] apcraig opened #137 "frz_onset not bit-for-bit with different decompositions"
In recent testing, the restart field frz_onset is not bit-for-bit with different decompositions in the decomp_suite.  This error occurs at 1 gridcell only and needs to be further debugged.  Some thoughts as to what might be causing this are missing non-initialization, gx3 forcing issues, or an issue on a halo.  But those are all speculation at this point.

[2018-05-11 16:31] apcraig opened #138 "boxrestart test is failing exact restart"
The boxrestore test does not restart exactly.

[2018-05-11 16:32] apcraig commented on #130
This has largely been addressed in #129 but still needs to be completed for the bgc section of code.

[2018-05-11 17:44] apcraig opened #139 "Timestep documentation and implementation consistency"
PR #83 was closed and still needs to be addressed.  See initial discussion there.  Basically, I this is a documentation issue, but maybe also an implementation issue.  The last comment in the PR was

"Then it makes sense to make the code and the documentation consistent. We can certainly use dt_dyn in the documentation instead of dt, in reference to the dynamics. It's true that dt is used both as

[2018-05-11 17:49] apcraig opened #140 "Need upwind advection test -> Test coverage and Options Implementation"
In the test matrix,

https://docs.google.com/spreadsheets/d/1dMzOC2GAsGqXJvs7xHybCQkPRneeUm78Ah1OXp34bAQ

alt04 is supposed to test the upwind advection scheme but this causes the model to fail so remap is being used temporarily. We need to add or modify one of the tests to cover upwind.

[2018-05-14 16:55] eclare108213 commented on #135
Another reason to address this via the land mask:  we could also change some of the values in land-fast ice regions so that the ocean depth is less than 25 m.

[2018-05-22 21:27] eclare108213 commented on #137
I tried to run the decomp suite on pinto and it fails because the maximum number of tasks per node is 16, which makes taskpernode=16/20=0 in cice.batch.csh.  Not sure what to do about this kind of issue.

[eclare@pi-fe1 CICE.ech]$ cice.setup -m pinto --grid gx3 --test restart --pes 1x20x5x29x80 --set dsectrobin --testid e2

cice.setup:
ICE_SANDBOX  = /turquoise/usr/projects/climate/eclare/CICE.v6.

[2018-05-23 02:50] eclare108213 commented on #137
This is not obvious to me.  I'm getting 4 failures (commenting out the problematic 20-thread case):

I reran with debugging turned on (both with and without -g) and got the same results, so everything is initialized (somehow).  There could be multiple problems; the 8x10 block size will have some padded blocks, and the 1-processor runs are using a partially separate code base from the mpi runs.  In

[2018-05-24 20:18] apcraig commented on #137
I will looking into the 1x20 issue.  We should be able to have 20 threads even if there are 16 cores.  I think this is just a logic issue in the scripts that needs fixing.  My recommendation on the 1x20 test is to do 1x16 or even 1x8.  The blocksize should still work fine for that case.  I agree that serial vs mpi could be playing a role, but it's does not seem to be confined to just that.  My gue

[2018-05-24 21:40] #132 closed

[2018-05-24 21:40] dabail10 commented on #128
I fixed this. It will be in a PR soon.

[2018-05-24 21:59] eclare108213 commented on #137
The grid point in global coordinates is i,j = 69,3.  To find the local coordinates including task and block number, we'll need to dig into the decomposition code...  set dbug=.true. in subroutine create_blocks (in cicecore/cicedynB/infrastructure/ice_blocks.F90) to identify which block this point is in.  I'm out of time -- this is an incremental step, at least.

[2018-05-25 04:41] eclare108213 commented on #137
This note is for myself, for future reference.
CICE has never gotten bit-for-bit identical diagnostics, unless the cpp flag for that is turned on (DITTO I think).  So comparing the diagnostic files is a red herring -- it looks like the runs differ from the first time step, in all variables.  The restart files do not.
This is the relevant grid cell in the two decompositions:
 pinto_intel_restart_gx

[2018-05-31 21:30] eclare108213 commented on #137
I found the problem but haven't had a chance to fix the code or test it.  In subroutine init_restart_read, we need to broadcast nyr when use_restart_time is true.   Having the wrong value of nyr means that new_year is not set correctly except for master_task, and that can cause the freeze and melt onset diagnostics to be reset incorrectly.  It might also be a good idea to broadcast month, mday, se

[2018-06-01 18:28] eclare108213 commented on #100
Completed in PR #142

[2018-06-01 18:28] #100 closed

[2018-06-04 19:21] dabail10 commented on #133
Note this is both a CICE5 and CICE6 NUOPC cap. How are we going to handle the CAP for CICE5? The plan was not really to update the old SVN trunk part of github. Thoughts?

[2018-06-04 20:28] apcraig commented on #133
We will add a cap to CICE6 in the github repo.  If others want to use older versions of CICE with NUOPC, it's up to them to implement and support a cap. I don't see any reason to provide this for the community with CICE5 at this point.  NEMS already has a cap for CICE5, and CESM has a cap for CICE5.  RASM is using the colpkg version and does not have plans to go to NUOPC anytime sooner.  I believe

[2018-06-04 23:18] apcraig commented on #74
I have added ability to set the cice constants via an init interface and this is being called in the rasm coupling layer.  I have removed the constants directory and migrated a more flexible constants file into cicecore/shared.  This is currently on fork apcraig, branch rasmA.  It will be PR'ed to the master after further testing.

[2018-06-04 23:20] apcraig commented on #75
Testing has begun in RASM.  There is a branch in the rasm repo, cice6 where development and testing are happening.  The CICE and Icepack rasmA branches in the fork apcraig are being synced with the NPS svn code.  Eventually, the rasmA branches will be merge to the consortium.  More testing is needed.

[2018-06-07 23:14] eclare108213 commented on #136
PR #148 addresses the binary I/O issue.
We need to add standard I/O tests to our base suite.

[2018-06-11 19:12] proteanplanet opened #150 "Albedo output by surface type"
We need to work on appropriate albedo output categorized by surface type that makes physics sense.  Currently, when a surface type does not exist, or when astronomical twilight has all but passed to night, albedos according to melt pond, snow or bare ice surface types are set to zero. Upon internal averaging for model output, for example, that bare ice albedo can then be less than melt pond albedo

[2018-06-11 19:28] eclare108213 commented on #150
Does the albcnt counter not work properly, or is it not applied to the fields you need?  It is intended to prevent zeroes from being included in the averages.

              ! back out albedo/zenith angle dependence
              if (avail_hist_fields(n)%vname(1:6) == 'albice') then
              do j = jlo, jhi
              do i = ilo, ihi
                 if (tmask(i,j,iblk)) then

[2018-06-11 19:47] dabail10 commented on #150
This accounts for the sun above the horizon, but not the presence of snow/bare ice/ponds. Also, what do we average in or not when there is no ice?

Dave

[2018-06-11 20:22] proteanplanet commented on #150
Dave is correct.  There are a number of options to address the problem.  The simplest option is to only allow bare ice, snow, and bare ice albedo to be output as instantaneous fields.  These  instantaneous fields are already correct in CICE in that a zero value flags night-time or a non-existent surface type, and otherwise gives the correct albedo from Delta-Eddington.  The most complex option is

[2018-06-11 20:55] eclare108213 commented on #150
Would it make sense to create a diagnostic tracer for tracking the albedo?  It would depend on the ice fraction and be calculated based on the fractions of surface types at each time step, and it would work analogously to Tsfc, which takes a particular temperature where there is no ice.  Advection doesn't matter for either Tsfc or albedo since they are determined purely thermodynamically, but we c

[2018-06-11 21:43] proteanplanet commented on #150
I think the tracer idea is a really good one.  It will, of course, add computational expense, so we'll need a flag to switch it on, and I feel the default should be for it to be turned off.  The albedo tracers, combined with the option of outputing instantaneous albedo as mentioned above, would cover all we need to know about surface-type albedo.  I think this is important not just for BGC, but al

[2018-06-18 13:23] #137 closed

[2018-06-24 23:40] apcraig commented on #136
PR #152 addresses the pio I/O issue.  We still need to add tests.

[2018-06-24 23:44] apcraig commented on #107
Setup_run_dirs.csh was added in PR#125 in the configuration/scripts directory.

[2018-06-24 23:44] #107 closed

[2018-06-24 23:46] apcraig commented on #75
See PR#152 and Icepack PR#208

[2018-06-24 23:46] apcraig commented on #74
PR #152

[2018-06-24 23:51] apcraig commented on #116
I think we're OK now on the icepack trunk and PR 208 in icepack brings icepack scripts up to date with cice.

[2018-06-24 23:51] #116 closed

[2018-06-27 19:33] dabail10 opened #154 "EAP floating point exception"
Interestingly, the whole base suite with intel on NCAR/hobart is passing. However, with NAG I have the two EAP tests failing with a floating point exception. I will work on this.

Dave

[2018-06-27 20:20] eclare108213 opened #155 "NOAA issues and testing stats"
From Bob G:

[2018-06-27 20:53] proteanplanet commented on #150
Further progress has been made on this, with Marina Frants determining that the instantaneous albedo-by-surface-type is also incorrect.  We believe this is caused by averaging by area of the thickness category in the output, rather than by surface type area within each category, and Marina and Dave are working together to rectifiy the problem.   Marika has suggested output effective albedo (outgoi

[2018-06-27 21:08] proteanplanet opened #156 "CICE6 testing in RASM"
This new issue is being opened to keep a log of the first implementation of CICE6 in a coupled model, so that we have a record of the progress being made, and the changes feeding back to CICE6 as a result of implementation in the Regional Arctic System Model (RASM).   This coupling is being worked on by Tony Craig, Andrew Roberts and Robert Osinski.  First up, we have CICE6 working in RASM in G-ca

[2018-06-27 21:08] proteanplanet commented on #156
Please assign Andrwe Roberts and Tony Craig to this issue.

[2018-06-27 22:22] proteanplanet commented on #75
A few details about this ongoing work: This coupling is being worked on by Tony Craig, Andrew Roberts and Robert Osinski. First up, we have CICE6 working in RASM in G-case simulations using RASM Version 2.1, which uses WRF 3.7, CICE 6-alpha, POP2, and VIC 5, and have completed an integration of the ice-ocean simulations from 1979 to 2009 on an SGI Ice X . Plots evaluating the climate of the model

[2018-06-27 22:23] proteanplanet commented on #156
Please close this issue, as it has been merged with #75

[2018-06-27 22:23] #156 closed

[2018-07-04 19:36] JFLemieux73 opened #159 "gravit not defined in ice_dyn_shared?"
In ice_dyn_shared we have:

#ifndef coupled
         ! calculate tilt from geostrophic currents if needed
         strtltx(i,j) = -fm(i,j)*vocn(i,j)
         strtlty(i,j) =  fm(i,j)*uocn(i,j)
#else
         strtltx(i,j) = -gravit*umass(i,j)*ss_tltx(i,j)
         strtlty(i,j) = -gravit*umass(i,j)*ss_tlty(i,j)
#endif

I run CICE6 non-coupled so my code compiles and works fine. However, I have the im

[2018-07-10 03:38] eclare108213 commented on #74
I think this has been addressed.  If further work is needed for the various modeling centers, we can create a new issue.

[2018-07-10 03:38] #74 closed

[2018-07-10 15:36] eclare108213 commented on #118
Was this issue fixed or does travisCI still have the failing tests turned off?

[2018-07-10 17:41] apcraig commented on #118
This seems to have been fixed with #125.  We are consistently passing a bfbcomp test that failed before.  We have reduced the number of tests a bit due to cost, but I believe this is fixed.  I will close this.

[2018-07-10 17:41] #118 closed

[2018-07-30 16:17] apcraig opened #162 "time manager concerns"
There have been some long standing time manager questions.  Particularly, the relationship between istep, istep0, istep1, idate, idate0, and dt when intializing, restarting, and changing calendars.  As well as how they impact history and restart file, their time axis, and what should be written to and used on restart files.  And finally how a coupled model differs from a stand-alone run and what s

[2018-07-30 18:59] apcraig commented on #162
See https://docs.google.com/document/d/15HmyNDbU0x13BlKWZnYjrTpeetzGh6H9z4grVmqBdEc

[2018-08-02 20:44] apcraig commented on #138
this is fixed in #163 with restart_ext mod.

[2018-08-02 23:05] apcraig opened #164 "restart and run comparisons"
Restart and run comparisons are done using "cmp" on binary restart files based on 'ls -lt'.  This is OK for netcdf output, but binary produces multiple restart files, so only a subset of the state is checked.  Also, binary and netcdf runs cannot be compared using this technique.

We probably need to extend this to test "all restarts" somehow and/or add an option to compare the diagnostic log files

[2018-08-03 15:17] mattdturner commented on #164
It wouldn't be very difficult to have the scripts setup to loop through all restart files (binary or netCDF) and compare each pair.  This would compare every restart file that is created, instead of (what I think is) the current behavior of only comparing the final restart file.  Or is the issue that CICE creates multiple binary restart files for each date-time group?

Comparing binary restart fil

[2018-08-03 16:47] apcraig commented on #164
thanks @mattdturner.  The binary version produces multiple restarts per timestep, optional tracers each have their own file.  I think we need to be able to compare all the files if we are going to use restarts to check bit-for-bit.  I also agree comparing binary to netcdf is not a realistic option.  In that case, I'm wondering if we can compare the log files.  There are several issues including wh

[2018-08-03 17:24] eclare108213 commented on #164
What would be the reason for comparing binary restart data with netcdf?  Is there a chance that those might not be BFB anyhow, because of the formatting, even if the runs are otherwise identical?
e

[2018-08-03 17:31] apcraig commented on #164
The reason to think about doing this is to make sure a run with binary and a run with netcdf output are identical.  That requires other things like identical initial conditions.  Thinking about it more, maybe the ability to compare two runs with different IO is not really an important test case.  Although I do think there is some merit in having an ability to compare log files from two runs to che

[2018-08-03 17:40] eclare108213 commented on #164
I agree that comparing the log files would be useful because of the global sums, which could show differences in fields that aren’t in the restarts.  In my opinion, comparing binary and netcdf output is a lower priority than some of the other things that need to be done.

[2018-08-03 20:58] eclare108213 commented on #101
@dabail10 @duvivier   Please, could you get an update on the status of the backups?  What is being backed up, how often, and how to we access them should the need arise.  Thx

[2018-08-03 22:05] eclare108213 opened #165 "create DOIs for CICE versions prior to v6"
create DOIs
link to zenodo community
add links on wiki

[2018-08-06 16:15] mattdturner commented on #164
So it sounds like we want to always compare both the restart files AND the log files?

[2018-08-07 17:48] mattdturner opened #166 "Automate the QC tests"
There needs to be an automated process to validate the QC script when updates are made.  My current thoughts are to have 2 scripts.  1 of the scripts would build and submit 4 cases (`qc`, `qc_bfb`, `qc_nonbfb`, and `qc_fail`; see https://github.com/CICE-Consortium/CICE/pull/161 for more information on the 4 cases), and the other script would then run the QC script in the combinations of cases.  Th

[2018-08-08 02:30] eclare108213 commented on #114
Let's look to see whether @mhrib addressed the ice_dyn_* loops in his refactorization

[2018-08-08 02:39] eclare108213 commented on #166
See also #109

[2018-08-08 02:43] eclare108213 commented on #162
see also #139, #23

[2018-08-08 02:59] eclare108213 commented on #159
@apcraig, would you check this in the version of RASM that includes CICE v6, please?  Maybe you already fixed it.

[2018-08-08 03:03] #138 closed

[2018-08-08 03:18] eclare108213 commented on #134
@dabail10 you've recently rearranged the namelists in #153.  Did that take care of this issue?

[2018-08-08 03:25] eclare108213 commented on #124
see also #151

[2018-08-08 03:45] eclare108213 commented on #114
see also #128

[2018-08-09 15:31] rgrumbine opened #168 "NWS UFS w. CICE6"
Testing FV3-ocean-CICE6(to be) in NWS platforms

[2018-08-09 15:37] duvivier opened #169 "Documentation"
Need to make documentation consistent with Icepack. Main concerns:
- PDF author list
- Table/Figure captions and referencing

[2018-08-09 22:17] eclare108213 commented on #123
We also need to make emmissivity a namelist parameter, see https://github.com/CICE-Consortium/Icepack/issues/211

[2018-08-09 22:44] eclare108213 opened #170 "Icepack issues"
I haven't figured out how to add Icepack issues to the CICE v6 project board, so here are Icepack items for the release:

- code coverage, https://github.com/CICE-Consortium/Icepack/pull/202
- emissivity namelist, https://github.com/CICE-Consortium/Icepack/issues/211

[2018-08-09 22:51] eclare108213 opened #171 "configure rectangular "box" case for symmetry tests"

[2018-08-09 22:55] eclare108213 opened #172 "configure rectangular "box" case for advection tests"
We need a rotating slotted cylinder to test the advection options (incremental remap, upwind).  This could also be used to test the boundary conditions, if the velocity field were (u,0) and the x boundaries were cyclical.

[2018-08-13 21:40] apcraig commented on #77
ICE_RUNLENGTH is documented and I will close this, but we will need to review documentation before every release.

[2018-08-13 21:40] #77 closed

[2018-08-13 21:57] apcraig opened #174 "BGC testing"
We need to add bgc tests to the CICE test suites.  We also need to finish addressing #130 for the bgc namelist at that time.  If someone helps me create a set of bgc namelist settings, I can help implement and validate.

[2018-08-14 16:27] njeffery commented on #174
@apcraig , @eclare108213 :  I found some bugs in the bgc code that need to be addressed first.  Hope to submit a PR by Wednesday.

[2018-08-14 19:33] eclare108213 commented on #174
see PR #175

[2018-08-15 18:41] apcraig commented on #159
It looks like neither RASM nor CESM set the "coupled" cpp.  They both use the CESMCOUPLED cpp.  The coupled cpp is used in limited places in CICE5 and CICE6.  We should review that cpp and decide whether it should be removed, changed, or otherwise.  The cpp appears in

cicecore/cicedynB/infrastructure/comm/serial/ice_communicate.F90
cicecore/cicedynB/dynamics/ice_dyn_shared.F90
cicecore/cicedynB/g

[2018-08-24 20:43] dabail10 opened #177 "Machine support for flush command"
We have some CPP logic for IRIX64, CRAY, OSF1, SUNOS, LINUX, NEC_SX, UNICOSMP, and AIX in ice_fileunits.F90. First, I suspect we don't need to support all of these particularly as they all use:

call flush(iunit)

except for AIX which uses:

call flush_(iunit)

I would like to propose a change here to simplify this code which is just:

#ifdef CESMCOUPLED
         call sys_shr_flush(iunit)
#else

[2018-08-24 20:50] dabail10 commented on #177
The thing is, that the current logic has nothing in the subroutine flush_fileunit as NAG reports that iunit is not used.

[2018-08-24 21:26] dabail10 opened #178 "Serial interfaces"
We have a whole bunch of extraneous stuff in the serial interfaces for CICE. Also, why are these built at all for the MPI cases?

Dave

[2018-08-24 22:08] eclare108213 commented on #177
Let me understand -- the code never calls the subroutine flush_fileunit?  That's quite possible, since we rewrote the warning system completely.  If so, let's get rid of this subroutine.  It's ancient...  I don't remember what AIX is anymore.

[2018-08-24 22:09] dabail10 commented on #177
No, flush_fileunit is called, but it does nothing.

Dave

[2018-08-24 22:10] dabail10 commented on #177
AIX is the old IBM operating system.

[2018-08-24 22:12] eclare108213 commented on #178
Are you talking about the code that's in the serial/ folder?  That should not be built for the MPI cases, and in fact I don't think it can be.  That code is set up so that there's a 1-to-1 correspondence of subroutines between serial/ and mpi/, so that the calls in the main code are the same.  That does mean there's a lot of extraneous stuff for the serial routines, but they're rarely used.  If we

[2018-08-24 22:18] dabail10 commented on #178
For some reason everything under serial is being built in some of the base_suite tests. Maybe we have a couple serial tests in there? I agree that we want it to match the MPI calls. Maybe using optional variables? This is not a big priority.

[2018-08-24 22:20] dabail10 commented on #177
I also learned that since Fortran 2003, this is an intrinsic function. So, the syntax is now

flush(iunit)

with no "call". Do we need to worry about compiler support older than Fortran 2003?

[2018-08-24 22:20] eclare108213 commented on #178
We _should_ have serial tests in the base_suite.  I agree, not a high priority.

[2018-08-24 22:35] eclare108213 commented on #177
Does it do nothing even in CESM?  It looks like the non-CESM part should be recoded to use the intrinsic version.  I wouldn't think we'd need to support 15-year old Fortran versions.
https://github.com/CICE-Consortium/CICE/blob/master/cicecore/shared/ice_fileunits.F90

[2018-08-27 20:49] apcraig commented on #178
Every CICE test suite, base_suite, quick_suite, decomp_suite, and travis_suite has at least 1 serial test.  If the pe layout is 1x*, the serial code is used.  Is the question whether the serial code contains a bunch of unused interfaces?  That could be.  The serial code might cover MPI interfaces that we are not using, just for completeness and maybe because the code came from other sources.  I do

[2018-08-27 21:05] apcraig commented on #177
The flush code is probably overdue for a refactor.  It is obsolete.  I would suggest we do the following,

[code]

basically adding a new cpp (TBD) that turns off f2003 features.  In this case it's pretty easy to just set the flush_fileunit() call to a noop with NO_F2003.  We could also add a print statement indicating flush is a no op if F2003 or keep a place holder for local customization.  But

[2018-08-27 21:17] duvivier commented on #101
@eclare108213 @dabail10 and I checked today on this.

The following CICE-Consortium master repositories and wikis are backed up:
CICE, Icepack, Test-Results

The backups are done 3x day at 6am, noon, and 6pm. At midnight the backups become daily and remain become monthly after a month. These are stored for 2 years at which point we only keep a backup for things up to 2 years old and anything older

[2018-08-28 02:55] dabail10 commented on #178
I believe that only the single processor cases are building with the serial library. It was all just warnings I was seeing with the NAG compiler. I believe we can just close this.

[2018-08-28 02:55] #178 closed

[2018-08-28 02:57] dabail10 commented on #177
This is a good idea. A bigger issue I noticed is that all of the Fortran modules still have the F90 extension. This implies we are supporting back to Fortran 1990. We might consider renaming these to just F. Thoughts?

[2018-08-28 17:40] dabail10 commented on #177
I will implement the NO_F2003 ifndef and close this.

[2018-08-28 17:40] #177 closed

[2018-08-31 15:49] dabail10 commented on #159
Actually, we do define "coupled" in the CESM build and use both CESMCOUPLED and coupled. We do the following in ice_init.F90:

#ifdef CESMCOUPLED
#define coupled
#endif

We need both for various pieces of code. I agree that we do need to add the parameter gravit for the coupled case. I will do this.

Dave

[2018-08-31 20:51] dabail10 commented on #154
This seems to be gone with the hobart NAG compiler now. I am having memory issues in general. So, I am marking this as resolved for now.

[2018-08-31 20:51] #154 closed

[2018-08-31 20:53] dabail10 commented on #128
This was fixed already.

[2018-08-31 20:53] #128 closed

[2018-08-31 20:55] dabail10 commented on #63
This is will be fixed in a new PR coming soon. Since these are just history variables, we don't use the ghost cells. None-the-less, it is still good to initialize these.

Dave

[2018-08-31 20:59] dabail10 commented on #61
I'm confused by this one. We do a halo update of uvm right after we compute it. Also, the NAG compiler with -nan on was not catching this.

[2018-08-31 21:02] dabail10 commented on #97
I have added two new variables in CESM with the SIMIP request to do this. So, I believe this will be resolved when I bring the CMIP variables in.

[2018-08-31 21:05] eclare108213 commented on #61
Okay, let's not worry about it for now.  They've been working on their version of the code, which we will try to merge into the main CICE sooner or later.  I'll ask them to run the new code through their tests, and we'll see if it comes up again.  I'll take this off of the project board but keep the issue open.

[2018-09-05 21:15] #73 closed

[2018-09-06 21:32] duvivier commented on #169
fixed with PR #179.

[2018-09-06 21:32] #169 closed

[2018-09-07 16:31] apcraig commented on #123
Just to add a comment, there is some inconsistency in the shortwave implementation and documentation, and there are differences between icepack and cice.  It seems icepack supports ccsm3 and dEdd now.  While cice says 'default' and dEdd are the options and 'default' is the actual default in the code.  but a shortwave='default' setting in cice leads to a failure in icepack.  we should probably get

[2018-09-07 19:48] eclare108213 commented on #123
change 'probably' to 'definitely' and yes, I agree

[2018-09-07 22:09] dabail10 opened #181 "hist_avg"
I just ran into an issue with hist_avg. When hist_avg is true, only sig1, sig2, and sigP are checked for adding the cell_methods attribute in ice_history_write.F90 (under the io directories). Technically, all of the instantaneous fields should be checked here. I think we could be using hist_avg in a better way here with the multiple streams and dealing with instantaneous fields in a more elegant f

[2018-09-11 17:08] dabail10 commented on #159
This is addressed in PR #182.

[2018-09-11 17:08] dabail10 commented on #93
This is addressed in PR #182.

[2018-09-11 17:09] dabail10 commented on #97
This is addressed in PR #182.

[2018-09-11 17:09] dabail10 commented on #92
This is addressed in PR #180.

[2018-09-11 17:12] dabail10 commented on #63
This is addressed in PR #180.

[2018-09-15 00:58] mhrib opened #185 "Threading issue in ice_restart_driver.F90"
cicecore/cicedynB/infrastructure/ice_restart_driver.F90: line 500:
Miss (i,j) as private in OMP loop line 500 in :ice_restart_driver.F90

Replace
      !$OMP PARALLEL DO PRIVATE(iblk)
with
      !$OMP PARALLEL DO PRIVATE(iblk,i,j)

--o--

      !-----------------------------------------------------------------
      ! compute aggregate ice state and open water area
      !-------------------------

[2018-09-18 20:38] dabail10 opened #186 "one-degree tripole support"
I didn't see an issue here already, but this was on a to do list somewhere. I looked into what it would take and the main problem I see is that the forcing would have to be remapped onto the tx1 grid. We have a tool somewhere that does this right? I was thinking the COREII forcing.

[2018-09-18 20:42] eclare108213 commented on #186
I wrote to Ed Blockley and he responded this morning with a file containing a one-degree tripoleT grid and related info.  I'm not sure whether we would need to remap 'realistic' data, since we're mainly testing the boundary conditions, not the physics.  If it's easy, then do it...

[2018-09-27 19:16] dabail10 commented on #159
Resolved in PR #191.

[2018-09-27 19:16] #159 closed

[2018-09-27 19:16] dabail10 commented on #97
Resolved in PR#191.

[2018-09-27 19:16] #97 closed

[2018-09-27 19:16] dabail10 commented on #93
Resolved in PR#191.

[2018-09-27 19:17] #92 closed

[2018-09-27 19:17] dabail10 commented on #63
Resolved in PR #191.

[2018-09-27 19:17] #63 closed

[2018-09-27 19:19] #93 closed

[2018-10-05 12:28] eclare108213 opened #197 "history strength units"
The units in this block of code in ice_history.F90 should be N/m:

      call define_hist_field(n_trsig,"trsig","N/m^2",tstr2D, tcstr, &
             "internal stress tensor trace",                         &
             "ice strength approximation", c1, c0,                   &
             ns1, f_trsig)

I haven't checked other docs to see if it's wrong there too....

[2018-10-05 17:40] duvivier commented on #197
I'm taking care of this with my vector-history work that should be added as a PR later today. I'll double check the documentation too and probably add a mod to the PR 195 that I'm waiting to hear from Andrew about.

[2018-10-07 00:48] duvivier commented on #58
Addressed by PR #199

[2018-10-07 00:48] #58 closed

[2018-10-07 11:31] duvivier commented on #123
A few more things (notes for myself):
- Update/clarify some of the testing documentation.
- Check references (need input from Andrew)

[2018-10-08 16:00] duvivier commented on #197
Corrected by #198. The documentation is fine too.

[2018-10-08 16:00] #197 closed

[2018-10-08 17:33] duvivier opened #200 "Constants"
Make functionality for CICE to use shared constants from icepack (but not visa versa).

[2018-10-08 19:22] #200 closed

[2018-10-10 17:35] apcraig commented on #185
Fixing this now.

[2018-10-10 21:26] apcraig opened #204 "bit-for-bit diagnostics"
CICE currently has 3 different flags that affect bit-for-bit diagnostics.  The first "DITTO" is an env variable in cice.settings.  That triggers the cpp -DREPRODUCIBLE but only for a few machine/compiler implementations.  It probably should be specified in all machine/compiler implementations if any.  Finally, there is the bfbflag in namelist.  That turns on yet another calculation for the global

[2018-10-10 22:20] eclare108213 commented on #204
This makes sense to me.  DITTO and REPRODUCIBLE came from UKMO a long time before that, specifically because they wanted to be able to compare diagnostic output across configurations (these only affect the diagnostic output).   bfbflag came from CESM 4 years ago (the "blame" functionality in github is very handy).    @apcraig, yes, please clean this up.

[2018-10-11 14:08] rgrumbine commented on #133
I'll suggest we add a directory at same level as cicecore called something like nuopc_caps and use that analogously to how, say, the cicecore/drivers has multiple descendants for specializations.  NUOPC caps seem more dependent on the systems they're coupled to than ideal, so we are likely to need noaa_nws, noaa_oar, nrl, lanl, cesm, ... variants.

[2018-10-11 14:20] rgrumbine commented on #155
intel compiler version was the source of 5 of the 6 failures.  Default on theia is intel 14.  Any version 15 to 18.1.163 clears the problems.

[2018-10-12 04:11] duvivier commented on #123
Just an update on my progress and a few questions for @eclare108213 or @apcraig. I will be working on this next week and hopefully get it done early in the week.

These name changes have already been made to the namelist:
sst_data_type --> ocn_data_type
sss_data_type --> bgc_data_type
restore_sst --> restore_ocn

This variable has been added to the namelist:
default_season

Theses namelist value o

[2018-10-12 04:13] duvivier commented on #123
I should clarify, the first set of items I list as done, I mean on my development fork I've implemented these changes and I think they are nearly good to go (I will have a few questions on testing).

[2018-10-12 13:02] eclare108213 commented on #123
@duvivier in answer to your questions:
1.  I would leave these separate rather than combining to data_dir.  I was hoping that we could simplify the data directory structure as in Icepack, but you'd have to change the structure on ftp.  Let's leave that alone.
2.  I don't think we need sil_data_type, etc.  We should be able to do this with just bgc_data_type, keeping in mind that what we offer for

[2018-10-12 20:17] njeffery commented on #123
bgc_data_type is enough.

n

________________________________
From: Elizabeth Hunke <notifications@github.com>
Sent: Friday, October 12, 2018 7:02:30 AM
To: CICE-Consortium/CICE
Cc: Jeffery, Nicole; Mention
Subject: Re: [CICE-Consortium/CICE] update namelist and documentation (#123)

@duvivier<https://github.com/duvivier> in answer to your questions:

  1.  I would leave these separate rather than

[2018-10-17 22:53] eclare108213 opened #210 "document case settings"
The second column in the case settings table (options, format) needs to be filled out for settings that aren't strings:
https://github.com/CICE-Consortium/CICE/blob/master/doc/source/user_guide/ug_case_settings.rst

[2018-10-18 00:41] eclare108213 opened #211 "question re test directory names"
What determines the order of the information in the test directory names?
For example, these 2 entries in a .ts suite file yield the following case and run directories:

[2018-10-18 01:46] eclare108213 commented on #210
See #207

[2018-10-18 01:49] eclare108213 opened #212 "tracer flags in namelist"
Clean up redundant namelist flags, especially for bgc but the other tracers might have issues too.  This might be done in conjunction with reducing the memory footprint for tracers by allocating them based on the ones that are turned on.   This needs to be scoped/designed first...   and then also properly documented.

[2018-10-18 15:41] apcraig commented on #211
The order is specified in the cice.setup script.  In the current implementation, the options are sorted alphabetically and then applied in that order.  That also determines the naming convention for the test.  The reason to do this is because then "sklgx1,medium" and "medium,sklgx1" will be sure to produce the same testname (for regression comparisons) and for the results to be identical between "

[2018-10-18 15:59] eclare108213 commented on #211
I don't think we need to change it as long as we understand what is going on (and so can answer questions when the inevitably come up) and there's a good reason for it. Thanks for the explanation.

[2018-10-18 15:59] #211 closed

[2018-10-18 21:53] eclare108213 opened #213 "another scripting question"
What happens when there is an entry in a file in configuration/scripts/options/set_nml.option that is not used in the code?  Is it simply ignored?  We have some options files with lines like

but the variable used in the code is n_doc.  n_trdoc is not defined anywhere.

[2018-10-18 21:56] apcraig commented on #213
I believe the namelist substitution will be skipped and ignored.  If we want to trap these cases and abort, that's probably a better approach.  thoughts?

[2018-10-18 21:59] eclare108213 commented on #213
We probably ought to trap them.  In this example, I think we're not running the tests we intend to run.

[2018-10-18 22:01] apcraig commented on #213
OK, let me see whether I can figure out how to do that robustly.

[2018-10-18 23:05] eclare108213 commented on #212
We don’t need both max_ntrcr (the previously compiled-in tracer array size) and ntrcr (the size actually used based on namelist inputs, which could be less than max_ntrcr).  Now that the code dynamically allocates variables, the sizes used to calculate max_ntrcr and the flags used to calculate ntrcr are ALL in namelist, and some of them are redundant.

         max_ntrcr =   1         & ! 1 = surf

[2018-10-19 00:16] apcraig commented on #213
So, I have something working and we do have a few errors in our set_nml files.  It's good to implement this trap and fix this.  One big one is ocn_data_type vs sst_data_type.  I think this is what's also tripping up Alice and why we haven't picked up on that bug before.  I am fixing the problems I find.

[2018-10-20 19:30] eclare108213 opened #216 "mpirun vs serial ./cice"
When creating a serial case using -p 1x1, 'mpirun' is put into the cice.run script.  This works, but is it necessary?  Are there ramifications, other than that the job scheduler at LANL insists on there being a proper allocation for the job (i.e. I can't quickly run it on the front-end machine)?  I can live with it, I just want to be sure it's intended and has no unintended side effects.

[2018-10-21 17:07] eclare108213 opened #217 "create sample output pages for CICE v6 release"
Post simulation output for reference purposes, similar to our Icepack page, https://github.com/CICE-Consortium/Icepack/wiki/Icepack-Sample-output.

We might want multiple pages, from a selection of our tests.  These could include

- [ ] box, 2001 configuration (see #151)
- [x] box, advection test
- [x] gx3 standard configuration
- [x] gx1 standard configuration, after 1 year

and others.

[2018-10-22 16:18] apcraig commented on #216
It's a good point.  We should be able to fix this and get rid of the mpirun for serial builds.  I will look into it.  I don't think there are any serious ramifications.  For machines that have mpi, launching a serial application with mpi is fine.  For machines that don't have mpi, they would not implement an mpirun in their launch.  Having said that, it's probably worth exploring whether we can se

[2018-10-24 20:39] phil-blain commented on #53
Hi everyone, I'm running some tests of the landfast parameterization with JF on the gx1 grid and we want to check the bathymetry file. Is there a netCDF version of the gx1 grid ? the version I've downloaded from the GitHub wiki is in binary format (CICE_data/grid/gx1/grid_gx1.bin).

[2018-10-24 20:42] eclare108213 commented on #53
Hi Philippe, I don't think we've ever put the gx1 grid data into netcdf.  It exists for gx3.

[2018-10-24 20:53] dabail10 commented on #53
I have netCDF versions that we use in CESM. The problem is that the KMT (land-ocean mask) may be different from your grid. I will send it by email and you can try it out.

[2018-10-24 23:00] eclare108213 commented on #217
No, I don't think these are ready to go.  I might change the other box tests (advection, etc), if I find some time to look at them.  I don't expect gx3 and gx1 output to change, but it might.  If you want to get started, you could create 'strawman' pages with current output on them, and we can decide what to update, what not to use, how to organize them, etc.  Or wait!

[2018-10-25 00:03] duvivier commented on #101
@eclare108213
I'm keeping this on the front burner here. We had some issues with this being done correctly. We're at the point where metadata and branches are being saved. However, it looks like Tags aren't being saved yet, which I think is imperative since these are essentially the releases. Mark Moore is working on it this week and has made progress but it isn't complete yet.

[2018-10-25 00:46] eclare108213 commented on #101
Thanks for the update!  And for following up on it.  This service is much appreciated.

[2018-10-25 06:37] duvivier commented on #210
@eclare108213
Do you want there to be examples in this table? Otherwise it would be something like "string" as the format for most of these options. However, if we want to show what an example cice.settings file looks like after running cice.setup maybe that would be more useful. What do you think?

[2018-10-27 13:28] eclare108213 commented on #210
I don't think we should be examples.  That might be confusing because of the other entries in which a particular string is required.  And the default files are full of examples!  In general, I think it's fine to leave it generic ('integer', 'string', etc) in the documentation unless there are specific choices, and then put those in the table.

[2018-10-30 20:08] phil-blain commented on #53
Hi everyone,
I just finished running some tests of the new parameterizations (grounding, ellipse ratio, tensile strength) on the gx1 grid with the latest bathymetry files that JF created. The parameterizations work as expected : increasing `k1` and `Ktens` increases the amount of landfast ice, and decreasing `e_ratio` also increases the amount of landfast ice.
The attached images show the landfast

[2018-10-30 22:01] eclare108213 commented on #53
@phil-blain, thank you for this!  It would be nice to include these results as part of our "sample output" pages for the CICE v6 release.  @duvivier and I have been thinking about how to organize that.  Do you have maps with and without fast ice, or is it not really visible that way?  What is the metric you use to identify fast ice in these timeseries plots?

[2018-10-30 22:35] #213 closed

[2018-10-30 22:39] eclare108213 opened #221 "results.csh output"
The output from the results.csh script is confusing when it's executed while a test suite is running -- it returns FAIL for jobs that are still in process.  Can these be changed to PEND?

[2018-10-30 23:08] apcraig commented on #221
I had that implementation until recently, but then thought that we need more clear pass/fail info.  If the default is pend, then any job that fails to submit will be left pending, not failing.  I think it's better to have the default be fail and then have a running job go to pend and and a completed job go back to pass or fail.  I think we just have to understand that when using results.csh while

[2018-10-30 23:17] eclare108213 commented on #221
Okay.  Can we have the script print a message to that effect, if there are still jobs pending that are marked FAIL?

[2018-10-30 23:47] apcraig commented on #221
When a test is created, the default result is FAIL.  As soon as the test is built, the status changes to PASS for build and PEND for run.  Then after that, the run and test results will depend on the results of the run.  It is still hard to know whether a PEND run is still pending or whether it was never submitted.  Users have to look at that.  These results need to interact with the reporting as

[2018-10-31 00:39] apcraig commented on #221
Good idea.  thanks.

[2018-10-31 13:55] phil-blain commented on #53
Yes, I do have boolean maps showing where the ice is landfast for the different runs. I can post some here if you like. As for the metric : from daily model outputs, we compute the mean ice concentration and velocity (in magnitude) over a 14 days period. If the concentration > 0.5 and the velocity < 5E-4, the ice is considered landfast.

[2018-10-31 14:03] JFLemieux73 commented on #53
This is the same metric we used in our papers on landfast ice (e.g. Lemieux et al 2016). Philippe, I suggest you show maps (3) of the landfast ice cover at the end of April for the NIC data, the standard model and the run with e=1.4 (and k1=8).

[2018-10-31 14:44] dabail10 commented on #53
So, are you ready for me to issue the PR on this?

[2018-10-31 14:57] JFLemieux73 commented on #53
Go ahead Dave. Thanks for your help on this.

I also wanted to test how are the stresses when we change the parameters for the ellipse (not sure this is the right place to post these...maybe also on the sample output page?). Here is a plot of the normalized principal stresses. The yield curve changes are consistent with the modified parameters.

![norm_stresses](https://user-images.githubuserconte

[2018-10-31 15:24] phil-blain commented on #53
Here are the maps showing the landfast cells, for the standard run and the one with `k1=8`, `e_ratio=0.2`. The NIC data is interpolated on a higher resolution grid (0.25° ).
![map_std](https://user-images.githubusercontent.com/44212482/47798718-4eb42480-dcff-11e8-82f8-6aa478db860c.png)
![map_eratio](https://user-images.githubusercontent.com/44212482/47798717-4eb42480-dcff-11e8-9ab2-0384814a6403.pn

[2018-10-31 15:35] eclare108213 commented on #53
Very nice, thank you.  (I like the ellipse plots too!)  It's clear that the landfast ice "sticks" to whatever little point of land (or island) is jutting out into the flow.  Have you done resolution studies to see how much that matters?  The ocean bathymetry resolution probably also makes some difference.

[2018-10-31 16:07] apcraig commented on #166
@eclare108213 @dabail10 @duvivier @JFLemieux73 We are looking for input about what other features might be useful to improve the qc validation tool.  At this point, it's relatively easy to create qc cases from two sandboxes using the documentation provided here, https://cice-consortium-cice.readthedocs.io/en/latest/user_guide/ug_testing.html#end-to-end-testing-procedure.  We also have a script tha

[2018-10-31 20:48] eclare108213 commented on #53
Thanks @JFLemieux73
For the 'sample output' pages we want to show output from actual test runs, so that users can reproduce them to verify that their setup is correct.  We never recommend using gx3 for science.
This all looks great to me!

[2018-10-31 21:02] eclare108213 commented on #166
I agree that creating the QC tests manually is intuitive and easy to do, given the instructions that @apcraig linked above.  I think my issue with it was not having the instructions at my fingertips.   It would be nice to be able to push a "go" button and have it generate the results, but considering the many variations, that's probably too complex to be worth the effort (apologies to @mattdturner

[2018-11-01 19:09] phil-blain commented on #53
JF and I did a quick test of the basal stress parameterization with the EAP rheology. This had not been tested before. The results look good.
![east_siberian](https://user-images.githubusercontent.com/44212482/47873536-e12ff300-dde7-11e8-814a-a28acd0a3913.png)
![kara](https://user-images.githubusercontent.com/44212482/47873537-e12ff300-dde7-11e8-845d-7b75da3fb284.png)
![laptev](https://user-images

[2018-11-05 02:39] duvivier commented on #210
Completed with PR #225 and #227

[2018-11-05 02:39] #210 closed

[2018-11-06 16:56] apcraig commented on #164
#202 addresses this. Will close now.

[2018-11-06 16:56] #164 closed

[2018-11-06 17:13] apcraig commented on #140
I am going to add a couple other issues here for the time being.

The alt01 test has bathymetry turned on but kdyn=0 (dynamics off).   We should again review our tests and test coverage.

There is also a question about how to handle the options (--sets).  There is a question of precedent and some problems have arisen in usage.  At this point, there are few constraints on what can be defined in the

[2018-11-06 20:19] duvivier commented on #53
@JFLemieux73 @phil-blain
I have added these figures to the "Sample output page"
https://github.com/CICE-Consortium/CICE/wiki/CICE-Sample-output#cice-v600---landfast-ice

I'm not sure if we should include both the sets of seasonal figures, but you can let me know if I should remove one. I also added some preliminary captions but I can modify these as you wish too.

[2018-11-06 20:22] duvivier commented on #217
@eclare108213

I've made a page for these results and included some figures from bathymetry as a test:
https://github.com/CICE-Consortium/CICE/wiki/CICE-Sample-output

I also added a short table of contents at the top here (and added it for Icepack as well) so it's a bit more navigable).

I noticed with the Icepack sample output page you'd made the figures that have tags of LANL and the url of the

[2018-11-06 20:48] phil-blain commented on #53
Thanks Alice! I've just tried to do some slight modifications to the captions by following the procedure at the bottom of the CICE-Sample-Output page but I think I'm not authorized to do that (`remote: Permission to CICE-Consortium/CICE.wiki.git denied to phil-blain.`). Anyway, the Kara and Laptev captions are inversed in the EAP figures, and for the first yearly figure I'd go with "Area of landfa

[2018-11-06 21:41] duvivier commented on #53
Fixed those captions, thanks Phil!

[2018-11-06 21:55] duvivier commented on #123
I think that the only outstanding item is to remove sil_data_type, nit_data_type, and fe_data_type and just use bgc_data_type. This will likely require more substantial changes and can be a future enhancement.

[2018-11-06 22:13] eclare108213 commented on #123
I have been working on the tracer namelist options (#212) especially for BGC, and will take a look at these.  I hope to submit a PR in the next few days.

[2018-11-06 22:50] dabail10 commented on #212
How do you want to split the duties on this one?

[2018-11-06 22:59] eclare108213 commented on #212
This has required splitting up the init_zbgc subroutine so that the ntrcr counting can be done before arrays in other parts of the code are allocated.  I'm almost done with that.  The remaining changes will be relatively small.  My time this week is really really overcommitted, so maybe I can submit a PR, some of you can test it, and I can provide instructions for what else to do.    It's easy for

[2018-11-07 00:54] apcraig commented on #212
I'm happy to help test or with any implementation at any point, just let me know.

[2018-11-07 02:06] eclare108213 commented on #212
Thanks.  It would be helpful if you can regression-test what I've done so far in a baseline suite.  I've been testing it in a slimmed-down suite that exercises the main bgc options, and that is BFB so I'm hopeful I haven't messed up other things. There are changes in icepack (branch tracer_init_icepack in my icepack fork) and in cice (branch tracer_init in my cice fork).  I haven't tried to pull t

[2018-11-07 16:41] apcraig commented on #212
OK, I'll start some testing.  Yes, we'll have to do two PRs.  But you don't have to link the two versions via the submodule until the last step.  Just continue to work in your sandbox on your CICE and Icepack branches, committing changes, updating from trunk, etc.  Then when you are ready, we'll want the Icepack PR first.  Once that's merged, you can update the Icepack submodule on your CICE branc

[2018-11-07 19:21] apcraig commented on #212
I ran a full test suite on 4 compilers on conrad with the CICE tracer_init and Icepack tracer_init_branch versions.  All tests pass.  I compared against the CICE trunk version from Oct 28 and 90%+ of the cases did NOT pass the regression test.  It looks like this is expected based on the differences in the Icepack versions.  I may try to run again and compare against the current trunks.  At this p

[2018-11-07 20:51] duvivier commented on #170
Item 2 (emissivity namelist) was taken care of by PRs #176 and #208

[2018-11-07 20:53] duvivier commented on #53
Was this addressed fully by PR #222? If so, should we close the issue?

[2018-11-07 21:20] duvivier commented on #166
@apcraig I think the documentation is pretty clear since I just tested it recently. The only thing that is a bit (intentionally?) murky is the following line in the first paragraph: "Exactly what to test is a separate question and depends on the kinds of code changes being made."

I know that we're basically saying the tests we need for b4b is different from non-b4b. However, it might be nice to h

[2018-11-08 19:44] phil-blain commented on #172
I'd be glad to help with that but I'm not sure exactly what has to be done?

[2018-11-08 20:02] eclare108213 commented on #172
It's described here:
Lipscomb, W. H., and T. D. Ringler, 2005: An incremental remapping transport scheme on a spherical geodesic grid. Mon. Wea. Rev., 133, 2335–2350.

[2018-11-08 20:05] eclare108213 commented on #172
You'll need to set up an initial condition with this configuration (a slotted cylinder) and then create forcing options suitable for a couple of different tests, making the cylinder move in a circle within the domain and also making it move off the (cyclic) domain and re-enter on the other side.  The second case is harder!

[2018-11-13 18:54] eclare108213 commented on #166
I agree with @apcraig's suggestion for modifying the documentation.  I separate user script for this purpose would be fine, and it would be nice to have in the v6 release but I'd give it lower priority than some of our other tasks.

[2018-11-14 20:58] eclare108213 opened #237 "computed longwave forcing options"
The Rosati and Miyakoda (RM) longwave forcing doesn’t work right, and I want to try to revert back to the older, much simpler Parkinson and Washington formula for our testing. This will change the answers, and I’ll want to look at the output to see if we really want to do this now, or wait until after the release. This issue has suddenly increased in importance because a post doc at the DOE meetin

[2018-11-14 21:10] apcraig commented on #130
The bgc part is being addressed in #235

[2018-11-14 21:11] apcraig commented on #174
I believe we can mark this as complete at this time.  We have skl and bgcz test working in CICE.

[2018-11-14 21:11] #174 closed

[2018-11-14 21:12] apcraig commented on #212
This is being addressed in #235

[2018-11-15 17:37] apcraig commented on #115
This is being addresses in #235

[2018-11-15 17:50] apcraig opened #238 "tracer index improvements"
There are several tasks that should be considered moving forward.  This is related to #115 and #212.

1. test arbitrary tracer index order for bit-for-bit.  understand tracer dependencies and order requirements better.  allow tracers to be indexed in any order as much as possible.
2. get rid of the "unused" tracer and set n_[tracer] to 0 (or -1) for tracers that are inactive.  make sure that works

[2018-11-15 17:53] apcraig commented on #170
The code coverage tool is being deferred.  I will close this and let the code coverage tasks stand on their own.

[2018-11-15 17:53] #170 closed

[2018-11-16 17:11] #212 closed

[2018-11-16 17:12] #130 closed

[2018-11-16 19:07] phil-blain commented on #172
I read the test description in the paper above and read the discussion in PR #151, and I examined the relevant code. I think I understand what I have to do, but I'm not sure how I should implement it. I'm thinking of 2 options :

1. Create a netcdf file to initialize the test (ex. `iced_boxadv_v1.nc`), with the desired ice concentration (slotted cylinder) and imposed (`uvel,vvel`), then use `runty

[2018-11-16 19:41] eclare108213 commented on #172
These are both good options.  We haven't used a file for setting up tests in that past, though, and we'd need both binary and netcdf versions of it, so I'd lean toward the second option.  Also, if it's in the code then we can change it easier, if we want to.  We can differentiate the data_type for the various box tests.  Here's a suggestion (others weigh in on this, please):

- box2001 - the test

[2018-11-16 23:33] eclare108213 commented on #91
We need to do a fresh Icepack release along with or just prior to the CICE v6 release.  See https://github.com/CICE-Consortium/Icepack/wiki/Icepack-Recent-changes

[2018-11-17 00:45] apcraig commented on #185
Fixed in #215

[2018-11-17 00:45] #185 closed

[2018-11-17 00:48] apcraig commented on #123
Is this done?

[2018-11-17 00:50] apcraig commented on #117
I am not seeing this problem anymore.  We have updated some of the pgi compiler options over the last few months among other things.  I'm going to mark it wontfix and close it.

[2018-11-17 00:50] #117 closed

[2018-11-17 00:51] apcraig commented on #115
Fixed in #235, verified current implementation (set nt_aero to unused tracer and n_aero=0) is not creating any problems even with debug flags on.

[2018-11-17 00:51] #115 closed

[2018-11-17 01:03] apcraig commented on #216
Capability added and tested for conrad and gordon in #239.  Can be implemented by default on a machine by machine basis.  This will provide testing of the capability on an ongoing basis, at least on gordon and conrad.  Also good to test that serial jobs can launch with mpi, still doing that on other test platforms.

[2018-11-17 01:03] apcraig commented on #221
Fixed in #239

[2018-11-17 02:31] duvivier commented on #123
@apcraig I think @eclare108213 is finishing up tracer namelist options (#212) and maybe has submitted a PR. I didn't close it because I think she was doing a bit more, but I have nothing else left that I'm working on.

[2018-11-17 07:50] eclare108213 commented on #123
I'm still working on this.  Instead of using bgc_data_type for SSS, we need to use it in place of nit_data_type and sil_data_type, and use ocn_data_type for both SST and SSS.  This reduces the flexibility of the forcing options in the code, but for testing purposes I think this is okay.  I'm leaving fe_data_type in the code for now, since it's fundamentally different from sil and nit.

Do we have

[2018-11-18 01:53] #123 closed

[2018-11-19 15:07] phil-blain commented on #172
Thanks for the input, I will go with option 2. Although, I thought that to test only advection it would be easier to directly impose the ice velocity, whereas from what I understand of your comment you seem to talk about using either the wind/ocean as forcing ?

[2018-11-19 17:09] eclare108213 commented on #172
That is a good point, but I think it would be easier to implement (and less invasive to the code) if you applied wind/ocean forcing rather than ice velocity.

[2018-11-19 17:58] eclare108213 commented on #140
I will move the discussion about how to handle options to a separate issue, and close this one.

[2018-11-19 17:58] #140 closed

[2018-11-19 18:00] eclare108213 opened #243 "Avoiding conflicts in set_nml and set_env options"
This was originally raised in #140.

There is also a question about how to handle the options (--sets). There is a question of precedent and some problems have arisen in usage. At this point, there are few constraints on what can be defined in the set_nml and set_env options. Users can mix and match multiple options and the changes will be implemented based on the option name alphabetically. This

[2018-11-19 22:17] duvivier commented on #101
I tested this today with Mark Moore and Alice Bertini. From the code backed up on the cgd server I tested restoring the repo to a dummy repo I created for Icepack. I was successfully able to restore the master branch, all additional branches, tags, and the wikis. I could look at the history of the master branch (merges, commits, etc.)

I think this is all the really important info we need. We were

[2018-11-19 22:17] #101 closed

[2018-11-19 22:19] eclare108213 commented on #101
Thank you!

[2018-11-19 22:38] duvivier opened #244 "Remove "v5" references in doc"
@JFLemieux73 found a few places in the documentation where we reference Version 5 or V5. We need to search through and find anywhere else. Known issues in:

https://cice-consortium-cice.readthedocs.io/en/master/user_guide/ug_implementation.html#restart-files

https://cice-consortium-cice.readthedocs.io/en/master/user_guide/ug_troubleshooting.html#restarttrouble

[2018-11-19 22:41] eclare108213 commented on #244
We are still using the v5 restart files, so some references might be okay.

[2018-11-19 22:44] duvivier commented on #244
Yes, but we need to go through carefully and be sure. And in some places, we can probably modify the wording to say "for CICE version 5 and later" or something like that to be inclusive of this release.

[2018-11-20 20:56] #136 closed

[2018-11-20 21:34] apcraig opened #246 "pio testing in standalone CICE"
Just note that we haven't decided whether we want to do this or not, but open an issue.

[2018-11-20 21:35] #221 closed

[2018-11-20 21:38] apcraig opened #247 "extend CICE technical testing"
There are a few things I'd like to do,
- qc test different compilers/machines against each other
- add signalling nans to debug compiler options
  - cray, "-ei"
  - intel, "-init=snan,arrays" (may need intel 18+)
- set unused tracer indices to -1 and code around their use if needed

[2018-11-20 21:40] #216 closed

[2018-11-20 22:38] duvivier commented on #166
@apcraig is this still something we want to do before release? Or is it on hold?

[2018-11-20 22:39] apcraig commented on #166
I think the only thing we might do before the release is review documentation.

[2018-11-20 22:39] duvivier opened #248 "Automate documentation testing with a PR"
We want to integrate test building of documentation for any PR that has modifications to the /doc/ directory (or just any pull request)? Possible ways of doing this include possibly using a probot or incorporating it into the Travis CI tests.

[2018-11-20 23:19] eclare108213 commented on #166
I agree.  Let's just make sure the documentation is clear.  We can come back to this later if users struggle with it.

[2018-11-21 00:38] eclare108213 opened #249 "Replace forcing for gx1"
Prepare a new forcing data set for gx1, to replace the 'LYq' option that currently includes a mixture of COREII and other forcing with calculated radiation fields.   See #237.

[2018-11-21 00:39] eclare108213 commented on #237
During the Nov 20 team meeting we decided to leave this as-is in the code, indicate clearly in the documentation that it is a problem, add E's slides describing it to the wiki, and create an issue to replace the COREII forcing with a different forcing data set, in which longwave will not be computed.
The new issue is #249

[2018-11-21 00:42] eclare108213 commented on #237
[emissivity_tale.pdf](https://github.com/CICE-Consortium/CICE/files/2602119/emissivity_tale.pdf)

[2018-11-21 18:23] eclare108213 opened #251 "fix EAP indexing bug"
Array out-of-bounds error referenced in #240.
Harry Heorton's updated EAP code (#86) may fix this problem but will change answers, needs to be tested.

[2018-11-22 16:50] eclare108213 commented on #64
Hurray!  Thanks to everyone who worked on this -
PR #242

[2018-11-22 16:50] #64 closed

[2018-11-25 04:12] eclare108213 commented on #244
Icepack needs a ‘citing the code’ section as in the CICE documentation (1.5)

2.2 instead of ‘model components’ maybe make sections for momentum, stress and horizontal transport

section 4 remove ‘implementation’ from the section titles

I didn’t read sections 3 very carefully, since it looks like they’ve been kept up to date with changes in the scripts, etc., and I didn't get very far into sectio

[2018-11-27 19:57] eclare108213 commented on #237
This issue is now included in the FAQ:
https://github.com/CICE-Consortium/About-Us/wiki/FAQ-(Frequently-Asked-Questions)#stand-alone-configuration-and-forcing
There might be a better place on the wiki to put it.  This seemed appropriate and can be referenced from elsewhere if needed.

It is mentioned in the documentation and in issue #249.  We could also add it to the list of "known issues" in the

[2018-11-27 19:57] #237 closed

[2018-11-28 01:16] duvivier commented on #244
@eclare108213 I have worked through the first set of comments. Below are any comments or questions I had. If I did not comment, it just means I completed that task as requested. Here is the current read the docs build with those changes: https://cice.readthedocs.io/en/latest/index.html

One major thing to mention. At a number of places I removed the sections you suggested and referenced the Icepac

[2018-11-28 03:47] eclare108213 commented on #244
Let's make this the intro section 1.1, and remove section 1.3 completely:

CICE is a computationally efficient model for simulating the growth, melting, and movement of polar sea ice.  Designed as one component of coupled atmosphere-ocean-land-ice global climate models, today’s CICE model is the outcome of more than two decades of effort led by scientists at Los Alamos National Laboratory. The cur

[2018-11-28 03:57] eclare108213 commented on #244
Re linking to Icepack documentation, maybe the best thing to do is keep it at a high level and not try to link to particular sections.  I think it would work well to just link to the major chapters (science guide, user guide), which would bring up the detailed outlines.

section 1.4:  remove the colon after "the" and it'll be perfect.

https://github.com/CICE-Consortium/CICE/blob/master/LICENSE.pd

[2018-11-28 04:06] eclare108213 commented on #244
In section 2.1, I'd collect the various sentences referencing the Icepack documentation into one statement at the end of the section, and just ref the science guide:

[2018-11-28 04:37] duvivier commented on #244
Do you think we should link to the "master" version of the icepack documentation? Or a particular version?

[2018-11-28 05:42] duvivier commented on #244
Items still needing to change, based on the above lists. Otherwise I think we're in pretty good shape.
Here is the latest rtd html and pdf:
https://cice.readthedocs.io/en/latest/index.html
https://media.readthedocs.org/pdf/cice/latest/cice.pdf

**Remaining items**

I found a few instances where the font looked okay in the html but not pdf. I think I will try to do this at the very end.

I'm not su

[2018-11-28 14:33] eclare108213 commented on #244
Looks like you're linking to the Icepack documentation master.  I think that's the best thing to do.
There is a link to the Git workflow doc on googledocs, which needs to be changed to the wiki (section 1.2).

For section 2.2, I was thinking of removing the "model components" header and raising the sections up a level, so their titles would appear in the outline here:  https://cice.readthedocs.io/

[2018-11-28 22:50] duvivier commented on #244
@eclare108213 I'm ready for the next read through. @dabail10 @apcraig, your feedback would be appreciated. I've also updated the Icepack documentation and have a PR waiting on that.
Latest CICE rtd:
https://cice.readthedocs.io/en/latest/index.html
https://media.readthedocs.org/pdf/cice/latest/cice.pdf
Latest Icepack rtd (which the CICE doc references):
https://icepack.readthedocs.io/en/latest/inde

[2018-11-29 00:02] eclare108213 commented on #244
Section 3.3.5 needs to be changed to refer to CICE files instead of Icepack.  @mattdturner tested the script, which worked for him, but it didn't work for me just now, so I've asked him to take a look.

[2018-11-29 02:43] duvivier commented on #204
Also get rid of the following in cice.settings:
setenv CAM_ICE no # set to yes for CAM runs (single column)
setenv BARRIERS no # prevent MPI buffer overflow during gather/scatter

[2018-11-29 02:51] duvivier commented on #244
Most things have been resolved by PR #256 . Some minor modifications will likely need to be made in the user's guide section (e.g. sections 3.2, 3.3 and 3.3.5 in particular).

[2018-11-29 04:46] eclare108213 commented on #251
Fixed in #257

[2018-11-29 04:46] #251 closed

[2018-11-29 22:53] eclare108213 commented on #217
Here are 4 time series plots for the primary state variables, from this run in the base_suite:
smoke_gx3_8x2_diag24_medium_run1year
i.e. a gx3 standard configuration.  It would be good to post corresponding maps of these variables, maybe seasons or (fewer) just at the end of the year.   The gx1 plots would optimally be from a 5-year QC test (@apcraig just ran one of those, so recent data is availa

[2018-11-29 22:55] dabail10 commented on #217
Monthly mean plots for March and September maybe?

[2018-11-29 23:01] eclare108213 commented on #217
works for me

[2018-11-29 23:02] apcraig commented on #217
My QC tests were with kdyn=2 (eap).  Not sure if that's exactly what we want.  But if you want me to pull something together, let me know.  I can also run a 5 year gx1 out of the box setting or anything else if it's helpful.

[2018-11-29 23:02] dabail10 commented on #217
One example:
![image](https://user-images.githubusercontent.com/12142035/49257680-36afed80-f3f0-11e8-93ef-f936fbcdbd28.png)

[2018-11-29 23:08] eclare108213 commented on #217
@dabail10 that looks fine to me, just needs a time stamp.  For the Icepack sample plots, I put sets of them together on a slide with a caption, then uploaded the slide to the wiki.

@apcraig a 5-year gx1 with standard QC settings would be great!  We could show both EVP and EAP.

I haven't looked at timings in ages...  that's another aspect of 'sample output' that would be good to include on the wi

[2018-11-29 23:09] dabail10 commented on #217
Making ppt slides sounds like a good strategy.

[2018-11-29 23:16] apcraig commented on #217
I don't mind doing the runs, but can someone else make the plots that you want.  What data do you need?  I can move it to cheyenne.

[2018-11-30 00:36] eclare108213 commented on #217
I'm not seeing any red flags for CICE.  It's all looking good.  Once we get the docs/wikis in order, I think we'll be ready to release.

[2018-11-30 06:03] apcraig commented on #217
I have done two 5-year runs and moved the results to NCAR,

cheyenne: /glade/scratch/tcraig/conrad_intel_smoke_gx1_64x1_medium_qc.qc_evp
cheyenne: /glade/scratch/tcraig/conrad_intel_smoke_gx1_64x1_medium_qc.qc_eap

The two runs were identical except one has kdyn=2.  In both cases, both daily and monthly averages were written.   I moved over the complete run directories so you should have all model

[2018-11-30 06:18] apcraig commented on #217
By the way, I have not formally archived these runs anywhere.  If they need to be archived, I think it probably should be at NCAR.  Whatever you need to do with the runs, please do it.

[2018-11-30 14:49] eclare108213 commented on #217
@apcraig can you send me the timing results from your runs?  Actually, send me the entire diagnostic files and I’ll make some timeseries plots.  In version 5 the EAP run was a factor of 2 slower than the EVP run (total time), not 3.  @proteanplanet, what was your experience with the EVP/EAP comparisons in RASM?

At some point we should remake the timing histogram, fig 11 in the v5 documentation. A

[2018-11-30 15:43] eclare108213 commented on #217
Clarification:  Just the 5-year gx1 runs -- I have the others.

[2018-11-30 15:54] eclare108213 opened #263 "analyze timings"
Update the timings plot for v6.

https://github.com/CICE-Consortium/CICE/blob/2f79cb314051ece262b7497dd197831559d66ee7/doc/source/user_guide/ug_implementation.rst

Figure :ref:`fig-timings`

[2018-11-30 16:08] duvivier commented on #217
Great, thanks for all these. I'm putting them together now and will get them up (hopefully this morning). Sorry to be MIA, but I wasn't able to do additional work last night.

[2018-11-30 16:56] dabail10 commented on #217
So, I am unable to clone the wiki. Also, what is the preferred format. Does PDF work? Here is what I would like to add for the gx3.
[gx3run.pdf](https://github.com/CICE-Consortium/CICE/files/2634266/gx3run.pdf)

[2018-11-30 17:04] duvivier commented on #217
@dabail10 Why don't you just send me the figures? I'm going to put them all in the same format through ppt and upload them. Pdf format is fine. The main thing that I think we should emulate for CICE is that I'll have a little blurb about the configuration. So something like we did for Icepack. E.g.:

CICE V6.0.0
gx3 grid
default namelist settings
5 year simulation
Climatological Forcing
Initial co

[2018-11-30 17:04] duvivier commented on #217
@dabail10 The ice thickness figures you sent look great. Would you be willing to make a similar set for ice area?

[2018-11-30 17:18] eclare108213 commented on #217
Yes, I agree, there needs to be some info about the runs on the slides, so that someone trying to get set up for the first time knows what to compare with.

I was just able to clone the wiki using this command:
git clone https://github.com/CICE-Consortium/CICE.wiki.git

e

On Nov 30, 2018, at 10:04 AM, Alice DuVivier <notifications@github.com<mailto:notifications@github.com>> wrote:

@dabail10<htt

[2018-11-30 18:18] dabail10 commented on #217
I send Alice the figures and she will make the powerpoints for the gx3. I will start on the gx1 plots next.

Dave

[2018-11-30 20:32] eclare108213 opened #265 "EAP efficiency"
EAP is running significantly slower than EVP in v6, even after efficiency improvements in #257 (originally #255).  In v5.1.2, EAP TimeLoop was slower than EVP by roughly a factor of 2, now it is a factor of 3.  The dynamics itself is showing nearly a factor of 10.  This appears to be due to boundary updates, but it looks like both codes have the same calls.  Based on the timers unrelated to EAP, t

[2018-12-01 00:08] duvivier commented on #244
I think we've solved most of these. The final things are new and we have an email chain about it. So I'm closing this issue.

[2018-12-01 00:08] #244 closed

[2018-12-01 02:32] duvivier commented on #217
Done!
https://github.com/CICE-Consortium/CICE/wiki/CICE-Sample-output

[2018-12-01 02:50] #53 closed

[2018-12-02 00:00] eclare108213 commented on #217
A few more suggestions here.  None of this is critical.

gx1:

- instead of ‘(uses evp dynamics: kdyn=1)’ maybe just put ‘(evp)’ after ‘Default namelist settings’ or use * as in the timeseries plots below
- change Lyq to LYq

- Should we put the command line used to generate the run?  @apcraig do you have that?  It’s probably something like

- remove ';'
- capitalize 'Output'
- change 'Aggregate'

[2018-12-02 01:18] apcraig commented on #217
The gx1 cases were created by doing

./cice.setup -m conrad -e intel --test smoke -g gx1 -p 64x1 --testid qc_evp -s qc,medium

I then went in and modified some namelist by hand.  I turned on monthly history files (daily is default with qc) in addition to the daily files, I switched to time average instead of instantaneous history files, and I changed the block size to improve performance.  For the

[2018-12-03 00:43] eclare108213 opened #267 "tracers in upwind transport"
Upwind transport should use the tracer dependency arrays instead of doing calculations explicitly in work_to_state and state_to_work.  Should we deprecate the upwind scheme?

[2018-12-03 13:19] mhrib commented on #114
I did find issues with the same OMPs (and a few more), but no solution other than comment-out as here. See also #252

[2018-12-03 15:44] duvivier commented on #217
Hum... I think providing the ice_in files might be good and at the top of the file we can say the case was generated using ./cice.setup (options here). So it won't be an exact ice_in file, but nearly that. I'll have to get the same info from Philippe, Dave, and Robert O though if we want to provide this for all the cases.

[2018-12-03 17:02] dabail10 commented on #267
Does anyone use upwind? We should probably do a survey before getting rid of it.

[2018-12-03 17:33] eclare108213 commented on #267
This could be a discussion topic during the town hall -- whether to deprecate some things, and if so, what.  Upwind and 0-layer thermo come immediately to mind.  A general survey is an interesting idea.  I suspect that there will always be someone who thinks we should keep things in the code.  E.g. last fall one of our German colleagues strongly urged me not to get rid of the 0-layer thermo.

[2018-12-03 18:17] duvivier commented on #91
@eclare108213
I think we removed:  Generate and check html and pdf documentation
doc/source/intro/major_updates.rst also includes the version/release number, so we'll just have release notes with the release and put the info on the wiki. The html and pdf should be generated automatically with the PRs and release (I will double check that). we should just have to change the version numbers at point

[2018-12-03 18:20] eclare108213 commented on #91
Ok, I'll remove that from the checklist above.  I also don't know what is intended with this part:

         Use --bgen with the full release name
         Create release specific tables on wiki??

Probably they are left over from earlier iterations of this process and we can remove those too.

[2018-12-03 18:21] duvivier commented on #91
I didn't know what that meant either. So, with that bit removed, I think that item can be checked off too.

[2018-12-03 18:22] apcraig commented on #91
The release process is evolving as we gain experience.  I think the list above is based on the release process from a while back.  It is updated now,\

https://github.com/CICE-Consortium/About-Us/wiki/Release-Process

I would check off the --bgen task for now.

[2018-12-04 21:43] eclare108213 commented on #91
I will copy the checklist above to the release-process wiki, to use as a template in the future.

[2018-12-04 21:44] #91 closed

[2018-12-06 17:43] apcraig commented on #265
I have looked at RASM, comparing the current "colpkg" version we're running in production and the latest CICE6 version and see a significant slowdown there as well.

PFS.a93_a93_rx1.GNC2all  6.7 s/day => 10.7 s/day
PFS.a93_a93_rx1.GNC2skl 11.8 s/day => 16.2 s/day
PFS.w5a_a94.RBR 14.7 s/day => 24.4 s/day

Ice timer output for PFS.a93_a93_rx1.GNC2all is as follows for the colpkg and cice6 versions,

[2018-12-26 15:05] nowhere95 opened #269 "input data: cloud fraction (cldf)"
I've created historical forcing data from ERA-interim.
In the case when I used the **total cloud cover** of ERA-interim (which is mostly higher than 0.9 over the Arctic) for a CICE input variable, cldf, shortwave radiation to the surface in July is only around 150 W/m2, which is far small than the usual (250 W/m2). Because of weak incoming shortwave radiation, sea ice grows rapidly: sea ice thickn

[2018-12-26 19:20] TillRasmussen commented on #133
DMI need to develop one as well. It will most likely be close to the NRL version or maybe the same as we couple to the same ocean model.

[2018-12-27 18:50] dabail10 commented on #133
We are working with NOAA and NRL to develop a common NUOPC cap for CICE5 in CESM. They are trying to do this for MOM6.

[2019-01-04 17:32] eclare108213 commented on #133
I'm not sure what's in a NUOPC cap.  Is it a set of scripts?  Fortran code?  Is it basically just a coupling interface?  If so, would it eventually replace the cesm driver that we have now?  If that's the case, then it could make sense to put them in the drivers directory.  We have been moving away from modeling-center-specific support...  To the extent possible, I'd prefer the the Consortium supp

[2019-01-04 18:42] dabail10 commented on #133
This is a timely discussion. I am currently working on bringing in CICE6 to CESM2. I have started with the MCT cap that @apcraig has already created for RASM. So, my thought was to rename drivers/cesm to drivers/mct and then have a drivers/nuopc area. These will contain only the CICE specific driver code needed to couple CICE into a model, sometimes referred to as a cap. The overall  scripts to bu

[2019-01-04 21:18] dabail10 opened #270 "History precision"
In our version of CICE5, we have the option of changing to double precision history files. This is particularly helpful for debugging.

[2019-01-04 22:35] dabail10 commented on #94
Ok. We still install GPTL as a part of the CESM build.

[2019-01-05 03:30] apcraig commented on #133
I agree that we might want to rethink the names of the various drivers.  And I think it's good to encourage various coupled model to keep a copy of the coupling interface in the consortium repo.  They often serve as a good resource for other modeling groups and sometimes can be used directly.

At this point, I am aware of at least the following driver/coupling interfaces.  I don't know that all ar

[2019-01-19 12:56] czender commented on #67
That looks right to me. If I understand logic then `flwup_ai` in history is `(flwout/aice)*aice`. A minor point is that floating point arithmetic does not guarantee that `(flwout/aice)*aice == flwout`. Thus splitting `flwout` into two versions, one for the coupler and the other for internal use and history would improve the BFBness of history archived in double precision (default in MPAS?).

[2019-01-20 12:59] TillRasmussen commented on #114
In addition to the ones that Mads (MHRI) found I found OMP issues in ice_history and ice_grid. I uncommented all OMP directives in these two files, which saved the model from crashing when running with Intel and GNU compilers. I have not found solutions nor specific locations for these bugs witin the file..

[2019-01-24 21:24] mhrib opened #273 "HYCOM forcing check for initial forcing"
If "hycom" forcing is chosen, CICE checks if forcing is available in the future and abort if not.
A similar check should also be done to check, that forcing is also available at first timestep. This is fixed as below:

In file:
cicecore/cicedynB/general/ice_forcing.F90

Replace these 2 lines (line 4134):
      ! Check if current time do not exceed last forcing time
      if ( hcdate>jday_atm(recnu

[2019-01-24 21:31] mhrib opened #274 "Remove "strocnx,strocny" from stepu routine"
"strocnx,strocny" is not needed to be calculated in subroutine "stepu". It is also calculated in subroutine "dyn_finish" short after the EVP-loop / EAP_loop.

Removed from code in #252

[2019-01-25 19:23] phil-blain opened #275 "Place test and test_suite in specific filesystem location"
When using `cice.setup` to create a test or a test_suite, the scripts creates folders in the current CICE directory ; there does not seem to be an option to put the folder and files for the test/test_suite in a different location, as is possible for cases. It would be great to have that possibility, because right now running quick tests on a development machine clutters up the git repository....
D

[2019-02-02 00:20] apcraig opened #279 "evp kernel version 2 testing and validation"
We are going to merge PR #278, PR #252.  There are several outstanding issues, basically copied from the end of #252,

---------------------

Let me summarize where we are.

With evp_kernel_ver=0, results are bit-for-bit for most tests against the current master.  This is running full test suites on gordon for 4 compilers.  A subset of box tests are NOT bit-for-bit on 3/4 compilers.  Rerunning the

[2019-02-13 19:52] apcraig commented on #165
I'm closing this, I think it's done and we have process/documentation in place to deal with it in the future.

[2019-02-13 19:52] #165 closed

[2019-02-14 20:56] apcraig commented on #275
Fixed in PR #281 also in Icepack PR 253

[2019-02-21 18:48] apcraig opened #283 "cice.build "reuse executable" feature"
There is currently a hidden feature in cice.build that support binary reuse. It exists solely to speed up the test suite by reusing the binary as much as possible and avoiding redundant builds.  There is some discussion about whether we want to make this feature public.  If we do, then we need to extend the documentation further and probably provide an example. We might even want to modify the int

[2019-02-25 15:54] phil-blain opened #284 "Numerical libraries as CICE dependencies"
Hello all,
JF and me are in the process of adding an implicit dynamics solver, as we discussed in the last meeting. For now it runs successfully in serial mode. Before investing time to make it parallel, I wanted to get the general feeling of the Consortium towards the use of external libraries. How open are we about adding external dependencies such as linear/non-linear solvers from eg. Trilinos,

[2019-02-26 05:32] eclare108213 commented on #284
Groups are increasingly moving toward using more of these kinds of packages.  I don't see a problem with linking to them, as long as how to do it is well documented and we have alternative options for users who do not wish to use them (in this case, our standard explicit solvers).  We would not distribute those packages with our codes.  The question is whether there will be ongoing, significant ef

[2019-02-26 05:46] eclare108213 commented on #87
@dupontf @JFLemieux73 @phil-blain
Does this still need to be fixed, or was it already done?  I don't think it was -

[2019-02-26 05:48] eclare108213 commented on #60
Done in #278

[2019-02-26 05:48] #60 closed

[2019-02-26 05:54] eclare108213 commented on #61
@mhrib @TillRasmussen
This is one of the issues that I entered based on your original text describing the various tests that you'd run, which turned up some problems.  If you can, please run those tests again with the current code and see which problems persist.   See also #59.

[2019-02-26 05:57] eclare108213 commented on #86
Done in #257

[2019-02-26 05:57] #86 closed

[2019-02-26 06:01] eclare108213 commented on #155
@rgrumbine Did you get the 40x4 roundrobin case to work?

[2019-02-26 06:03] #172 closed

[2019-02-26 09:35] mhrib commented on #274
The calculation of "strocnx,strocny" within "stepu" subroutine in ice_dyn_shared.F90 is removed, as it is also calculated within subroutine "dyn_finish".

Removed from code in #278

[2019-02-26 09:36] mhrib commented on #274
Issue fixed in #278.

Close this issue

[2019-02-26 09:36] #274 closed

[2019-02-26 22:46] dupontf commented on #87
Hi Elizabeth, I think JF commited something about this. @JFLemieux73, can you confirm?

[2019-02-27 13:48] JFLemieux73 commented on #87
Hi,

I juts checked my commits and it is not there. I am a bit confused as I thought there was a pull request for that.

[2019-02-27 14:59] phil-blain opened #285 "Serial gx1 case - stack overflow"
I created a serial test case using the gx1 grid. Turns out this configuration is not in any of the test suites. It resulted in a segmentation fault at `ice_transport_remap.F90:315` or ` ice_transport_driver.F90:222`  (it would segfault as soon as it entered these subroutines).
After investigating I figured it was due to a stack overflow, and indeed I used the compilation flag `-heap-arrays 1024` (

[2019-02-27 17:06] apcraig commented on #285
I don't think we expect the gx1 case to fit in memory on 1 core.  We use the gx3 to test the serial capabilities.

[2019-02-28 01:00] eclare108213 commented on #285
Even though we don't test gx1 serially, and we don't need to, it wouldn't hurt to put a note about this somewhere.  I'm not sure where it would go, though.  My preference would be for this conversation to be on the bulletin board, then anyone browsing there might find it.  @duvivier  might have a suggestion for the docs.

[2019-02-28 01:06] eclare108213 commented on #87
Ah, it's in icepack, not cice:
https://github.com/CICE-Consortium/Icepack/pull/222
I'll close this one.

[2019-02-28 01:06] #87 closed

[2019-02-28 15:17] rgrumbine commented on #155
Not yet, I've been off on other things. Just starting back to the benchmark tests.

[2019-02-28 20:28] duvivier commented on #285
I agree, this is a good bulletin board comment. I'd prefer to put it there than add it to the docs. We can basically copy this conversation there.

[2019-02-28 20:31] duvivier commented on #285
I just added it there: https://bb.cgd.ucar.edu/serial-testing-gx1

@apcraig obviously I didn't add your comment. I'm not sure if you want to add it. Another way to seed the Bulletin Boards?

[2019-02-28 20:31] #285 closed

[2019-02-28 22:38] duvivier commented on #283
I'm not sure we want to make this feature public. My feeling is it's a hidden tool for us in terms of the testing for PRs etc. to the repo. It's not a feature to use for science to make things faster for that. I think it should be something *ONLY* used in the test suite and nothing else. To that end, keeping it hidden except to developers makes sense. The question then is how to document it for de

[2019-02-28 23:18] apcraig commented on #283
The feature is automatically used in all test suites without any control by the user.  So we don't need to document it in the classic sense, like "how to turn it on or off".  We could offer a new argument that would turn it off, although I'm not sure that's so valuable.  I guess the documentation that might be useful would support maintenance and extension of the scripts implementation.  We don't

[2019-03-02 07:52] eclare108213 commented on #283
My suggestion here is to NOT treat this as a publicly available capability that the general user might consider leveraging, since it is conflict-error-prone.  However I do think it should be minimally documented (for maintenance etc, as @apcraig says).  I suspect that putting a basic description of how it works somewhere in the documentation isn't publicizing it in a practical sense, because most

[2019-03-04 07:15] eclare108213 opened #286 "formatting in readthedocs"
The lists aren't being formatted correctly in the 'how to add a tracer' section,
https://cice-consortium-cice.readthedocs.io/en/master/developer_guide/dg_other.html#adding-tracers

Probably my fault...

[2019-03-06 19:31] guillaumevernieres opened #287 "Make the build process independent of the layout"
As a CICE user, it would be useful if you could remove the layout specification from the build process
and instead be a run-time configuration option.

[2019-03-07 17:21] apcraig commented on #287
@guillaumevernieres when you say layout, are you implying grid and blocksize, or pe counts?

With the latest release of CICE6.0.0, the blocks and grid are no longer build time specifications, they are set at runtime.  In fact, in automated testing we reuse the same binary with different grids, pe counts and different blocks, so we know the build does not depend on the grid, pe layout or blocks.  I

[2019-03-07 18:17] apcraig opened #288 "CPPs in CICE6"
As part of the bfb cleanup #204, I am reviewing the cpps (because of the REPRODUCIBLE cpp that I am removing).  I also found a minor bug in the build related to cpps which is being fixed.  Anyway, a few questions arose.

First, there are about 15-20 cpps currently in CICE.  I know we need some, ncdf, CESMCOUPLED, RASM_MODS, _OPENACC, _OPENMP.  But there are several that are probably obsolete and c

[2019-03-07 18:18] #275 closed

[2019-03-07 19:52] phil-blain commented on #288
With respect to CICE_IN_NEMO and ORCA_GRID: these are related to Nemo (the ocean model we use for our coupled system). So they are definitely needed. We will be incorporating CICE6 in our coupled model during the following months, so we might make more use of them. I'm definitely open to renaming them if it improves code consistency.

[2019-03-07 19:55] apcraig commented on #288
Thanks @phil-blain, I did not mean to suggest that because I didn't understand where/how a cpp was used that it should be eliminated, just that we should consider eliminating cpps that we can't find a user/use for.  Good to know that the NEMO/ORCA cpps might still be useful.  Happy to keep them as they are currently named too.

[2019-03-07 20:49] phil-blain opened #289 "Small bug in hourly history output"
I noticed that when using the namelist parameters
[code]
with all other namelist flags to their default values, the output of the first hour (should be `iceh_inst.1997-01-01-03600.nc` ) is not written. This also happens with `hist_avg       = .true.` .
When using outputs at each timestep (`histfreq       = '1'`) it works...

[2019-03-07 21:13] dabail10 commented on #289
What is your timestep in the model? I wonder if there is a weird interaction here. This could certainly still be a bug.

[2019-03-07 21:19] phil-blain commented on #289
I'm just testing CICE standalone for now; I use the default timestep (3600 seconds).

[2019-03-07 21:33] dabail10 commented on #289
I believe the problem is how we define "new_hour" in ice_calendar.F90 and the interaction with the timestep. The alarm is triggered when we go to the next hour, so hour 2. So, the timestamp for the first hour is actually 7200 I believe. I think this is just part of a larger issue about the calendar, #162. For now, the workaround is to write every step for instantaneous output, or if you want hourl

[2019-03-08 13:26] phil-blain commented on #289
Ok, I will do that, thanks for taking a look!

[2019-03-08 15:33] JessicaMeixner-NOAA commented on #287
For me, it would be nice to not have to set the grid, layout and pe-count at compile time.

[2019-03-08 15:37] dabail10 commented on #287
As @apcraig said, we now have dynamic allocation in CICE6. We'll all be working towards bringing in CICE6 into our coupled systems in the near future. Of course with a unified NUOPC cap. ;)

[2019-03-08 15:42] guillaumevernieres commented on #287
OK, good to know and thanks for the quick reply @apcraig .
so "mpirun -np npes ./cice" should work for different npes?

[2019-03-08 16:43] apcraig commented on #287
@guillaumevernieres, that is correct.  With the CICE6.0.0 release, the grid and blocks are dynamically allocated and set at runtime in namelist.  What is not set at runtime is the batch settings and the job launch command which generally also depend on the pe settings and are defined when cice.setup is run.  But that is also not a build time issue.  You can build the model, change the grid and/or

[2019-03-13 16:41] eclare108213 opened #291 "FSD: icepack driver"
- [x] Mimic all pertinent changes to the CICE driver in the Icepack driver
- [x] Fix restarts in Icepack

[2019-03-13 16:52] eclare108213 opened #292 "FSD: testing"
- [x] Icepack:  force with wave data = 0 data
 - [x] Icepack:  force with non-zero wave spectrum
 - [x] CICE:  force with spatially varying wave spectrum on gx3 grid
 - [x] CICE:  check that FSD thermo and wave interaction processes are operating as expected
 - [x] Icepack and CICE:  Test tr_fsd=T with nfsd=1  (Set floediam = 300 m for nfsd=1)
 - [x] Icepack and CICE:  Test tr_fsd=T for all existi

[2019-03-13 16:54] eclare108213 opened #293 "FSD: wave fracturing"
Define a simpler relationship for coupled wave fracture, or make a look-up table, to avoid using a random number generator in tests (which must be reproducible).
This is a longer-term research project.

[2019-03-13 16:56] eclare108213 opened #294 "FSD: Fbot"
Make Fbottom consistent with original code (Fbot)

[2019-03-13 17:00] eclare108213 opened #295 "FSD: wave frequency"
nfreq etc are set in icepack_fsd.F90, temporarily -
Calculate Nfreq in ice_forcing and set to 1 otherwise.
Note that frequency binwidths are currently hardcoded for our version of WaveWatch. Ideally these should be read directly from WW when coupled.

This should be considered as part of a general FSD testing design.

[2019-03-13 17:01] eclare108213 opened #296 "FSD: documentation"
- [x] code:  add summary information at the top of icepack_fsd.F90, including primary references.  Add comments identifying variables, units, etc in all fsd affected subroutines
- [x] Icepack documentation:  primary description of floe size distribution
- [x] CICE documentation:  describe things needed in the driver, such as namelist (in the table), tracers, test forcing, history output, etc.

[2019-03-13 17:10] eclare108213 opened #297 "FSD: BGC"
Implement floe size distribution changes that affect BGC
- [ ] Use rsiden for lateral_melt_bgc
- [ ] Fix add_new_ice_bgc

[2019-03-13 17:14] eclare108213 opened #298 "FSD: miscellaneous"
- [x] Move l_conservation_check into namelist
- [x] Add/clean up FSD sanity checks
- [x] Add FSD timers

[2019-03-15 17:43] phil-blain opened #299 "poll_queue script / general csh usage"
I tried using the **`poll_queue.csh`** script on my machine (ubuntu 14.04) and it fails ; it just outputs
```end: No match.```
 However, when I run it under tcsh instead of plain csh (by changing the shebang), it works.

On my system I have the following links:
 /bin/csh -> /etc/alternatives/csh -> /bin/bsd-csh

So it seems the csh version that comes with ubuntu is not capable of running this scri

[2019-03-15 19:12] phil-blain commented on #299
The line
```set res="$?"```
 in the **`cice.test`** script is also causing a problem with my csh:
``` Illegal variable name.  ```
It works fine with tcsh.

[2019-03-18 19:01] apcraig commented on #299
Portability of these scripts is very important.  If you switch the poll_queue script to tcsh, everything works fine?  Any idea what's causing problems in that script for you?

Also, does $status work better than $? for you in your csh environment?

[2019-03-19 18:33] phil-blain opened #301 "cice.setup for tests : --bgen default does not work"
When using cice.setup to create an individual test (cice.setup --test), using the` --bgen default` option does not work.  The code in cice.setup that generate the baseline name based on the hash and date is only executed for test suites, and not for single tests.  Since the `default` option is mentioned for individual tests [in the documentation](https://cice-consortium-cice.readthedocs.io/en/mast

[2019-03-19 22:14] apcraig commented on #301
@phil-blain, thanks for finding the issues and reporting them.  When you say it doesn't work, I assume it creates a directory called "default" and places the results there?  The bgen and bcmp work for single tests, it sounds like it's just using the special value of "default" that doesn't work.  Do I understand correctly?  I will fix this, should be fairly straight-forward.

[2019-03-20 12:35] phil-blain commented on #301
Yes, it is only the 'default' special value that does not work for bgen. It works for bcmp. What happens is cice.setup outputs the following:
[code]

It then errors at line 661 : `set baseGen = cice.${shhash}.${d1}-${t1}` because shhash is not defined (the code that defines it at line 388 is only executed if creating a suite).
The test directory is correctly created, but almost all values in cice.

[2019-03-20 14:51] phil-blain commented on #299
Also, on a different note:
The poll_queue script is only copied to the suite directory if the suite is created with the --report option (line 372 in cice.setup). I think this script is useful even if the user is not reporting the test results back to the wiki, so I think it should always be copied.

[2019-03-20 16:57] apcraig commented on #301
This is being fixed in #300.  the default bgen and bcmp settings will work with a single test.

[2019-03-20 16:59] apcraig commented on #299
This is being fixed in #300.  I have replaced $? with $status and have refactored the poll_queue so it does not parse the suite.log file.  I am also copying the poll_queue script into the test suite directory for all suites.

[2019-03-27 22:09] apcraig opened #302 "Remove ice_shr_reprosum.c code"
if possible after careful review of need and value.

[2019-03-27 22:12] apcraig commented on #301
PR #300 complete

[2019-03-27 22:12] #301 closed

[2019-03-27 22:13] apcraig commented on #299
PR #300 complete

[2019-03-27 22:13] #299 closed

[2019-03-27 22:13] apcraig commented on #204
PR #300 complete

[2019-03-27 22:13] #204 closed

[2019-04-03 17:30] AlfaAli opened #305 "Problem dumping restart files"
Hi,
I am running version 5.1, at  ~4km resolution for the Arctic.  The  model runs OK and outputs hourly and daily averages  (as netCDF) without any problem, for this I use the following:

  , histfreq         = 'h','d','x','x','x'
  , histfreq_n     =  1 , 1, 0 , 0 , 0
  , hist_avg       = .true.
  , history_dir    = './cice/'
  , history_file   = 'iceh'

I am also trying to dump restart files wi

[2019-04-03 17:35] apcraig commented on #305
Community Support is provided thru the bulletin board.  Please feel free to ask for help there,

https://bb.cgd.ucar.edu/forums/cice-consortium-model-development

I will close this issue.

[2019-04-03 17:35] #305 closed

[2019-04-05 17:00] apcraig commented on #302
I have confirmed that on conrad with 4 compilers, we can remove the c code and get bit-for-bit results.  I don't believe the c code is triggered unless the x86 cpp is turned on AND the ddpdd option is used.   The ddpdd option can be set explicitly or it can be triggered with the reprosum option if "(radix(0._r8) /= radix(0_i8))".  But again, the c code is only needed if the x86 cpp is turned on.

[2019-04-06 19:46] apcraig commented on #284
It always worries me to add new requirements to users to install external libraries in order to use the model.  This can be quite burdensome, especially if multiple compilers are used on a given machine, compiler versions are changing relatively quickly, CICE is used inside a bigger coupled model with it's own build system, or the underlying libraries are evolving quickly especially without clean

[2019-04-06 21:12] apcraig commented on #302
I have created a branch, https://github.com/apcraig/CICE/tree/reproc, that has what I would propose the mods would be to remove the ice_shr_reprosum86.c code.  I have confirmed on conrad with 4 compilers and 4 test suites that the results are bit-for-bit.  There are a few reasons to do this

- gets rid of the c code which makes building CICE a little more complex.
- eliminates questions about when

[2019-04-07 13:30] eclare108213 commented on #305
@AlfaAli, I hope you were able to resolve this problem.  If not, let's take it to the bulletin board for further discussion.  We prefer to use the github issues to track our code/doc/repository tasks, rather than answering users' questions.  The bulletin board also allows the broader community to look for  answers, if they have similar questions.  If you haven't found a solution and don't want to

[2019-04-08 19:07] apcraig commented on #302
I've been trying to understand this better and still don't have a good handle.  One basic reference is here that explains why the c code exists, https://en.wikipedia.org/wiki/Extended_precision.  The issue is that the ddpdd implementation assumes a particular rounding behavior that is violated with the 80 bit extended precision floating bit representation.  So, turning on the x86 cpp and the assoc

[2019-04-08 19:35] eclare108213 commented on #302
@apcraig thanks for working through this issue.  I'm happy to defer to your best judgment, whether that means keeping the c code or dropping it.  Let me know if/when you'd like me to review the changes.

[2019-04-22 23:16] AlfaAli commented on #305
@eclare108213, the issue is resolved.  It turned out that the problem is due to the restart files becoming too
 big (each >2GB) when increasing the grid resolution and therefore the netCDF failed to create them. Luckily this is solved by turning on the 64-bit offset flag in the setup file. This flag is set to false by default.

The model does not give any clue on why it fails to create the restart

[2019-04-23 17:07] phil-blain opened #306 "cice.build quirk when cross-compiling"
I came across a subtle limitation of the current build system.

I'm working on a test system from Cray in preparation for our next HPC migration. The login nodes on this system have a broadwell architecture. That is where I'm compiling the code with `cice.build`. However, I want to run the code on some nodes with a different architecture (skylake). These are just available within a batch job (no i

[2019-04-24 00:49] apcraig commented on #306
We should definitely incorporate this feature into the build system.  It's likely to come up occasionally.  Thanks for finding, reporting, testing some workarounds, and proposing some solutions.

I think we should focus on a solution around (2) above.  We can separately look into 1 or 3, but I would defer those for now.  (2) should address the basic problem robustly and can be used as it comes up

[2019-04-24 13:20] phil-blain commented on #306
Thanks for the feedback. I will start working on a PR.

[2019-04-24 18:08] phil-blain commented on #306
The PR is here #307. It addresses (2) and since the compilation of `makdep` is done by the Makefile it also addresses (3) ! I will do a similar PR for icepack.

[2019-04-24 18:16] phil-blain commented on #306
Icepack PR :  CICE-Consortium/Icepack#257

I might add a thing or two to these two PR but they work as-is for now.

[2019-04-26 12:45] phil-blain opened #308 "CICE Consortium visibility on government.github.com/community"
I stumbled upon [this page ](https://government.github.com/community/#research) that lists government agencies doing work in the open on github. I thought it could be cool to feature the CICE Consortium on this page (I saw ACME is listed there, as well as a few other projects from the national labs). What do you guys think ?

[2019-04-27 04:44] eclare108213 commented on #308
That's interesting.  I think we should add our logo to the mix.  I'm not sure which category to put it in, though.  International?  US Federal doesn't seem inclusive enough.

[2019-04-29 12:34] phil-blain commented on #308
I was thinking adding an "International" sub-section to the "Government-funded Research"  section. I can issue a PR for that on that page if you want.

[2019-04-30 16:53] phil-blain commented on #248
This is a planned feature of readthedocs, apparently coming this year !
[https://github.com/rtfd/readthedocs.org/issues/1340](https://github.com/rtfd/readthedocs.org/issues/1340)

[2019-04-30 18:05] duvivier commented on #248
This is great news. It might just be worth the wait of holding out to see what they come up with instead of inventing the wheel ourselves.

[2019-05-02 13:32] rgrumbine commented on #288
At the moment, I'm having failures to compile on theia and phase3, apparently related to no_I8, which I've tried specifying in different ways (CPPFLAGS -- no_I8, NO_I8, noI8, NOI8; setenv no_I8 true) to no avail, reprosum still fails to compile.

phase2, on the other hand, had no objections and passes all regression tests.

[2019-05-02 13:42] rgrumbine commented on #168
Now have all regression tests passing on phase2, but fail to compile (reprosum comment I made earlier today) on phase3 and theia.

[2019-05-02 13:44] rgrumbine commented on #155
All regression tests now pass on phase2, but refuses to compile (reprosum, no_I8 issue(?)) on phase3 and theia.

[2019-05-02 15:50] apcraig commented on #288
Can you let us know the errors you're getting.  The cpp should be noI8 to turn off support for that feature.

[2019-05-03 15:52] rallard77 commented on #135
I'll take a look at this. Should be straightforward.

[2019-05-03 18:47] phil-blain commented on #289
Just to document, I just noticed that the same bug happens for restarts (bug comes from the same place in ice_calendar.F90)

[2019-05-09 22:28] apcraig commented on #302
I would like to propose we leave the c code as is.  There are some things about how it's implemented that could be improved and that may happen down the road leveraging work from other collaborators.  But I think it helps our build system to have a c file, even if it doesn't do very much at this point.  I would like to leave this issue open for now, but lower priority.

[2019-05-09 22:29] apcraig commented on #302
If we run into problems with the code or the implementation, we can rapidly re-evaluate.

[2019-05-09 22:34] apcraig commented on #306
Both the Icepack and CICE PRs have been merged.  I will close this issue.  Sorry for the delay on the Icepack one, I thought I merged it days ago when I did CICE.   I guess I just approved it and never did the merge.  It's merged now.

[2019-05-09 22:34] #306 closed

[2019-05-09 22:37] apcraig commented on #287
I am going to close this issue for now.  If there are future feature requests, please feel free to add another issue.   It sounds like the ability to dynamically allocate grids and blocks addresses the original request.

[2019-05-09 22:37] #287 closed

[2019-05-09 22:43] apcraig commented on #273
I just checked and this has not been added to the master yet.   I can do it, although I will not be able to test it because it involves hycom forcing.  How should we proceed?

[2019-05-09 23:10] apcraig commented on #133
We discussed the NUOPC cap situation on the Consortium monthly meeting today.  The summary is that NOAA and NCAR are working to build a unified CICE5 NUOPC cap.  At the same time, @dabail10 is working on coupling CICE6 into CESM with the mct cap.  Once CICE6 is running in CESM and the CICE5 NUOPC cap is relatively mature (we should be close for both), we can start to test CICE6 with the CICE5-ish

[2019-05-09 23:39] eclare108213 commented on #150
@proteanplanet says this can be closed

[2019-05-09 23:39] #150 closed

[2019-05-10 15:53] eclare108213 commented on #302
If you think the current implementation will remain stable for a while, I propose adding the 'wont fix' label and closing the issue.  It can be reopened if needed.

[2019-05-11 00:10] #302 closed

[2019-05-13 12:31] rgrumbine commented on #288
Trying the -DnoI8 in Macros.phase3_intel CPPDEFS (on my fb_phase3 branch)
had no effect.  Putting it in cice.build directly did have effect, moving
the error to link time:
<quote>
ice_reprosum.o: In function `ice_reprosum_mp_ice_reprosum_calc_':
ice_reprosum.F90:(.text+0x7cd): undefined reference to
`ice_shr_reprosumx86_fix_start_'
ice_reprosum.F90:(.text+0x992): undefined reference to
`ice_shr_re

[2019-05-13 15:55] apcraig commented on #288
@rgrumbine , the ice_shr_reprosum code is a small piece of c code.  You might want to check that code is being compiled correctly.  The error suggests is has not been compiled.  If you are having problems compiling that, let me know.  I could take a look at your branch/port to see if I see any problems.

Separately, I will try to verify that the -DnoI8 can be placed in the Macros file.  That shoul

[2019-05-13 23:17] rgrumbine commented on #288
It appears that my ice_shr_reprosum problem was because the Makefile in
configurations/scripts/ had hard-coded cc compilation, rather than $(CC).
With that change to the Makefile, the code builds. Might be that we're the
first site to have the default C compiler be different (it's gnu on phase3
and theia) than the standard target (intel).

Thanks,
Bob

On Mon, May 13, 2019 at 11:55 AM Tony Craig <

[2019-05-13 23:23] apcraig commented on #288
Check if you have the latest code, there were several upgrades to the build in the last couple weeks to deal with some of these things.  I think that fix is already on the trunk.

[2019-05-15 21:39] apcraig commented on #279
Some more information on the test failures with evp_kernel_ver=2, running just with the intel compiler for now (other compilers have similar issues).

- conrad_intel_restart_gbox128_4x2.  This runs fine, but fails exact restart.  The same case with debug set, runs very slow and timed out.  If I run 8x1 (no openmp) instead of 4x2, it passes.  If I comment out all the OMP in ice_dyn_evp_1d.F90 with

[2019-05-28 16:18] rgrumbine commented on #288
Updating did help. I'd done some un-gitflow things some time earlier, and
it caught up with me on this issue. Finally, knock wood, caught up all of
that and should be ok from here on.

Thanks,
Bob

On Mon, May 13, 2019 at 7:23 PM Tony Craig <notifications@github.com> wrote:

--
Tel: 301-683-3747
Coupling and Dynamics Group

[2019-05-28 21:53] eclare108213 commented on #171
See PR #316

[2019-05-30 22:34] apcraig commented on #279
#318 addresses several of the outstanding points to some degree,
- update documentation
- change evp_kernel_ver variable to kevp_kernel
- maybe do a little cleanup on ice_dyn_evp_1d.F90 to make the code a little more readable (breaks between subroutines and such)

[2019-05-30 22:36] apcraig commented on #279
#318 also documents that the current implementation is not validated and also aborts when kevp_kernel=2.  As a workaround for testing, kevp_kernel=102 will turn on version=2.  Once this is validated, we will remove the abort and the workaround.

[2019-06-05 20:15] eclare108213 commented on #273
I reopened this issue, pending a final test to make sure the hycom forcing works as expected:  @mhrib @TillRasmussen

[2019-06-06 12:52] phil-blain commented on #308
The PR is here : https://github.com/github/government.github.com/pull/766

[2019-06-06 16:44] apcraig commented on #308
I'm not entirely sure what's happening but the travis check is failing in the PR.  You can look at the travis log and see an error.  I don't know where it's coming from.  It looks like travis passing is a requirement but I have not looked at their git process carefully.

[2019-06-06 17:54] phil-blain commented on #308
There was an error because since I added an International subsection under _Research_ and there already was one under _Governments_, Jekyll generated different HTML tags with the same id's. I just modified the Jekyll file to account for that.

[2019-06-10 16:04] duvivier commented on #308
@phil-blain Do we need to do anything for this on our end? it looks like to be added to the governments page we'll need them to add it. Based on your PR there, it looks like you thought it was best to add a new subsection (International) rather than adding the CICE consortium under the US, Denmark, and Canada separately (if this would even be allowed).

[2019-06-10 17:00] phil-blain commented on #308
Yes, when the pull request is accepted the page will be updated. I thought it best to add it only once.

[2019-06-10 17:01] duvivier commented on #308
@phil-blain So the bottom line is we don't have to do anything on our end though. It's just once they accept the PR it'll be added to their page. Is this all correct?

[2019-06-10 17:04] phil-blain commented on #308
Yes,correct. We don't have anything more to do.

[2019-06-10 17:16] duvivier commented on #286
Complete

[2019-06-10 17:16] #286 closed

[2019-06-10 23:05] apcraig commented on #289
I am looking at this now.  The problem actually is that all the logic to turn on the history and restart flag is within an if test,

  if (istep > 1) then

at about line 280 of ice_calendar.F90.  If I change that to (istep > 0), it writes the first history file fine.  Now, I am a little reluctant to fix this without some discussion.  This is the kind of simple fix that might work perfectly fine in

[2019-06-11 04:40] eclare108213 commented on #289
For amusement, I went looking for the origin of the line

using the 'blame' function in the repository, and found that it predates the svn repo.  Fortunately I recently rescued the very early versions of CICE from a disappearing LANL archive.  The line first shows up in CICE version 3.0, and look at the file header:

:)   We've been doing this a while!

I don't know about you Tony, but I don't rem

[2019-06-11 05:09] eclare108213 commented on #289
Actually, I might remember why it's there...
I think that the behavior was inconsistent, depending on what frequency the output was being written, or possibly depending on whether the run was an initial run or being restarted from a previous run.  It's possible that that conditional was added to make the sets of output files consistent across various output configurations.  Maybe.  It could also h

[2019-06-11 16:13] apcraig commented on #289
@eclare108213 thanks, that's very helpful.  I think there are a couple other things to think about.  First, we now have the ability to write history every timestep which is new.  It seems to me this is sort of a workaround for those that really need the first timestep output.  Second, given this has been in the code for 20 years, it's not clear there is much demand for a fix.  Third, if we really

[2019-06-14 21:20] apcraig commented on #289
I ran a quick exact restart test in RASM with cice6.0.0 with the mod and it passed and was bit-for-bit with the baseline.  Now, in that case we're now writing history or restarts at step=1 anyway.  Just a datapoint, even if maybe not particularly useful.

[2019-06-17 09:58] mhrib commented on #273
Now tested, that the HYCOM calendar check work as expected using the current CICE code (downloaded 3 days ago)

[2019-06-17 09:59] mhrib commented on #273
Now tested, that the HYCOM calendar check work as expected using the current CICE code (downloaded 3 days ago)

[2019-06-17 09:59] #273 closed

[2019-06-24 22:31] eclare108213 opened #327 "resource index in sidebars"
Please add the resource index to the sidebar in all of the repos.  It's important!

[2019-06-25 02:16] duvivier commented on #327
@eclare108213 Do you mean you want the sidebar of the wiki in all repos to look like this: https://github.com/CICE-Consortium/About-Us/wiki?

This formatting had not been continued into the CICE or Icepack wikis since I thought we were just testing it for now, but I'm happy to add it:
https://github.com/CICE-Consortium/CICE/wiki
https://github.com/CICE-Consortium/Icepack/wiki

Just wanted to doubl

[2019-06-25 12:59] phil-blain commented on #327
I agree, having a link to the 'Resource Index' page in the wiki sidebar of the Icepack and CICE wikis make finding the page easier and quicker.

[2019-06-25 13:55] eclare108213 commented on #327
I thought that the CICE and Icepack versions were the new ones.  Let’s decide what we want in them and then make those two consistent, at least.  Maybe just add the resource index.  The other repos would be expected to be different, but we can be thoughtful about them also.
e

[2019-06-25 15:46] duvivier commented on #327
@eclare108213 The default in the wiki is just to have the pages from the wiki in the side bar. To make other links outside this repo's wiki we'll have to add the custom side bar like @apcraig did for the About-Us repo.

I agree with @phil-blain that it would be nice to have the resource index on there. But I don't want to add other pages besides what is there because originally we wanted to minimi

[2019-06-25 15:59] duvivier commented on #327
@eclare108213 @phil-blain @apcraig Please let me know what you think about the new custom side bars. I think as soon as people are happy we can close this issue.

https://github.com/CICE-Consortium/About-Us/wiki
https://github.com/CICE-Consortium/CICE/wiki
https://github.com/CICE-Consortium/Icepack/wiki

[2019-06-25 16:15] phil-blain commented on #327
I think they look good.

[2019-06-25 17:14] apcraig commented on #327
Look good.  Thanks!

[2019-06-25 17:20] eclare108213 commented on #327
This looks good to me - thank you -

[2019-06-25 17:20] #327 closed

[2019-07-04 09:33] jiuxinnai opened #328 "data"
May I ask why the swdn.2005. dat in the gx1 data is not provided? When I was running the mode, I could not simulate the results because I did not have this data.

[2019-07-04 10:08] apcraig opened #329 "Update cheyenne modules July 2019 upgrade"
Not critical as older modules seem to be working fine.

[2019-07-04 10:11] apcraig commented on #328
I will close this issue, @jiuxinnai please move your question to

https://bb.cgd.ucar.edu/forums/cice-consortium-model-development

which is the bulletin board that supports the community.

[2019-07-04 10:11] #328 closed

[2019-07-04 12:47] phil-blain opened #330 "Add max wallclock time to machine files"
I'm porting to one of our clusters which has a max wallclock time of 3 hours.
The `base_suite` has a few tests wihch use the "medium" option, which sets ICE_RUNLENGTH to 4 (4 hours), so I have to manually change `configuration/scripts/options/set_env.medium` from 4 to 3 before creating a test or a suite, or else it fails to submit.
I propose adding a setting to the env files, such as ICE_MACHINE_M

[2019-07-15 19:10] apcraig opened #333 "qc environment setup"
@phil-blain had some problems setting up a working python+ environment for the qc test.  We would like to understand that better and try to make things a bit more robust.

[2019-07-16 19:00] phil-blain commented on #333
See the discussion on #325 for background.

I just created a conda environment with the same exact versions and builds as @mattdturner listed in https://github.com/CICE-Consortium/CICE/pull/325#issuecomment-508108257 (System 2) :
[code]
I still have the error (https://github.com/CICE-Consortium/CICE/pull/325#issuecomment-507692158) This leads me to think that maybe something is wrong with my outpu

[2019-07-17 13:44] phil-blain opened #334 "Fortran 2008 submodules / build system changes"
I just want to open the discussion regarding the use of Fortran 2008 submodules in CICE. Some references for background:

- https://software.intel.com/en-us/blogs/2015/07/07/doctor-fortran-in-we-all-live-in-a-yellow-submodule
- https://software.intel.com/en-us/fortran-compiler-developer-guide-and-reference-submodule
- https://www.ibm.com/support/knowledgecenter/en/SSGH4D_16.1.0/com.ibm.xlf161.aix.

[2019-07-17 14:10] phil-blain commented on #334
I also found this blog post that shows how a makefile can be written to handle submodules :
https://aoterodelaroza.github.io/devnotes/modern-fortran-makefiles/
This person wrote a dependency generator in awk.

[2019-07-18 15:34] phil-blain commented on #89
I just want to bump this, I think having an easy way to visualize coverage is very important. I just noticed that the routines 'global_sub' and 'global_sum_prod' in `ice_global_reductions.F90` are never called in the code with the 'lmask' argument present...

[2019-07-18 17:52] apcraig commented on #89
Thanks @phil-blain, this is on my task list and I have tended to defer it.  I will make some time in the next month to have a look.  I agree it's something that should have been setup months ago.

[2019-07-18 18:38] phil-blain opened #335 "Documentation RST syntax cleanup"
I noticed that there is a lot of wrong RST syntax for variable names in the documentation, for example in
https://cice-consortium-cice.readthedocs.io/en/latest/user_guide/ug_implementation.html#masks
the variable 'icetmask' appear as  `ice\_tmask`. A lot of other variables are similarly wrongly rendered.

When searching 'icetmask' in the search bar, these references do not appear so it causes a us

[2019-07-25 18:53] eclare108213 commented on #333
has anyone had a chance to look at @phil-blain 's output?

[2019-07-25 19:17] mattdturner commented on #333
Not yet.  I should be able to look at it tomorrow, though.

[2019-07-25 21:20] duvivier commented on #335
@eclare108213 Are you wanting this complete before release? I am happy to do it, but I'm just swamped before leaving town this weekend and I don't want to hold up the release.

[2019-07-25 23:24] eclare108213 commented on #335
It's not critical for this release - let's fix it for the next one.  It's just formatting, not wrong information content.

[2019-07-26 16:48] mattdturner commented on #333
There was an issue in the QC script that wasn't encountered with the data that had been previously used for testing, but was encountered with @phil-blain 's output.  If I'm remembering the QC process correctly, it looks like the script is taking each data point and looking it up in a critical T-value table.  The problem arose when 1 of the data points fell exactly in the center between 2 T-values.

[2019-07-26 21:00] mattdturner commented on #333
I'm going to have to hold off on the pull request until next week.  I'm trying to reduce the amount of memory required by the script.  Currently, I have a virtual memory limit of 8GB on one of the machines that I am using.  I am unable to run the script on that machine.  I have been successful running it on other machines with a larger virtual memory limit.

[2019-07-30 00:24] eclare108213 commented on #288
@apcraig did you make a list of all the cpp's in the code now?  It has been many years (probably since v5.0 release) since I went through them and cleaned up, and it's definitely time to do that again.  Many of them are to support CICE's use in various coupled systems.  My approach would be to create a table listing all of them along with their apparent function, and send that out to the users for

[2019-07-30 00:27] eclare108213 commented on #330
This seems like a good idea.  There are issues like this more generally, e.g. some machines don't have enough processors to run some of the base_suite tests, so those return fails (I think).  It would be nice to have a way of specifying ahead of time what the computing environment limitations are.

[2019-08-05 16:46] eclare108213 commented on #171
I have been unable to make this test work, and so the PR #316 has been closed.  I'll try not to delete that branch, in case someone else wants to work on this problem.

[2019-08-05 17:55] apcraig commented on #308
It looks like the PR sat too long and now is out of date with the base, github/government.github.com#766.  What a pain.  @phil-blain are you able to update?  Should we give up?

[2019-08-05 17:58] phil-blain commented on #308
Yes I will update the PR with their latest master. As I wrote to Elizabeth this morning, I will do this after the sea-ice conference in Winnipeg in 2 weeks.

[2019-08-06 19:12] phil-blain commented on #333
I've tried the new script with the input I uploaded here, and the test passes (same result as @mattdturner above.)
However, Amélie @abouchat  tried the new script on her outputs for #331 and she still has the error :
[code]

Amélie's outputs are here :
base : https://1drv.ms/u/s!AqQgQ3VdlaGUgi97LkuvOd0y_oEi?e=FhDFOi
test : https://1drv.ms/u/s!AqQgQ3VdlaGUgjB2eboFCfLr6oVz?e=Ep9NAa

[2019-08-07 19:06] dabail10 opened #342 "NCAR izumi"
Need to add support for NCAR izumi. The machine hobart will eventually go away and so we should move the test suite to izumi.

[2019-08-07 19:11] abouchat opened #343 "Problem with 'use_leap_years'"
When running the QC test case with the 'boxrestore' option activated, I get errors in the thermo step as soon as Jan 1st 2000 is reached. This seems to be due to having the option 'use_leap_years = .true.' activated in the namelist (2000 is a leap year). If I manually put 'use_leap_years = .false.' then the case runs and there are no errors.

Maybe related to #162 ?
Might also be related to using

[2019-08-07 19:32] phil-blain commented on #343
The `use_leap_year` namelist flag is only active for the option 'boxrestore', and in the test suites the 'boxrestore' option only runs for 1 or 2 days (I think) so this might not have been noticed before.

[2019-08-07 19:35] dabail10 commented on #343
This is very curious. I don't know why the leap year option would cause a thermodynamic error like this. Did you try turning on use_leap_years for a ktherm=1 or ktherm=2 case? I have a feeling this is just coincidental.

[2019-08-07 19:37] dabail10 commented on #343
Actually, one potential issue is that shortwave is not being generated correctly for the "leap days". However, I would think this is only a problem when you reach Feb 29.

[2019-08-07 20:52] phil-blain opened #344 "setting diag_type = 'file' in namelist makes cice.run end with 'CICE run did not complete'"
Not a big issue, but still it would be nice if cice.run could grep the diag file specified in the namelist (diag_file) if diag_type is set to 'file' instead of the default value 'stdout'. Then real runtime errors would be spotted faster when diag_type = 'file' is used.

[2019-08-07 22:00] eclare108213 commented on #343
The code tends to fail with thermodynamic errors if _anything_ is wrong with any of the forcing, so most likely having the extra day is causing some forcing field to be computed or read in incorrectly, for leap years.  Could be shortwave, might be something else.  Good catch.

[2019-08-08 22:21] apcraig commented on #329
Addressed with #341

[2019-08-08 22:21] #329 closed

[2019-08-09 13:23] abouchat commented on #343
I ran new cases with `ktherm=1` or `ktherm=2` and `use_leap_years` on, and the thermodynamic also fails when reaching Jan. 1st 2000 in both cases.

[2019-08-09 14:07] abouchat commented on #333
After update #346 , the QC test now also runs on my output!
And I get the same results as Matt:

[code]

[2019-08-09 14:10] phil-blain commented on #333
This issue can now be closed

[2019-08-09 15:40] dabail10 commented on #343
Thanks for checking. In the CESM, the driver deals with leap years so we haven't seen this in CICE before. Good catch as Elizabeth said.

[2019-08-09 16:16] eclare108213 commented on #289
My recommendation is to defer this issue and address it with #162.  I like @apcraig's suggestion to create comprehensive unit testing for the calendar functionality, and to do this within the next year or so.  In the meantime, we can note this timestep-1 behavior somewhere in the docs ("known issues").

[2019-08-09 16:18] proteanplanet commented on #289
During the next year, I will be bringing the satellite emulator into Icepack, and calendar functionality is a critical part of this, down to the millisecond.  I suggest that Tony and I combine our efforts into that work.

[2019-08-09 16:24] eclare108213 commented on #139
I recommend just documenting this more clearly, and later taking a look at the implementation as part of the time manager planning work for #162.

[2019-08-09 16:37] eclare108213 commented on #247
What do the signalling-nan errors mean?

We need to make a list of other tests that we know are missing, such as revp, maybe not in this issue.

[2019-08-09 16:41] #333 closed

[2019-08-09 16:43] phil-blain commented on #247
The flags means that all arrays and scalars are initialized with signaling nans. Signaling nans make the code abort if any computations uses them. It is a way to check that the code does not use uninitialized variables

[2019-08-09 16:43] phil-blain commented on #247
Revp is included in the base_suite through test using the options "alt02" and "boxrestore"

[2019-08-09 17:16] eclare108213 commented on #343
@abouchat would you mind setting up a test to debug the forcing?  Use -s debug for the setup, and swap out CICE_RunMod.F90 with the version that prints out various fields (including forcing), called CICE_RunMod.F90_debug (it should be in the same driver directory, and identical except for the print calls).  You'll probably need to change the timestep on which printing begins, in ice_diagnostics.F9

[2019-08-09 17:36] eclare108213 commented on #186
@dabail10 has the grid info, @rallard77 has JRA55 forcing...  have a chat!

[2019-08-09 17:51] eclare108213 opened #347 "standardize QC testing workflow, requirements, documentation"
Define and document a standard workflow for QC testing, including instructions for what to do when the configuration being modified is not part of the default setup.   There should be a control run without the modification with which to compare a second run using the modified code; both runs may need some manual changes.  For modifications that do cause major changes in model output, before and af

[2019-08-09 17:58] phil-blain commented on #347
Also related: #345 to make the plots :) !

[2019-08-09 17:58] mattdturner commented on #347
I thought, to some extent, that this was already done.  [Code Compliance Testing Procedure](https://cice-consortium-cice.readthedocs.io/en/master/user_guide/ug_testing.html#code-compliance-testing-procedure) has some of the software requirements for the QC test, and [End to End Testing Procedure](https://cice-consortium-cice.readthedocs.io/en/master/user_guide/ug_testing.html#end-to-end-testing-pr

[2019-08-09 17:59] eclare108213 commented on #347
Yes, thanks.  Let's review what's already there and clarify as needed.

[2019-08-09 18:43] abouchat commented on #343
I am afraid I won't have time to complete this as my internship at ECCC ends on Aug. 13th, and I won't be able to access the output after this. However, @phil-blain mentioned he will take care of this soon!

[2019-08-09 18:58] eclare108213 opened #348 "move forcing data to zenodo or ESGF?"
zenodo allows data sets up to 50 GB and would provide a DOI for each one.  Let's investigate moving our forcing data from NCAR ftp to zenodo, or alternatively, the Earth System Grid Federation.  We'll need to consider how it is logically broken up and listed, and how the travis scripts would retrieve it.

[2019-08-09 19:26] eclare108213 commented on #347
The plots I was thinking of are maps, and #345 is for time series.  We don't have scripts to make maps (yet).

[2019-08-09 19:32] eclare108213 commented on #61
@dabail10 please test with your Nag compiler - if it comes back clean then we can close this issue.

[2019-08-12 16:27] phil-blain commented on #308
I just updated the PR

[2019-08-12 23:36] apcraig commented on #289
The documentation was updated with PR #336 to note a "known bug".  I am going to close this, but also add a note to #162 to revisit this issue there.

[2019-08-12 23:36] #289 closed

[2019-08-12 23:39] apcraig commented on #162
#289 noted a problem when writing a history or restart file on timestep 1 in some cases.  #289 results in a known bug being issued in the documentation.  But this should be revisited.  The underlying issue is

[2019-08-13 07:54] TillRasmussen commented on #61
I have looked into the compile flags that was used. For IEEE, which were the one that displayed the issue, the flags were "-g -00 -ieee=stop -nan". Unfortunatly we dont have the compiler inhouse at DMI anymore.

[2019-08-13 08:41] TillRasmussen commented on #59
I went back and checked the history. I agree with most that is being said in this thread.
The issue appears when changing decomposition and is only present for shortwave related fields as all other fields are zero when land is present (based on a restart of CICEv6). The reason (as mentioned) for this is that the blocks do not cover the same area and the result is that land points will be calculate

[2019-08-13 15:48] eclare108213 commented on #59
Which configuration are you testing?  In particular, I'm wondering what variety of forcing you are using.  This should not be a problem for gx1 using the LYq atmo forcing option because fsw is multiplied by the land mask after it is calculated.  On the gx3 grid, it is not masked.  We could do that, but I wonder whether it's really necessary.  Can we leave this as it is and close this issue, or sho

[2019-08-13 18:00] apcraig commented on #162
#343 notes some issues with leap years.  We will want to make sure we can address leap years in general.  In particular, this comes into play with the internal time manager as well as forcing files (which may be missing leap days or may have them when we aren't using leap year calendars).

[2019-08-13 18:06] apcraig commented on #308
Thanks @phil-blain!  I get we can see if it gets stale again.

[2019-08-13 18:33] apcraig commented on #330
I am implementing machine limits on both total number of pes (tasks * threads) and the batch wall limit.  Are there other constraints we want?

If some current machines have limits, let me know and I'll add them to the env machine files.  For now, I'll just test on one of the machine I have access to with fake limits but won't check those limits in.

[2019-08-14 08:19] TillRasmussen commented on #59
We read in data using the hycom_data function on a ~10km grid. This do not really influence the results, thus it is not that important to fix.

[2019-08-14 18:41] eclare108213 commented on #59
I will close the issue.  We can reopen it if it shows up again in restart or other tests.  If that happens, we will land-mask all of the forcing variables and see whether that takes care of the problem.  Thank you @TillRasmussen.

[2019-08-14 18:41] #59 closed

[2019-08-15 18:09] phil-blain commented on #248
See also the project board https://github.com/orgs/readthedocs/projects/8

Apparently the feature is ready to beta test:  https://blog.readthedocs.com/building-docs-for-pull-requests/ @duvivier if you want to try it out.

[2019-08-15 18:44] phil-blain opened #353 "Write git commit hash to cice.settings in cice.setup"
I think it could be valuable to write the output of `git describe --dirty` to the cice.settings file when cice.setup creates the case/test directory. This would be useful when we go back to an old case to know from which commit this case was originally created. Of course this would have to be taken with a grain of salt if using incremental builds since then the compiled executable could change aft

[2019-08-15 21:42] phil-blain commented on #283
This will be done as part of #322

[2019-08-15 23:27] phil-blain commented on #247
Two thoughts :
1. I think that we should consider trying to run CICE in Valgrind to check memory usage (using memcheck)

2. On intel, compiling with -check arg_temp_created gives a lot of output. Has this been discussed before ?

[2019-08-21 16:25] mattdturner commented on #347
The current QC script will plot a map of 2-stage test failures, if the 2-stage test does indeed fail (only if all necessary Python packages are available).  Here is an example:

![image](https://user-images.githubusercontent.com/8278916/63449757-5a93e300-c406-11e9-8a75-cd63f409a89a.png)

Note that this QC test was done with randomly perturbed data in order to force a failure.

Should I update the

[2019-08-21 19:21] mattdturner commented on #347
I just realized that the map has the x-axis flipped... I'll have to create a PR to fix that

[2019-08-22 18:52] apcraig commented on #248
We just received early access to the PR capability with readthedocs and I have turned on the webhook for  readthedocs in both Icepack and CICE to "pull request" as directed by readthedocs folks.  We'll have to see what happens.  My hope is with the next pull request, we get a new link in the PR pointing to the readthedocs documentation build.  We'll see.

[2019-08-28 21:32] phil-blain commented on #343
When using use_restart_time=.false., the divide by zero is not encountered and the code seems to run ok.
Same when using year_init=2005.

I think this issue should be taken care of carefully as part of #162. I wanted to see if a quick fix was possible before the release, but it seems it is not...
I think aborting the code early in the initialization process would be safer, but what should we check

[2019-08-28 21:34] dabail10 commented on #343
Did you try re-running with use_restart_time = .false.? I think the problem is that it is counting steps from year_init to the date on the restart file. When leap_years is .true., this means it counts the extra leap days between 1997 and 2017. Now, that said it shouldn't matter for the forcing, because the forcing cycle repeats right? When reading the LY data, the relevant variables that it needs

[2019-08-29 17:46] phil-blain commented on #283
This was taken care of in #354 and can be closed.

[2019-08-30 15:52] eclare108213 commented on #155
@rgrumbine, just checking in on this issue.  Did you figure it out?

[2019-08-30 15:55] eclare108213 commented on #335
@duvivier, just pinging this issue, which we'd postponed before the previous release.  We can continue to postpone, but it would be nice to fix.  Let me know if there's something you'd like me to do...

[2019-08-30 16:08] duvivier commented on #335
@eclare108213 it's something I'm planning to address today actually. I'll let you know how it goes.

[2019-08-30 16:17] rgrumbine commented on #155
We've had near zero availability on the phase3 machine, so no. Fingers
crossed and all.

In the mean time, theia, the R+D machine, is being replaced by Hera at the
end of September. I've moved my files over there. But now the baseline
tests don't all pass on Hera R+D either. Very likely an issue of intel
compiler version vs/with netcdf version.

On Fri, Aug 30, 2019 at 3:52 PM Elizabeth Hunke <not

[2019-08-30 16:35] eclare108213 commented on #343
Please add a check/abort to subroutine init_forcing_atmo.   I'd check whether the forcing data is JRA55 or default, and abort if it's not.  Hard-coding is not optimal, but this is a temporary fix until we can overhaul the time manager.

Alternatively, we could reset use_leap_year to false if the forcing is not JRA55, but we're moving away from less-than-transparent changes like that.  Aborting is

[2019-08-30 16:46] apcraig commented on #342
Done for both icepack and cice

[2019-08-30 16:46] #342 closed

[2019-08-30 16:48] apcraig commented on #330
This is done with #349 and #356.  MAXPES, MAXRUNLENGTH, and MAXTHREADS are options.

[2019-08-30 16:48] #330 closed

[2019-08-30 16:49] #283 closed