[2019-08-30 18:48] phil-blain commented on #343
Maybe this could be done as part of #350 ?

[2019-08-30 18:53] eclare108213 commented on #343
That makes sense.  @mattdturner or @rallard77, could one of you add a short block of code to ice_forcing.F90, in #350 (since it's already a PR and this is related to it)?

[2019-09-05 14:50] rallard77 commented on #343
All,

When I test the JRA55 test case for a restart for 2005 (could be 2006
etc.) , with fyear_init=2005 and year_init=2005 with use_restart_time =
.false.

The bfb test fails since it resets to istep=0 when reading the restart
file for Jan 6.

If I set use_restart_time = .true. , the test passes, but the year in
the log file and output filenames are for 2025.

Any suggestions on how to resolve th

[2019-09-05 17:47] apcraig commented on #61
I have been playing with the nag compiler this morning and have not been able to duplicate this error.  There is an interesting line at 1584,
`!     uvm = c0
`which seems to have been modified (commented out) in 2018 by Dave.  Not sure why, but given we are not able to duplicate the error from DMI, I think we can close this.

There is one other thing though.  When I add -nan to the compile, I get

[2019-09-05 17:50] apcraig commented on #279
In nag testing, a separate issue was discovered.

When I add -nan to the compile, I get a separate error,

[code]
I spent a few minutes trying to understand this. This only happens when threading and -nan is set. The error went away if I removed the threadprivate OMP definition at line 51 and then changed the OMP PARALLEL DEFAULT(none) statement on line 70 to OMP PARALLEL PRIVATE(domp_iam,domp_nt,

[2019-09-05 17:51] apcraig commented on #279
Also want to note the fix to the kind types due to nag testing in ice_dyn_evp_1d.F90 that was part of #356

[2019-09-05 23:26] phil-blain commented on #335
This can be closed.

[2019-09-05 23:27] #335 closed

[2019-09-05 23:52] phil-blain opened #360 "Scripts: add support for parameter sweeps"
I think that parameter sweeps would be a very nice feature to have. Basically I mean automating the creation and submission of different cases where the only difference is the numerical value of some namelist parameter that varies between min and max with a certain step.
I think we could leverage parts of the existing test suite script infrastructure to implement this.
We would have to decide in w

[2019-09-06 22:21] apcraig commented on #360
I think this is an interesting idea.  Is this to support science or model testing?  I have some mixed feelings about whether we should implement a bunch of scripts to support it though.  These kinds of things tend to be pretty custom.  What I think we could do is add a section in the documentation that describes how to do these kinds of tests.  We might add some small changes to the scripts to mak

[2019-09-06 22:28] apcraig commented on #353
Ultimately, a case points to a sandbox.  And that sandbox can tell you the git info.  As suggested, there are also many caveats to formally tracking the version in the case, custom mods, updates to the sandbox after the case is created, etc.  I'm not convinced this buys us much.

When a test suite is run, part of what is tracked is the origin, branch, hash, and other git info.  That too has some o

[2019-09-07 00:38] apcraig commented on #162
I have updated the google doc (see above), would love to have some feedback.  I think I'm going to start working on this in the next few weeks.  I think it's becoming more important all the time.  I plan to build a unit tester, and testing within the model will need to be quite comprehensive.  It will not be a small task, but I think I can make reasonable progress.

[2019-09-10 16:50] mattdturner commented on #343
@eclare108213 I am modifying ice_forcing.F90 to abort if `use_leap_years` is True and the input data is not JRA55 or default.  It looks like it is causing the `boxrestore` tests to fail because they are being aborted in the added code.  Should the `box2001` atm_data_type be included as a valid option when using `use_leap_years`, or should I modify the boxrestore tests to have `use_leap_years=.fals

[2019-09-10 18:56] eclare108213 commented on #343
I'd modify the box restore tests to not use leap years...   However, we need to make sure the use_leap_years option is true for some other test, though, which will probably require adding in some other forcing to your abort statement.  Might as well be boxrestore...

[2019-09-11 13:10] mattdturner commented on #343
Is the JRA55 test sufficient enough for testing use_leap_years?  Or do we need/want additional tests?

[2019-09-11 13:32] eclare108213 commented on #343
How about using 2008 instead of 2005 for the JRA55 test?

Sent with BlackBerry Work
(www.blackberry.com)

From: rallard77 <notifications@github.com<mailto:notifications@github.com>>
Date: Wednesday, Sep 11, 2019, 7:27 AM
To: CICE-Consortium/CICE <CICE@noreply.github.com<mailto:CICE@noreply.github.com>>
Cc: Hunke, Elizabeth Clare <eclare@lanl.gov<mailto:eclare@lanl.gov>>, Mention <mention@noreply.g

[2019-09-11 13:38] rallard77 commented on #343
Sure, we can do that...

Rick

On 9/11/2019 8:32 AM, Elizabeth Hunke wrote:

[2019-09-17 01:06] apcraig commented on #248
This seems to be working now in both Icepack and CICE.  I will close this for now.  If we need to reopen or need to open a new issue if something comes up, we can.

[2019-09-17 01:06] #248 closed

[2019-09-17 13:32] phil-blain commented on #248
Just to document, what was missing to make it work ?

[2019-09-17 15:42] apcraig commented on #248
This is a good question.  The final piece of the puzzle was to go into my personal settings, under applications, authorized OAuth apps, click on readthedocs, then make sure readthedocs was authorized in the CICE-Consortium.

The permissions thing is something I still don't totally understand.  I have to do things in my personal settings under github and readthedocs to allow the CICE-Consortium Pro

[2019-09-17 16:50] duvivier commented on #248
@apcraig Thanks so much for ironing out these details. Do you happen to know if anyone with the admin settings for the consortium (Elizabeth for example) could also make the changes to allow this? Or did it have to be you?

[2019-09-17 17:28] apcraig commented on #248
I'm pretty sure anyone with the same permissions as I can do the same thing.

[2019-09-18 19:37] phil-blain opened #363 "Modernize MPI interface"
I just noticed that the CICE code uses 2 (very) old ways to get MPI functionality, that is
**a preprocessor 'include' macro**:
[code]
(in `cicecore/cicedynB/infrastructure/comm/mpi/ice_reprosum.F90` and `cicecore/cicedynB/infrastructure/comm/serial/ice_reprosum.F90` )

or **a Fortran 'include' statement** :
[code]
(everywhere else)

The `mpif.h` header is [strongly discouraged](https://www.mpi-for

[2019-09-19 14:38] phil-blain commented on #363
As an aside, I'm starting to work on coupling CICE6 with NEMO for our systems and the `#include <mpif.h>` statement in **ice_reprosum.F90** makes the NEMO build system fail (it is a [unnecessarily] complex, black-box build system).
As a first step I propose changing just `cicecore/cicedynB/infrastructure/comm/mpi/ice_reprosum.F90` and `cicecore/cicedynB/infrastructure/comm/serial/ice_reprosum.F90`

[2019-09-19 15:08] apcraig commented on #363
That would be good.  Have you verified that will fix your problem in NEMO?

[2019-09-19 17:24] phil-blain commented on #363
Yes I did, it does. However I have another problem, should I open a new issue ?

[2019-09-19 22:52] apcraig commented on #363
I just merged #365.  If there are other issues, feel free to add them to this one or open a new issue, whatever you prefer.

[2019-09-20 13:20] phil-blain opened #366 "Building CICE with NEMO 3.6"
I'm starting to work on coupling CICE6 with NEMO 3.6 for our ice-ocean forecasting systems at ECCC.

First step is getting it to compile; how it was done for CICE4 and CICE5 is that the NEMO build system (a [deprecated version](https://metomi.github.io/fcm/doc/user_guide/build.html) of [FCM](https://metomi.github.io/fcm/doc/)) is in charge of compiling a single executable comprising both NEMO and

[2019-09-20 18:30] apcraig commented on #366
I am testing CICE in RASM right now too.  I haven't updated the RASM CICE code for over 6 months.  I believe I am seeing the same issue.  I think splitting the files as proposed is a good idea.

I would like to create a PR for CICE that addresses this issue and any other issues I find in the RASM integration testing.  I think this needs to be sorted out before the next CICE release.  This is top p

[2019-09-20 18:51] TillRasmussen commented on #366
I don't have a problem splitting each module  into their own file.
-> @phil-blain Phil-blain May I ask why you work on Nemo 3.6 instead of 4?

[2019-09-20 19:05] apcraig commented on #366
@TillRasmussen how about combining all 3 modules under the single ice_dyn_evp_1d module.  The only public interfaces in the file are in ice_dyn_evp_1d so the subroutines in dmi_omp and bench_v2 could just be private subroutines in ice_dyn_evp_1d.

[2019-09-20 19:20] TillRasmussen commented on #366
That would probably work fine

[2019-09-20 19:21] phil-blain commented on #366
@apcraig yes no problem, be my guest!
@TillRasmussen we just migrated our operational systems to NEMO 3.6 so we want to do things one step at a time... NEMO 4 is on the roadmap but further down the road.

[2019-09-20 19:25] phil-blain commented on #363
I'd vote for reopening since the code modernization issue was not addressed.. maybe we can talk about it at the next teleconference ?

[2019-09-30 21:22] apcraig commented on #366
This should be addressed in #367 and am closing.

[2019-09-30 21:22] #366 closed

[2019-10-08 14:20] phil-blain commented on #308
They merged our PR ! https://government.github.com/community/#research

[2019-10-08 14:20] #308 closed

[2019-10-17 21:28] eclare108213 commented on #308
Terrific!  I just now looked at this, and we top the page!  Thanks again @phil-blain

[2019-10-21 16:36] rgrumbine commented on #155
All regression tests now pass on all three of phase2, phase3, and hera.

[2019-10-25 12:12] Yukai12345 opened #373 "forcing data"
I want to know what is the meaning of these data cldf、prec、swdn.

[2019-10-25 15:00] eclare108213 commented on #373
@Yukai12345, those forcing fields are described briefly in the code and also should be described in the [online documentation](https://github.com/CICE-Consortium/About-Us/wiki/Resource-Index#model-documentation).  If you are unable to find the information you are looking for, please submit a question to our [bulletin board](https://bb.cgd.ucar.edu/forums/cice-consortium-model-development), where w

[2019-10-25 15:00] #373 closed

[2019-10-25 15:16] Yukai12345 commented on #373
Thank you very much！

------------------ 原始邮件 ------------------
发件人: "Elizabeth Hunke"<notifications@github.com>;
发送时间: 2019年10月25日(星期五) 晚上11:00
收件人: "CICE-Consortium/CICE"<CICE@noreply.github.com>;
抄送: "玖辛奈"<1838053191@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [CICE-Consortium/CICE] forcing data (#373)

@Yukai12345, those forcing fields are described briefly in the code and also sho

[2019-10-25 15:17] Yukai12345 commented on #373
Thank you very much!

[2019-10-25 15:35] Yukai12345 opened #374 "forcing data"
May I ask what cldf (the monthly cloud forcing) is in the gx1 data? Is it the monthly total cloud?Does prec (precipitation) refer to the average monthly precipitation?What does swdn mean?I haven't seen any explanation for the data in documentation.I would like to download these from ECMWF now and hope you can explain what they mean.Thank you!

[2019-10-25 15:37] Yukai12345 commented on #373
May I ask what cldf (the monthly cloud forcing) is in the gx1 data? Is it the monthly total cloud?Does prec (precipitation) refer to the average monthly precipitation?What does swdn mean?I haven't seen any explanation for the data in documentation.I would like to download these from ECMWF now and hope you can explain what they mean.Thank you!

------------------ 原始邮件 ------------------
发件人: "Eliza

[2019-10-25 15:46] eclare108213 commented on #374
Please move your question to our bulletin board, which is here:
https://bb.cgd.ucar.edu/forums/cice-consortium-model-development

[2019-10-25 16:08] Yukai12345 commented on #374
Sorry I can't open this link

[2019-10-25 16:08] eclare108213 commented on #374
I see the bulletin board is having some sort of issue -- I'm not able to reach the site.  So for now:

I had a look at the docs and the code, and I agree with you that these fields are not sufficiently documented.  I am reopening this issue, as a reminder for us to improve this aspect of the docs.

Here's what I remember (NB some things might be wrong and if so, other people can correct me):

- cl

[2019-10-25 16:08] Yukai12345 commented on #374
Sorry I can't open this link.

------------------ 原始邮件 ------------------
发件人: "Elizabeth Hunke"<notifications@github.com>;
发送时间: 2019年10月25日(星期五) 晚上11:46
收件人: "CICE-Consortium/CICE"<CICE@noreply.github.com>;
抄送: "玖辛奈"<1838053191@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [CICE-Consortium/CICE] forcing data (#374)

Please move your question to our bulletin board, which is here:
 https://

[2019-10-25 16:16] Yukai12345 commented on #374
Thank you very much！

发自我的iPad

------------------ Original ------------------
From: Elizabeth Hunke <notifications@github.com&gt;
Date: 周六,10月 26,2019 0:08 上午
To: CICE-Consortium/CICE <CICE@noreply.github.com&gt;
Cc: Yukai12345 <1838053191@qq.com&gt;, Author <author@noreply.github.com&gt;
Subject: Re: [CICE-Consortium/CICE] forcing data (#374)

I see the bulletin board is having some sort of issu

[2019-10-25 16:22] dabail10 commented on #374
The new link is here: https://xenforo.cgd.ucar.edu/cesm/index.php#sea-ice.125. They changed the software without giving us more warning. We are in the process of trying to reorganize the forums again.

[2019-10-25 16:29] Yukai12345 commented on #374
OK,thanks.

------------------ Original ------------------
From: David A. Bailey <notifications@github.com&gt;
Date: Sat,Oct 26,2019 0:22 AM
To: CICE-Consortium/CICE <CICE@noreply.github.com&gt;
Cc: Yukai12345 <1838053191@qq.com&gt;, Author <author@noreply.github.com&gt;
Subject: Re: [CICE-Consortium/CICE] forcing data (#374)

The new link is here: https://xenforo.cgd.ucar.edu/cesm/index.php#sea-i

[2019-10-25 17:28] apcraig opened #375 "CICE and Icepack Namelist Documentation"
I would like to propose we reorder the namelist documentation in the tables to be alphabetical in each namelist group.  I recognize setup_nml is split into subsections (time/diagnostics, initialization/restarting, and model output).  Maybe those could persist and we could organize them by alphabetical in their subgroups.  I also wonder if we can improve on the formatting, maybe make the namelist g

[2019-10-25 17:48] eclare108213 commented on #375
All good ideas.  Are you proposing the reordering only in the documentation?  It seems like it should match the ordering in the namelist file -- would we want to change that too?  That could be a bit disruptive.

[2019-10-25 17:53] apcraig commented on #375
It's a good question.  In CICE standalone, the order is determined by the order in our ice_in default file.  In other applications, it is likely to be different.  In CESM, the order is alphabetical just because that's how the namelist generation script works.  By making the documentation alphabetical, it makes it easier to find information for a given namelist variable name regardless of the order

[2019-10-28 18:58] #155 closed

[2019-10-28 19:33] eclare108213 commented on #249
The JRA-55 forcing has been implemented.   What remains is to retire the CORE-II based forcing.  I recommend removing it entirely from the code (forcing routines would still be available via github) and from the standard forcing data download (keep a link to it, but don't put it in the mass-download file).  This transition also includes QC tests, to make sure they still work as advertised.  @ralla

[2019-10-28 19:37] eclare108213 commented on #249
Would it be possible to make new gx3 forcing from JRA-55, too?

[2019-10-28 19:40] dabail10 commented on #249
And maybe tx1 as well?

[2019-10-28 19:48] eclare108213 commented on #353
@phil-blain I will close this for now, but if you want to continue the discussion, we can reopen it.

[2019-10-28 19:48] #353 closed

[2019-10-28 19:58] rallard77 commented on #249
[jra55-example1.pptx](https://github.com/CICE-Consortium/CICE/files/3780390/jra55-example1.pptx)
Here just a few slides showing CORE II (slide 1) and JRA55 (slides 2&3). I have a lot more I can share (36 slides) if interested. It should be easy to also add gx3 and tx1.

[2019-10-28 21:59] duvivier commented on #374
@eclare108213 To clarify what needs to be done still:
1. Better document names of the forcing files
2. Document the cldf and precip details
3. Change the links to the bulletin board everywhere - and yes, this is a pain. >:-(

[2019-10-28 22:01] duvivier commented on #374
You are correct @eclare108213, in the coupled model we don't need cloud fraction. Just the direct radiative forcing (SW down - in the 4 components, LW down). We calculate the SW up and LW up and pass those back.

[2019-10-28 22:36] duvivier commented on #249
@rallard77 @eclare108213
I have posted the output here:
https://github.com/CICE-Consortium/CICE/wiki/CICE-6.0.2-Sample-Output
In there I link to the 6.0.0 output since that is all still relevant for other configurations.

I also updated the link in the release table for 6.0.2:
https://github.com/CICE-Consortium/CICE/wiki/CICE-Version-Index

You should be able to edit these wiki pages yourself if y

[2019-10-28 22:44] eclare108213 commented on #249
What I'd like is to move users off of COREII completely, in favor of JRA55, but I don't think we should remove the COREII data completely from the ftp site, for backwards compatibility.  I'm not sure what the best way to do this is.  We can certainly stop serving COREII unless it is specifically requested (i.e. don't package it as part of the standard forcing data).  And I agree, don't change the

[2019-10-28 22:46] duvivier commented on #249
@eclare108213 Great, thanks for clarifying. I agree it makes sense to just support one in the master version of the code and maybe somewhere at the bottom of the wiki link to the COREII tarball that just includes that data and nothing else. I just looked - the CORE data are 27G (uncompressed) compared to the 47G for JRA55, so it'll be nice to get these out of the "all" tarball, but it's not too cr

[2019-10-28 22:49] eclare108213 commented on #249
At the moment, it's assigned to @duvivier and @rallard77   :)
Others can help, of course

[2019-11-25 09:03] tusinami opened #380 "CICE compile error undefined but referenced"
I am sorry for posting a new thread here but i tried a few times but just can't open https://bb.cgd.ucar.edu/forums/cice-consortium-model-development , which returns a 404 error.

i am a beginner in CICE and tring to compile CICE in serial. I installed gcc , gfortran and netcdf with yum. When i tries to compile CICE. at first i got the error 'can't find netcdf.mod', i searched a bit and copy the n

[2019-11-25 13:57] phil-blain commented on #380
Hi @tusinami,

I see you found the new link to the bulletin board and posted your questions there :
https://xenforo.cgd.ucar.edu/cesm/threads/cice-compile-undefined-but-referenced.4930/
I will answer there.

Thanks for reminding us that we still need to change our links.

[2019-11-25 14:21] phil-blain commented on #285
The bulletin board is now broken due to the platform change at ucar. The new link is :
https://bb.cgd.ucar.edu/cesm/threads/serial-testing-gx1.4669/

[2019-11-25 14:41] phil-blain opened #381 "Change UCAR forum links"
I'm creating this issue to bring together the discussion around changing our links to the new ucar forum URL :

https://xenforo.cgd.ucar.edu/

This needs to be done :
- [ ] For CICE https://github.com/CICE-Consortium/CICE/
- [x] For the CICE wiki https://github.com/CICE-Consortium/CICE/wiki
- [ ] For Icepack https://github.com/CICE-Consortium/Icepack/
- [x] For the Icepack wiki https://github.com/

[2019-11-25 14:41] phil-blain commented on #381
@dabail10 @duvivier @apcraig @eclare108213

[2019-11-25 14:51] phil-blain commented on #381
Also, it would be ideal if old forum posts linked in GitHub issues would be corrected so that the content can be found more easily. I've done this for my own posts (#285 and #275).

[2019-11-25 15:37] phil-blain commented on #269
New forum link : https://xenforo.cgd.ucar.edu/cesm/threads/cloud-fraction-of-offline-cice.4609/

[2019-11-25 15:41] dabail10 commented on #381
I agree, but things are still changing here. I was trying to minimize the amount of work we will have to do.

Dave

[2019-11-26 07:43] tusinami commented on #380
Hi @phil-blain

Thank you for your reply. I have already seen your reply on  https://bb.cgd.ucar.edu/cesm/threads/cice-compile-undefined-but-referenced.4930/ and solved the problem with your help.

Thank you so much.

[2019-11-26 19:15] apcraig commented on #381
I think this points out the benefit to having a single resource list.  As much as possible, we should be pointing users to the resource page and then we just have to make sure links are correct there.  So in all users guides even in the repo home README.md page, we can use "see the resource page" and create a link just to that.  That can be for the bulletin board, release info, documentation, etc.

[2019-11-26 20:21] apcraig commented on #381
One other comment.  I would prefer if the CICE-Consortium stuff were not under "CESM" in the bulletin board.  I understand that one bulletin board for CICE is ideal, but the hierarchy of the bulletin board should be different.   I'm not sure it's reasonable to treat everything as falling under "CESM"/DiscussCESM by default.   Shouldn't there be forums for components models and then separately the

[2019-11-26 20:44] proteanplanet commented on #381
I agree with Tony's point here, and it especially resonates from a DOE perspective, although I appreciate it may not be possible to accommodate it within the CESM setup.

[2019-12-02 18:44] eclare108213 commented on #381
So, it looks like CICE Consortium related items are all dumped into the "sea ice" header, together with CESM specific stuff.  Is that true?  Can we get our own forum?
Also, do we have an ETA for getting this fixed?  All the bb.cgd.ucar links on our wikis are broken.

[2019-12-03 18:32] dabail10 commented on #381
We just had a presentation on this from the CGD Systems people. They decided to get rid of the subforums and they want to use "tags" now. So, somehow we would group together all of the CICE-Consortium posts with a tag. Then we could use a web link like:

https://xenforo.cgd.ucar.edu/cesm/tags/cice-consortium/

This is definitely not optimal. I am going to ask about a subforum again and see. So, he

[2019-12-03 23:06] dabail10 commented on #381
Just an update I can get subforums again. There will be just the two:

CESM CICE
CICE Consortium

Further categorizing under these forums would have to be done with tags.

Dave

[2019-12-03 23:35] proteanplanet commented on #381
Thanks Dave.

- Andrew

---
Andrew Roberts
T-3 Fluid Dynamics and Solid Mechanics
Los Alamos National Laboratory
Office: 505-667-7744, Cell: 505-695-4564
afroberts@lanl.gov

From: "David A. Bailey" <notifications@github.com>
Reply-To: CICE-Consortium/CICE <reply@reply.github.com>
Date: Tuesday, December 3, 2019 at 4:06 PM
To: CICE-Consortium/CICE <CICE@noreply.github.com>
Cc: Andrew Roberts <afrob

[2019-12-05 14:50] phil-blain commented on #381
I think having CICE Consortium as a subforum would be the ideal solution, thanks Dave for pushing this.

[2019-12-05 21:44] phil-blain opened #384 "Add CONTRIBUTING.md"
Some resources:
- https://help.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors
- https://mozillascience.github.io/working-open-workshop/contributing/
- https://embeddedartistry.com/blog/2017/12/11/get-others-involved-in-your-project-with-a-contributing-guide/

I'd be glad to work on that.

@eclare108213 @duvivier @apcraig

[2019-12-09 18:15] #296 closed

[2019-12-09 19:09] apcraig commented on #133
I'm going to close this now.  We have added NUOPC caps for CMEPS and DMI has added a cap as well.  There will be more work in the future, but I believe this issue is addressed.  See #377 #376 #383

[2019-12-09 19:09] #133 closed

[2019-12-09 20:47] eclare108213 commented on #348
@dabail10 writes:

Here is everything on the ftp site in KB. The zero size ones are links, so not a problem. The biggest issue is the "all" files, but the addition of the JR55 forcing for gx1 are also big. I would like to delete the 2017 and 2018 files.

0	CICE_data_all.tar.gz
0	CICE_data_forcing_gx1_2005.tar.gz
0	CICE_data_forcing_gx1_2006.tar.gz
0	CICE_data_forcing_gx1_2007.tar.gz
0	CICE_data_fo

[2019-12-09 20:54] eclare108213 commented on #348
I think this is a good argument for moving at least some of the data to zenodo, as an archive.  We could use it (and the DOIs) as a way to keep track of older data sets, although it would take a little work to document which versions of the code the various data sets worked with.  I'm not sure if all of the forcing and related code are backwards compatible before v6.1, but the latest set introduce

[2019-12-09 21:16] phil-blain commented on #348
Another technical alternative that we should maybe consider would be to use [Git LFS](https://git-lfs.github.com/), a git extension that permits linking to very big files directly in the repo (the files are stored in a separate LFS repo and the CICE repo would store links to specific versions of these files).
This would ease the process of keeping track of which version of the code is guaranteed t

[2019-12-09 21:23] phil-blain commented on #380
I think this can be closed.

[2019-12-09 21:26] phil-blain commented on #3
I think this can be closed as it was fixed in #323.

[2019-12-09 21:28] #380 closed

[2019-12-09 21:29] #3 closed

[2019-12-09 21:41] dabail10 commented on #348
The problem is that the "all" file is now larger than 50GB compressed. This is because it includes the JRA55 forcing for the gx1 grid. Removing the CORE forcing will save about 20GB. Our disk for this forcing is about 1TB and the CICE Consortium are not the only ones using this area. We have around 200GB here and there is only 100GB remaining on the whole disk.

[2019-12-10 00:18] #294 closed

[2019-12-10 00:23] #295 closed

[2019-12-10 00:23] #291 closed

[2019-12-10 00:23] #292 closed

[2019-12-11 21:10] eclare108213 opened #390 "default forcing parameters in namelist"
There seems to be some inconsistency with the forcing data we provide and the namelist settings, which is confusing for users.  See https://bb.cgd.ucar.edu/cesm/threads/question-about-the-default-forcing-data-on-github.4946/ .

Perhaps we should change the defaults so that runs out of the box make more sense?  Alternatively, we could provide an explanation for why it is the way it is, maybe in the

[2019-12-11 21:58] dabail10 commented on #186
So, we finally put 2 and 2 together here and David Hebert got me the JRA55 on the tx1 grid as well as an initial state for this. We need to deal with the space issues for the forcing before I can add these.

[2019-12-19 18:41] phil-blain commented on #363
In #389 we switched to the `mpi` module. We should investigate using the `mpi_f08` module as this is the way forward.

Basically in `mpi_f08` handles are not integers anymore but of custom type, so I don't think the code changes would be that big.

[2019-12-19 19:16] apcraig commented on #363
I did a bit of research about mpi_f08 the other day and support is associated with the MPI lib that we're building with per compiler and per machine.  Before we move forward with mpi_f08, we should have confidence that installed versions of MPI on just about any machine/setup the community might use will support mpi_f08.  This is the kind of situation where we want to support the greatest common i

[2019-12-30 15:08] dabail10 commented on #381
This has finally been moved and the updated Consortium link is here:

https://xenforo.cgd.ucar.edu/cesm/forums/cice-consortium.146/

I'll take a look around for the links and try to update them.

Dave

[2019-12-30 15:16] dabail10 commented on #381
I updated the links in the Wiki area, but the links in the README.md files need to be updated too. I am back in the office on Thursday.

Dave

[2019-12-31 17:06] duvivier commented on #381
Fixed README.md for CICE with PR #391. Working on the other repos now.

[2019-12-31 17:06] #381 closed

[2020-01-06 14:41] phil-blain commented on #381
The Icepack README was fixed in CICE-Consortium/Icepack#291

I just checked all 6 repos using the `git grep` command above, and there was one last link that needed to be changed in the About-Us wiki. I changed it :
https://github.com/CICE-Consortium/About-Us/wiki/Contacting-the-Consortium/_compare/ed79ffd77f2d88c71565edc8a946284b5eff197d...404b364601e748d16647c928a2b4a3e707cefed9

[2020-01-16 20:39] apcraig commented on #344
I just had a look at this and don't think there's an easy or general fix.  We could possibly detect the diag_type='file' setting at runtime and then figure out the output filename, but there are a whole cascade of other issues like

  - does it get saved to the case logfile
  - does it get saved to the test suite baseline directory
  - do the baseline comparisons work properly.  can the scripts fi

[2020-01-16 20:47] phil-blain commented on #344
I think that's sound. Also, just having this issue open can serve as rudimentary documentation if anyone stumbles onto this and ends up here.

[2020-02-02 23:10] #384 closed

[2020-02-02 23:37] eclare108213 opened #398 "CICE repo build error"
The travis build banner on the README is showing an error, but following the link, it looks like the test is working.   ???

[2020-02-02 23:41] eclare108213 opened #399 "remaining wiki/doc tasks"
- [x] Bring Icepack's contributing.md, readme.md in line with CICE's
- [x] Change ‘bulletin board’ to forum everywhere
- [x] Update copyright etc dates to 2020, everywhere (can this be automated?)
- [x] Outline/dependency graph of documentation (put, or link to, this outline on the resources page)
- [x] Fix institutional members listed in FAQ after they are approved by EOB/sponsors

[2020-02-02 23:53] eclare108213 commented on #398
It seems to be working now.

[2020-02-02 23:53] #398 closed

[2020-02-02 23:56] eclare108213 commented on #399
I made the changes for Icepack.  Have a look and let me know if I missed something.

[2020-02-03 22:55] phil-blain commented on #344
@apcraig we can close this issue as it was fixed in #396 right ?

[2020-02-03 23:01] apcraig commented on #344
It was fixed in part in #396.  The successful completion is found, but the rest of the testing will not work.  I agree it should be closed.  We don't normally use diag_type=file.  I think we're OK for now.

[2020-02-03 23:01] #344 closed

[2020-02-15 04:25] proteanplanet opened #403 "Namelist citation and recording"
CICE needs a way of recording namelist settings used by our users so that groups can easily cite their model configuration in publications and presentations, and scientific transparency is maintained.

It is common to read in manuscripts that CICE was used without further expansion on what that means.  CICE is a modeling framework, not one particular model, and it is possible to run several comple

[2020-02-17 17:01] phil-blain opened #405 "cice.setup broken for cases and tests since PR #395"
Since PR #395 was merged it appears that `cice.setup` can't create cases or individual tests, in both cases I get a syntax error in the `cice.setup` script:

[code]

I did not have time to find where is the error yet, just letting you know @apcraig.

We should add a call to `cice.setup --case` and `cice.setup --test` in the `.travis.yml` such that breakages like this do not go unnoticed in the fut

[2020-02-17 17:01] phil-blain commented on #405
I guess this would be high or extreme priority...

[2020-02-17 23:42] apcraig commented on #405
Thanks @phil-blain, I'll have a look and get a fix in this evening.

[2020-02-18 02:50] apcraig commented on #405
I just committed the fix #406 and added some tests to travis that would trap this in the future.  Sorry about the error, I guess this'll happen occasionally.  Glad we caught it fairly quickly.  I will close this.

[2020-02-18 02:50] #405 closed

[2020-02-18 17:16] proteanplanet opened #407 "MPAS-SI integration as a second dynamical core"
Following the CICE and PCWG workshops two weeks ago, it was clear to me that there is duplication planned across Consortium members and users for C-grid conversions and changes to the EVP rheology to include a Mohr-Coulomb yield curve.  These adaptions are occurring within the existing CICE dycore as well as within MPAS-seaice (MPAS-SI; see https://mpas-dev.github.io).   As a consequence, I would

[2020-02-18 18:20] phil-blain commented on #407
@JFLemieux73

[2020-02-18 21:37] daveh150 commented on #407
I am interested to learn more about MPAS-SI as another dynamical core, and if it would benefit our current setup or future high resolution, regional domains. Also, could it apply to an adaptive grid that changes in time?

Thank you,

David

David A. Hebert

Ocean Sciences Division, Code 7322
Naval Research Laboratory
Stennis Space Center, MS 39529
(228)688-5846; DSN 828-5846
http://www.nrl.navy.mi

[2020-02-18 23:08] proteanplanet commented on #407
At present, MPAS-SI caters to unstructured and therefore also structured meshes, but its mesh is not adaptive.  Perhaps I present on the capabilities of MPAS-SI and its regional meshing capabilities at an upcoming Consortium leadership meeting.

[2020-02-28 15:40] phil-blain opened #411 "scripts: copy cice.settings to ICE_RUNDIR"
It could be useful if the scripts would copy `cice.settings` to the run directory.

One of the reason would be so that there exist a back reference to the test case directory (`ICE_CASEDIR`) in the run directory, so that we can easily jump back and forth between a test case (possibly in a test suite) and its run directory. (If we just go back and forth we can use `cd - ` to do that, but if we `cd`

[2020-03-02 05:23] duvivier commented on #348
@eclare108213 @apcraig @dabail10 @phil-blain
Revisiting this topic since the JRAA gx3 additional files. The "all" file is now too large (~75GB) to be easily manageable.

Below is a full accounting of the files we have in their tar+zipped sizes.
Icepack_forcing_data (480K)
   CFS (264K)
   ISPOL (57K)
   NICE (37K)
   SHEBA (116K)
CICE_gx1_forcing_data (55GB)
   grid (2.8MB)
   ic (19MB)
   COREII

[2020-03-02 15:49] phil-blain opened #412 "scripts: add support for launching CICE in a debugger"
When I want to launch CICE in a debugger (like Totalview), what I do in my case directory is to copy `cice.run` as `cice.debug` and prefix the command for launching cice with the debugger command, i.e.
[code]

It would be great if the scripts would support this use case, either through a separate script `cice.debug` or a flag to `cice.run`, i.e. `./cice.run --debug`.

The command to launch the deb

[2020-03-02 16:40] eclare108213 commented on #412
I use totalview too.  My workflow is to request an interactive session from the scheduler/queuing system, then cd to the run directory and type

(or leave out the mpirun part for serial tests)

Seems a lot more straightforward, and then we don't have to worry about users wanting other debuggers.  I often cd to the run directory for other reasons anyhow -- we can't do everything from the case direc

[2020-03-02 17:41] eclare108213 commented on #348
I agree the 'all' files are too big.  I've been trying to download them to my laptop, and can't!  We can investigate @phil-blain 's suggestion for Git LFS, but we'll still need a place to host the data itself.  That could be the earth system grid, but I'm not sure that's the best option (maintenance requirements?).

We could keep only the current data on the ftp site (i.e. what's needed for our te

[2020-03-02 19:30] apcraig commented on #348
Even if we stop testing data like COREII, I'm not sure it's a good idea to get rid of it.  The input data is needed for older versions of CICE.  If we decide to drop some input data, I think, in practice, we should wait a year or two (at least) before removing it from our input data area.  Also, renaming data is a little problematic, again due to backwards compatibility.  Maybe I am too strict on

[2020-03-02 23:49] eclare108213 commented on #348
If we are going to refactor and/or rename datasets, let's do it before the next release, since we're adding a JRA-55 gx3 capability.  The code is ready to go, so getting the data to go with it in order is a high priority.  We can change how we handle the data in separate steps:
1. identify what data sets we want to maintain long-term and which will be archived in case someone wants to use them wit

[2020-03-02 23:54] duvivier commented on #348
I realized that I hadn't formatted that so it was easy to see the divisions I proposed for each Zenodo dataset release. I've re-done it with the more clear groupings.

**Icepack_forcing_data (480K)**

- CFS (264K)
- ISPOL (57K)
- NICE (37K)
- SHEBA (116K)

**CICE_gx1_forcing_data (55GB)**

- grid (2.8MB)
- ic (19MB)
- COREII (18GB)
- WOA (17MB)
- JRA55 (38GB) --> I'd like to rename these files to

[2020-03-02 23:59] eclare108213 commented on #348
Ah, thank you @duvivier, that helps.   Is each bullet in your data file list a separate file?

[2020-03-03 00:01] apcraig commented on #348
I had a look today too.  My sense of git lsf was the same as @duvivier, it's really just a way to point to data stored elsewhere.  My worry with zenodo (or maybe it's a plus) is that each time we change the input data, we have to publish a new doi, the zenodo link to get the latest data changes, and so forth.  That could create a bunch of confusion in terms of managing the input data.  And wouldn'

[2020-03-03 00:06] eclare108213 commented on #348
I would deprecate the COREII and NCAR_bulk forcing from both the 'active' data sets and from the code (since we wouldn't be testing it).  I don't think we're quite ready to do that, unless someone has done (or can quickly do) the test suite and other runs to compare JRA-55 with the old data.
I like the idea of publishing the data through zenodo, so that past versions would have their own DOI and c

[2020-03-03 00:13] apcraig commented on #348
As I understand it, what we're doing now on ftp is adding new datasets to the tarball but never removing old datasets.  We were keeping old tarballs around but it wasn't really necessary to do so.  Again, I like the idea that we have input data files and we never remove any, just add to them forever.  That way, everything is fully backwards compatible and we don't have to keep track of which datas

[2020-03-03 00:51] eclare108213 commented on #348
As long as we keep the older datasets in some sort of storage (not necessarily publicly accessible), we should be able to remove those files from active use.  If we move data to zenodo, then I think that we could get DOIs for the NCAR data and for the COREII data (if they aren't too big), for consistency and backward compatibility.  The important thing to maintain, in my opinion, is the forcing da

[2020-03-03 18:56] duvivier commented on #348
@apcraig @eclare108213 I'll try to address a lot of the comments/questions in the above thread here. It's evolving quickly so hopefully I've covered the main points here.

- The current NCAR FTP method is that we add files to the tarballs but never delete files. We also haven't been deleting old tarballs, but I don't know that we need to keep those around forever if they just have the same files i

[2020-03-03 19:51] phil-blain commented on #348
I don't have a strong opinion on the organization of the forcing or the archival strategy.

I think considering all of the above Zenodo seems to be the right solution.
I tried
[code]

and it downloaded without problem so I don't think it's going to be a problem for the CI. It's just a matter of scripting it correctly. We could have a file at the base of the repo that records the up-to-date urls to

[2020-03-03 20:10] apcraig commented on #348
I understand how creating multiple versions of tar files (in time) and putting them on zenodo helps create tar files, but I don't see how it helps the community.  Lets think about use cases

- New user downloads some version of CICE (not necessarily the latest).  How do we tell them which input data files to download?  The new tar files are, by definition, NOT backwards compatible.

- Current user

[2020-03-03 21:20] duvivier commented on #348
I think this would be important for the user to determine. If they are testing a particular grid (e.g. gx1) they should go get the latest gx1 files we have on zenodo.

I am not in general in favor of renaming datasets. I think this is an oversight that should have been noticed when JRA55 gx1 files were added, but I didn't and neither did anyone else. I just think that as we add more JRA55 datasets

[2020-03-03 21:48] phil-blain opened #413 "Failing jra55_short test in base_suite - thermo solver issues"
I'm porting to our new machines and I ran the base_suite but one of the new test involving the JRA55 forcing on gx1 is failing (`daley_intel_restart_gx1_24x1_jra55_short`, daley is our new machine).

This test is running for 10 days starting in 2005, so I downloaded the forcing for 2005.
CICE seems to be able to do at least 24 time steps since I get the diagnostics in the log file after the 24th t

[2020-03-03 21:58] rallard77 commented on #413
Philippe,

Is the only test failing? What type of platform are you testing on? What
compiler(s) have to tried using?

Rick

On 3/3/2020 3:48 PM, Philippe Blain wrote:

[2020-03-03 21:59] apcraig commented on #413
Looking at the test results for this past weekend indicated a success.  But the test in the test suite should be

_restart_gx1_24x1_jra55_gx1_short

Is that the case you're running?  You seem to be missing a "gx1" with the "jra55".

I wonder if we're running into a problem with the parsing.  Many of the new -s options for JRA55 are defined as "jra55_2008", "jra55_gx1", "jra55_gx1_2008", etc.  I wo

[2020-03-03 22:09] phil-blain commented on #413
@rallard77 yes, the other JRA test in the base_suite, `daley_intel_smoke_gx1_24x1_jra55_2008_medium_run90day`  is passing. It's running on a Cray XC50, compiled with ifort 19.0.3.199 20190206.

@apcraig sorry I did not say: the suite was actually compiled at 2e1c3b7f1cd502a3f344c012d806f742b6601848, so before PR #408 that renamed the options for JRA55...

[2020-03-04 23:10] duvivier commented on #348
@apcraig and I discussed this on the phone this morning. I think we have a path forward:

* I'm going to work on putting together the groups of files we think we want to start hosting on Zenodo. We'll do a trial run hosting these on the NCAR FTP server with information on the Consortium wiki. Once I have these prototyped it would be good to get feedback from other Consortium members. I intend to h

[2020-03-06 04:28] duvivier commented on #348
@eclare108213 @apcraig and I discussed this by phone yesterday and I've made a first stab at items 1 and 2:

I've put together the following page with information. Eventually the links would be to the zenodo release pages and list the DOI, but for now they are just to the FTP site. I know more information needs to be added, but we an all adjust this page as we finalize details.
https://github.com/

[2020-03-06 20:35] apcraig commented on #348
I think the new wiki page looks great.  I'm fine with the tar file organization and other changes in datasets.  In terms of the table at the top of the page, what do you think will go into the wiki description links?  Is it just going to point to the sections below?

I think we should add a new column in the table called notes.  There we can add some info about if/when a dataset is added or deprec

[2020-03-09 16:47] duvivier commented on #348
@apcraig, Thanks for the feedback.

I wasn't sure about the wiki links. I think we need to provide a description, citation, whatever for each dataset. But perhaps that description is on zenodo? I do think some information we currently provide (i.e. variable names) isn't necessarily something we need to put on zenodo but would be useful for users. I'm open to other ideas.

I think this is fine to a

[2020-03-09 17:13] apcraig commented on #348
I agree about making the table readable.  I just made some changes to the table just to play a bit.  I changed the size to Mb throughout and I added a new column on status.  The idea here is *=active, + means added and gives the date+version, - means removed and gives the date+version, u means untested.  We need a small key and can iterate a bit.  Is this effective/useful?  Happy to change things

[2020-03-10 17:48] apcraig opened #415 "wave_spec_file input setting in ice_in"
In CICE, the wave_spec_file is defined internally in ice_forcing.F90 as

[code]
I think the wave_spec_file variable in ice_in should include the full path with the inputdata path automatically added.   Leveraging the ocn_data_dir is this case is probably not a great idea.  It also prevents us from moving the file to a different location easily or having a user point to a new file in their local sp

[2020-03-10 17:53] apcraig commented on #411
This seems to be related to something mentioned in #412

[2020-03-10 17:56] apcraig commented on #407
I'm open to this.  Would this be a new dynamical core in CICE or would it be a new repository in the Consortium organization?  I think we'd need to have further discussion about the details before a decision could be made.

[2020-03-10 18:06] apcraig commented on #403
I'm not convinced this fits within the Consortium's role.  I believe it's up to the users to clearly document their setups.  We are able to provide some information/history on code versions.  There are an infinite number of ways users could then change code, input data, and/or namelist to setup a specific test case.  Journals now require that code and other input be documented and available.  The

[2020-03-10 18:16] JFLemieux73 commented on #407
I agree that it would be good to discuss about this. Maybe at the next conf call?

[2020-03-10 18:27] proteanplanet commented on #403
The reason why this is directly relevant to us is exemplified in this paper:

https://search.proquest.com/docview/2366511405?pq-origsite=gscholar

Whether or not we choose to make it our responsibility to record configurations, or simply to make every effort short of a particular solution to promote all CICE-related software as a modeling framework, not a model, is the question.

[2020-03-10 19:18] duvivier commented on #403
@proteanplanet The url doesn't work. Can you provide a doi?

[2020-03-10 19:28] proteanplanet commented on #403
Try this:  https://doi.org/10.1080/16742834.2020.1712186

[2020-03-10 19:56] apcraig commented on #403
I fully understand why this is important, but I still don't have a good sense how the Consortium can do anything more than the tools/requirements already out there that encourage users to share source code, input data, namelist, and output.  If they are not already sharing their data, I don't see how a space on the Consortium site changes that.  We have very little control how the community uses t

[2020-03-10 21:29] proteanplanet commented on #403
What I am proposing has already been done in other ESM codes. It is a way of aiding benchmarking. Given the response, I am closing the commenting and moving on.

[2020-03-10 21:31] apcraig commented on #403
Lets continue to discuss.  I just am trying to understand how this would work.  Can you point me to examples in other ESM codes.

[2020-03-10 21:40] lettie-roach commented on #415
I agree, I have been having to modify the code to point to the right file. I can set spec_file = trim(wave_spec_file). To get the inputdata path added, is this a matter of changing all the CICE/configuration/scripts/options/set_nml.* files?

[2020-03-10 21:44] apcraig commented on #415
There is really only one file in set_nml that needs to change, that's the fsd12ww3 file.  And that needs to have the INPUTDATA path used like for some other ice_in variables.

I have a working sandbox with this fix in it and I'm about to PR, so hopefully we'll have a fix soon.  @lettie-roach, you don't need to worry about providing a PR at this point, but I will ask for you to review the PR when i

[2020-03-11 21:13] duvivier commented on #348
@apcraig Thanks for looking this over. I have fixed the links in the description to now point at descriptions lower in the wiki. I'm not sure if we want to keep the full description in the wiki or zenodo... I like that the wiki is more easily update-able without the hassles of zenodo we've run into (e.g. adding authors, etc.). This is why a detailed description might be more appropriate here. This

[2020-03-12 00:51] apcraig commented on #348
I'm happy to have some different nomenclature for the status.    That was just the first thing that came to mind, and I know it's not very good.  I think we should continue to iterate until we have something better.  I think it would also be good to have that information in the link portion, but a user doesn't want to have to walk thru all that description if they just want to know what's current/

[2020-03-12 20:51] duvivier commented on #348
Here is the wiki page where I'm testing the groupings of data and documentation about them.
https://github.com/CICE-Consortium/CICE/wiki/IN-DEVELOPMENT:-INPUT-DATA#jra55-forcing-1

[2020-03-12 21:08] rgrumbine commented on #168
Apologies for not updating this (much) earlier: Regression tests now pass on all available systems.

CICE6-FV3-MOM6 tests cannot proceed in NWS until after CMEPS integration is complete.

[2020-03-12 22:09] proteanplanet commented on #407
This item is being closed as intractable at the current time owing to the FTE required to make it work within the CICE Consortium framework.

[2020-03-12 22:09] #407 closed

[2020-03-13 17:11] apcraig commented on #415
Fixed in #417

[2020-03-13 17:11] #415 closed

[2020-03-16 17:14] duvivier commented on #348
@apcraig please look over the wiki page. I've split up the files as we discussed on the telecon last week and added some info or citations to the descriptions of each dataset. I also tried breaking up the table rather than having one big table, but I'm not sure this is better. The full table is copied at the end of the page so we can decide if we'd prefer that. Finally, I'm not sure all the links

[2020-03-16 22:36] apcraig commented on #348
@duvivier I think the updates look good.  I personally like the single table at the bottom better EXCEPT I wish we had more control over how it looked (like making the header lines a different color from the other table lines), but I know we don't have that control.  So I think both work fine.  I'm happy to go with the split table.  I do have a couple other thoughts looking at the table.

Why don'

[2020-03-17 03:35] duvivier commented on #348
@apcraig I thought we'd decided to keep IC and grid files separate so that we wouldn't have to update everything if just something incrementally changed. So, for example, when we add tx1 initial conditions we can just add a new dataset, we don't need a new version of the grid files though.

I re-combined the table. I agree the separated out one was not ideal, but I also wish we had more control of

[2020-03-17 04:41] apcraig commented on #348
Just to clarify, what I was proposing was to maybe create a gx3 grid+ic file, a gx1 grid+ic file, and a tx1 grid+ic file.  My guess is that the grid and ic files will always be a case where we just continue to add new files.  Since grid and ic are both relatively small, I think it's fine to combine them together for a given grid.  But happy to have things as they are.  Thanks.

[2020-03-17 16:19] lettie-roach commented on #348
Hi Alice,

I would put something along these lines:

*WW3 forcing:*

Surface ocean wave forcing derived from the Wavewatch III (WW3) model. This
is a single day of the wave spectral forcing that is necessary for the floe
size distribution (FSD) within CICE. It is provided only for testing
purposes and should not be used for publications. Users should produce
their own spectral wave input.

Citatio

[2020-03-17 17:02] duvivier commented on #348
@lettie-roach, Thanks! I've added that info now. :)

@apcraig, I think I'd prefer to keep the grid+ic files separate if possible. Is your concern just keeping track of multiple files to download? I agree that these are the files most likely to be changing over time (both grid or IC, though maybe more likely IC?), so perhaps you're feeling like just having one file that changes in time would be lea

[2020-03-17 17:52] apcraig commented on #348
@duvivier, Happy to keep the grid and ic files separate if you prefer that.  My thought was having a single file may be a little easier, they are both pretty small, they will both probably be incrementally added to over time, so not much benefit to separate them.  But it's not an important point.  Thanks!

[2020-03-17 23:20] eclare108213 commented on #348
NOOOOOOOO!  We need you!
Have there been discussions there about what NCAR's support for the Consortium going forward might look like?   I should first ask whether it's something that you'd like to continue doing, and if so, then I'll put on my project advocacy hat.  I'll understand if you're looking for something else to do (in which case, maybe I could help with that too).
e

[2020-03-17 23:26] dabail10 commented on #348
I will take this discussion offline.

[2020-03-18 03:47] duvivier commented on #348
@apcraig I've merged the grid and IC files. I think the next step is to try publishing some of these on Zenodo.

[2020-03-18 16:54] eclare108213 commented on #348
A few comments:

1. The table looks great (but check the version number for gx3 JRA55).
2. An rsync option would be nice but doesn't have to be implemented immediately.
3. I like the idea of having a README in the tar files, but it would need to have a date as part of the filename to keep it from overwriting previous READMEs when untarring.  It probably shouldn't contain a whole lot of information

[2020-03-20 11:24] Yukai12345 commented on #374
Hello, I found this problem when installing CICE mode. What is the reason?
Looking forward to your reply。
Please check the attachment.

[2020-03-20 14:37] phil-blain commented on #374
@Yukai12345 please ask for help in the CICE Consortium's forum here : https://xenforo.cgd.ucar.edu/cesm/forums/cice-consortium.146/

You will likely get more help there. (and there is no attachment in you previous message as it's not a real email, it's a GitHub issue (https://github.com/CICE-Consortium/CICE/issues/374#issuecomment-601651455)

[2020-03-20 19:32] duvivier commented on #348
@eclare108213  - comments in line below

I just checked this and it looks like in our release notes it was 6.0.2 in 10/2019 that had the JRA55 for gx3. We didn't actually include info about JRA55 for gx1 in the release notes for CICE6.1.1.

@apcraig and I talked about this and I don't know of any of our options where that is do-able. We agreed this would be the optimal solution

I like the idea of

[2020-03-20 19:47] apcraig commented on #348
This all sounds good.

We need to have an official complete input data space that we use to create the tar files.  Maybe that's on cheyenne or izumi or maybe somewhere in cgd.  It cannot be the ftp directory.  The script for creating the tar files should just be kept at NCAR somewhere.  I don't know that we need to check it into any repo, but we could have a note on the wiki somewhere that says wh

[2020-03-20 20:05] eclare108213 commented on #348
I don't think each tar file needs its own DOI - we can have multiple files under a single DOI.  But I do think we need more than one DOI for the data.  For instance, we could have a primary DOI for CICE data and one for Icepack data, and then updates to the data after that are linked to the original DOIs (zenodo has various labels for this, like 'is an update of' or supplement, etc) but get their

[2020-03-20 22:26] duvivier commented on #348
@apcraig I think we're ready for you to try the zenodo thing.

I have essentially finalized the wiki page (https://github.com/CICE-Consortium/CICE/wiki/CICE-INPUT-DATA-V2). Other than adding the DOI and zenodo links I think it's ready for production.

I have uploaded all 9 of the files we'll provide to the NCAR FTP. I've tested and all work. You should be able to download them directly that way as

[2020-03-21 00:59] Yukai12345 commented on #374
Hello, I found this problem when installing CICE mode. What is the reason?

cli_25]: write_line error; fd=16 buf=:cmd=init pmi_version=1 pmi_subversion=1
:
system msg for write_line failure : Bad file descriptor
[cli_25]: Unable to write to PMI_fd
[cli_25]: write_line error; fd=16 buf=:cmd=get_appnum
:
system msg for write_line failure : Bad file descriptor
Fatal error in MPI_Init: Other MPI error

[2020-03-21 04:34] Yukai12345 commented on #374
Hello, I found this problem when installing CICE mode. What is the reason?

cli_25]: write_line error; fd=16 buf=:cmd=init pmi_version=1 pmi_subversion=1
:
system msg for write_line failure : Bad file descriptor
[cli_25]: Unable to write to PMI_fd
[cli_25]: write_line error; fd=16 buf=:cmd=get_appnum
:
system msg for write_line failure : Bad file descriptor
Fatal error in MPI_Init: Other MPI error

[2020-03-23 17:38] apcraig commented on #348
Sounds like a good plan.  Once I get the login info, I'll give it a try.

[2020-03-24 15:20] eclare108213 opened #419 "NOAA JEDI data assimilation"
I will ask J. Kim to move his request to this issue thread so several of us can take a look at his code.  He writes:

The ChangeLog file is attached (plain text), but it would
 be easier to compare the branches through github.

[ChangeLog.txt](https://github.com/CICE-Consortium/CICE/files/4376099/ChangeLog.txt)

[2020-03-25 10:11] Yukai12345 commented on #374
Hello, I can't register on this website(https://xenforo.cgd.ucar.edu/cesm/forums/cice-consortium.146/).
May I ask how to solve the problem in the attachment.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Philippe Blain"<notifications@github.com&gt;;
发送时间:&nbsp;2020年3月20日(星期五) 晚上10:37
收件人:&nbsp;"CICE-Consortium/CICE"<CICE@noreply.github.com&gt;;
抄送:&nbsp;"玖辛奈"<1838053191@qq.com&g

[2020-03-25 12:27] eclare108213 commented on #374
@Yukai12345
Let me ask for your patience.  Here in the US we are going through a transition to work at home, due to the pandemic.  Once we get ourselves settled in the new working environment, our NCAR people should be able to look at the registration issue for the forum.  In the meantime, your problem appears to be associated with the configuration of your computer, since those errors are coming

[2020-03-25 12:49] duvivier commented on #374
@Yukai12345  You have not provided us any information about what error you received when attempting to register, so we can't provide guidance. In the meantime, here are the steps to register:

1) go to: https://xenforo.cgd.ucar.edu/cesm/forums/cice-consortium.146/
2) In the upper right hand part of the screen there are tabs that say "Log in", "Register", and "Search". Click the Register one.
3) Yo

[2020-03-26 10:27] Yukai12345 opened #420 "Problem with mode installation"
Hello, I found this problem when installing CICE mode. What is the reason?

cli_25]: write_line error; fd=16 buf=:cmd=init pmi_version=1 pmi_subversion=1
:
system msg for write_line failure : Bad file descriptor
[cli_25]: Unable to write to PMI_fd
[cli_25]: write_line error; fd=16 buf=:cmd=get_appnum
:
system msg for write_line failure : Bad file descriptor
Fatal error in MPI_Init: Other MPI error

[2020-03-26 10:32] duvivier commented on #420
@Yukai12345 You need to start asking these questions in the CICE community forum. The issues page is not the right place to ask for help for these individual questions.
 https://xenforo.cgd.ucar.edu/cesm/forums/cice-consortium.146/

I provided information for you about how to register in issue #374. If you are having problems with that registration you need to provide more information for us so we

[2020-03-26 10:32] #420 closed

[2020-03-26 10:41] Yukai12345 commented on #420
"Verification" did not show up, so I was unable to register.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Alice DuVivier"<notifications@github.com&gt;;
发送时间:&nbsp;2020年3月26日(星期四) 晚上6:32
收件人:&nbsp;"CICE-Consortium/CICE"<CICE@noreply.github.com&gt;;
抄送:&nbsp;"玖辛奈"<1838053191@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [CICE-Consortium/CICE] Problem with mode

[2020-03-26 10:51] duvivier commented on #420
@Yukai12345 Are you saying you don't see the box that has the red circle around it for verification (see picture below)? If you click it you will see an image pop up and it asks you to identify a feature in that image. I have tried this in multiple browsers and am able to see the "Verification" button.

![Picture1](https://user-images.githubusercontent.com/23384844/77638676-27c24800-6f1d-11ea-9127

[2020-03-26 10:55] Yukai12345 commented on #420
I really can't see it. Maybe there is something wrong with my network. Could you help me register?

E-mail: 1838053191 @qq.com

User name: yukai

Password is your choice.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Alice DuVivier"<notifications@github.com&gt;;
发送时间:&nbsp;2020年3月26日(星期四) 晚上6:51
收件人:&nbsp;"CICE-Consortium/CICE"<CICE@noreply.github.com&gt;;
抄送:&nbsp;"玖辛奈"<1838053

[2020-03-26 11:36] eclare108213 commented on #420
@Yukai12345
We will not register for you -- sharing passwords is a really bad idea.  We will ask the people who run the forum whether they have any ideas or suggestions.

So far, no one watching the CICE Consortium issues has a solution for your setup problem.  As I said in issue #374, this is most likely a problem with the configuration of your computer, not with the CICE code, and we can not hel

[2020-03-26 20:17] apcraig commented on #419
These all seem pretty reasonable to me.  Nothing there scares me.  If others agree, I'm happy to create a PR with these changes.

[2020-03-26 20:23] apcraig opened #421 "Add ksno namelist in icepack and cice"
Proposed at CICE Workshop.

[2020-03-26 21:05] apcraig opened #422 "xcrun problems with older Macos systems"
I ran into a problem on my older Mac desktop with the conda implementation.  This flag,

`CFLAGS_HOST = -isysroot$(shell xcrun --show-sdk-path)
`

is resolved as "-isysroot" without any argument which then causes the makedep build to fail.  My version of xcrun on my desktop is 31.  This works fine on my laptop with xcrun version 43.1.  I don't know if it's xcrun or the sdk install on my desktop.

[2020-03-27 00:40] duvivier commented on #374
@Yukai12345 I have spoken with our forum admins and they said that they changed the verification method. Please try registering again to ask any further user-specific questions.

[2020-03-27 13:46] phil-blain commented on #422
@apcraig the reason we need to use `CFLAGS_HOST` is that `makdep.c` has some `#include` directives for system headers, i.e. what is usually found under `/usr/lib`.

In macOS 10.14, Apple removed the system headers from `/usr/lib`, and now they are exclusively found under $(xcrun --show-sdk-path). (The reason for this was mainly to simplify building code for different versions of macOS on the same

[2020-03-27 13:49] phil-blain commented on #422
So a simple workaround would be to first put the output of `$(shell xcrun --show-sdk-path)` in a separate variable, then define `CFLAGS_HOST` to that variable if it's not empty, or else to `/` .

[2020-03-27 18:57] apcraig commented on #422
system profiler doesn't help me much.  If I grep the full output for spd, it returns nothing.

It would be good to have a workaround.  If I understand, if xcrun returns something, that'll be useful.  If it doesn't, then it's likely to know where the include files are by default?

I will create a workaround as proposed by @phil-blain.  I will create PRs for Icepack and CICE and test on my desktop a

[2020-03-27 19:03] apcraig commented on #374
Can we close this issue?  Is there anything here that we should carry into another issue or do we need to keep this open for any reason?

[2020-03-27 19:55] duvivier commented on #348
I think we can close this issue now.

[2020-03-27 19:55] #348 closed

[2020-03-27 20:02] #374 closed

[2020-03-27 22:56] apcraig commented on #247
I have run a number of qc tests against each other with CICE #5f97e45e2362518d which is CICE6.1.1.  All qc comparisons pass.  These include

  conrad_intel
  conrad_pgi
  conrad_gnu
  conrad_cray
  onyx_intel
  cheyenne_intel

all with 64x1 pe counts.  I also tried a 16x4 case, but it was running too slow, so I abandoned that test.  I think for the time being, we can consider this task as being ch

[2020-03-28 08:56] TillRasmussen commented on #419
This looks ok. Not sure if the "nullify" statement clears a pointer that is used later. It is probably not the case

[2020-03-30 12:29] jkbk2004 commented on #419
PR for the ChangeLog will be great for future version updates on our side.
Based on cice6.1.0 and icepack1.2.0 (versions realsed on Dec 2019), we are working on feature/ecbuild branches of the following repositories.
https://github.com/JCSDA/Icepack.git
https://github.com/JCSDA/CICE.git

Its based on cmake compile system. We have some minor issue with call ice_shr_reprosumx86_fix_start, But we can

[2020-03-30 13:13] eclare108213 commented on #419
Is it easy to create a PR from scratch, @apcraig ?  I was thinking that @jkbk2004 could point us to a comparison of the changes on Github, of his branch(es) with our master(s), and maybe make a PR from that, but that might be more complicated.  You two work it out, please...

[2020-03-31 00:20] jkbk2004 commented on #419
@apcraig I can update my branch to the latest and issue PR from there. But it will take time to go thru JEDI-SOCACICE side. So, if it's not a big issue to work on your side to merge the ChnageLog stuff, it will be great and I can test next time when I update version.

[2020-03-31 00:27] apcraig commented on #419
@jkbk2004, I think that's a reasonable proposal.  I will create a PR soon.  If we miss things or need other modifications due to recent changes, we'll just continue to iterate.

[2020-03-31 00:29] apcraig commented on #422
#424 and CICE #308 have been merged.  This should now be addressed.  I will close this.

[2020-03-31 00:29] #422 closed

[2020-04-01 19:30] mhrib opened #426 "ice_domain.f90: Secure max_blocks >= 1 for "best max_block estimate""
Suggest to add (see below):
       max_blocks=max(1,max_blocks)

into line ~191 in file: cicecore/cicedynB/infrastructure/ice_domain.F90

--o--

   if (my_task == master_task) then
     if (max_blocks < 1) then
       max_blocks=int(                                        &
               ( (dble(nx_global-1)/dble(block_size_x + 1)) * &
                 (dble(ny_global-1)/dble(block_size_y + 1)) )

[2020-04-02 17:50] eclare108213 commented on #238
During the isotopes implementation #423 I noticed a few tracer indices needing to be cleaned up when their respective capability is turned off.  In particular, ntrcr=the total number of tracers+1 (item 2 above), and these tracer indices are set to ntrcr:  nt_aero, nt_bgc_S, nt_fsd, nt_fbri (there are probably others).  nt_zbgc_frac is (still?) not initialized properly and gets set to some arbitrar

[2020-04-02 22:25] dabail10 commented on #421
So, I am working on this now. I just looked at the example of Cf. The implementation seems to be that there is a hard-coded value of Cf in icepack_parameters, but this can be overridden from the namelist? Is this correct? I'm concerned that this might be a bit confusing.

[2020-04-02 22:30] apcraig commented on #421
Generally, that is correct.  We should just set ksno in icepack_parameters to the current hardwired default and then also set the default in the namelist to the same value.  We want to add ksno to both the icepack and cice namelist files.  If ksno is ever not defined in the namelist, it is set to the default value as now.  When could this be confusing?

[2020-04-02 22:39] dabail10 commented on #421
This is confusing to me because Cf is also set to 17 in ice_init.F90 in CICE. So, we use icepack_query_parameters in some cases, but not others. I was also confused, because it initially wasn't clear to me that Cf was overriding the hard-coded value. This is probably o.k.

[2020-04-02 22:44] apcraig commented on #421
OK, so the problem is in the upper layer and how to manage the values and memory.  That's a general issue with the setup.  When we separated icepack, decided many things would be set and stored inside icepack and other things would be passed, and decided everything had to be passed thru interface arguments (no "use"), that can of worms was opened.  There is a default in icepack and that can be cha

[2020-04-02 22:48] eclare108213 commented on #421
I thought that the idea was that icepack would always 'own' its parameters, and the driver would always have to query for them, so no storage in the driver.  I'm sure we aren't consistent about it, but isn't that the goal we are working toward?

[2020-04-02 22:56] apcraig commented on #421
Yes, that's the goal we're shooting for, so we should be coding to that standard as we move forward.    @dabail10, if you look in CICE, that is exactly what's happening with Cf.  Because the namelist is read into ice_init, we set a default before we read it, then we pass that value into icepack after reading the namelist.  And Cf is not stored in CICE as far as I can tell.  On the CICE side, I gue

[2020-04-03 15:55] phil-blain commented on #413
Small update on this one: I have the same failure when using GNU Fortran 8.3.0 (on the same machine)

[2020-04-03 15:58] apcraig commented on #413
Any chance the input data is corrupt (was not transferred completely or correctly)?

[2020-04-03 16:09] rallard77 commented on #413
Can you send the results.log file to show which tests passed/failed?

Rick
On 4/3/2020 10:55 AM, Philippe Blain wrote:

--

logo

*Richard A. Allard *
*Head, Nearshore and Coupled Models Systems Section*
*Oceanography Division NRL Code 7322*
*Stennis Space Center, MS 39529*
*T: 228.688.4894*
richard.allard@nrlssc.navy.mil <mailto:richard.allard@nrlssc.navy.mil>
****

******

[2020-04-03 19:40] apcraig commented on #421
My initial guess would be that you are setting ksno = 0.3 while the default in the columnphysics is 0.30_dbl_kind.   Try setting

[code]
in icepack_in and see if that fixes the problem.  If not, let me know and I'll look further.  You should be able to take one of the failed tests, modify icepack_in manually, then just submit that test as a quick initial check.

A separate question is whether this

[2020-04-03 19:45] dabail10 commented on #421
Good point. I wondered that as all of the namelist values are single precision.

Dave

[2020-04-03 20:28] dabail10 commented on #421
Same four tests failed with ksno = 0.3d0. Good thinking though.

[2020-04-03 20:47] apcraig commented on #421
OK, I'll try to have another look.

[2020-04-03 20:50] dabail10 commented on #421
No rush. I will try it on a different machine (izumi).

[2020-04-03 22:33] apcraig commented on #421
I think the problem could be that your baseline is old.  It looks like you ran the baseline with a codebase last updated Feb 18.  I suspect if you pull the latest code and retest, you'll be OK.  I am running some tests now to confirm.

[2020-04-03 22:35] dabail10 commented on #421
Sorry, you are right. I forgot to update my master sandbox. I am testing on izumi currently with the right baselines.

[2020-04-06 12:36] eclare108213 commented on #399
CICE copyright updated in #423

[2020-04-06 17:51] eclare108213 opened #429 "CU Boulder database"
Does someone want to take this on?  It looks like NCAR might have made the initial entry, but it might also have been me, many years ago.  We should probably update it for CICE and also add Icepack.

[2020-04-07 12:05] eclare108213 opened #430 "hadgem3 driver"
I propose to delete the code in drivers/direct/hadgem3 and replace it with a README file.

**Email exchange:**

_@eclare108213:_  Do you (et al.) still access and use the hadgem3 driver for CICE?  It's here:
https://github.com/CICE-Consortium/CICE/tree/master/cicecore/drivers/direct/hadgem3

**_Ed Blockley:_**  The answer is both yes and no:

Yes: all of our CMIP6 and current operational model con

[2020-04-07 12:58] eclare108213 commented on #399
The documentation outline and dependency graphs are being discussed in
https://github.com/CICE-Consortium/About-Us/issues/10

[2020-04-07 12:58] #399 closed

[2020-04-07 20:22] phil-blain commented on #413
Using `year_init = 2005`, `fyear_init = 2008` the test passes.

[2020-04-07 21:44] eclare108213 commented on #413
fyear_init needs to match the forcing data that you have available, and ycycle might also play a role -- if it is bigger than 1, then the code reaches into data files for neighboring years when interpolating Dec 31-Jan 1.  As long as restarts are being read and the year in the restart file is being used, year_init shouldn't matter at all.  However if it's not read and/or used, then year_init simpl

[2020-04-08 00:43] apcraig commented on #421
@dabail10 are you also working on the same change in CICE?  We'll want to do that as well.  Let me know if you're taking that on or if you want me to do so.  Thanks!

[2020-04-08 03:22] dabail10 commented on #421
I have it ready to go for CICE. I was waiting for the isotopes to go in first.

[2020-04-08 06:35] apcraig commented on #421
@dabail10, sounds great, thanks!

[2020-04-08 12:05] duvivier commented on #429
I just completed entries for both CICE and Icepack. I'll let you know if they contact me requesting any further action.  I added links to the community forum and github repos, but I left @eclare108213 as the "official" contact. Perhaps we should add an update to ask them to remove her info from the entry. Thoughts?

[2020-04-08 13:22] eclare108213 commented on #429
Thank you @duvivier !  I don't mind being the "official" contact for this - I can always forward to you if anything comes in (which hasn't in the last many years, as far as I know).

[2020-04-08 17:46] #429 closed

[2020-04-08 22:38] dabail10 commented on #421
Testing now.

[2020-04-09 07:45] mhrib commented on #426
Moved to pull request #431

[2020-04-09 07:45] #426 closed

[2020-04-09 07:46] mhrib commented on #426
Moved to #431

[2020-04-09 15:35] phil-blain commented on #413
@eclare108213, @apcraig @rallard77 : thanks for all the input. I redownloaded the 2005 forcing file from Zenodo and now the test passes. The new file was different from the old file... weird.

[2020-04-09 18:58] apcraig commented on #430
I think the hadgem3 code is not public?  Would it be possible to get the GSI8 version of the files and drop them into our repo?  I know the v5.1.2 is not v6 but they should be close in most ways.  I also think it's better to have some broken sample code versus no code.  In the end, many drivers are going to become obsolete over time.  I think we should generally just keep them in the repo and if w

[2020-04-09 19:16] phil-blain commented on #430
I think that would be ideal, if possible.

[2020-04-10 00:31] apcraig commented on #419
The Jedi DA modifications have been merged into CICE with #427.  At some point, someone should confirm they work with Jedi DA.  If we have to create another ticket for another set of modifications, no problem.  For now, I'm going to close this.  If we think it should stay open until we have everything tested and working, feel free to reopen.

[2020-04-10 00:31] #419 closed

[2020-04-10 00:32] apcraig commented on #413
It looks like this is reconciled, I will close for now.

[2020-04-10 00:32] #413 closed

[2020-04-14 16:10] eclare108213 commented on #430
Ed writes:

I asked him to send the diff so we can at least take a look.
e

[2020-04-14 18:25] phil-blain commented on #420
Maybe Google - which provides the reCAPTCHA service is blocked in @Yukai12345's origin country ?

[2020-04-14 18:41] phil-blain commented on #420
I think that's the case, a quick web search reveals reCAPTCHA is blocked in China if special measures are not used in the code - in this case, Xenforo's code, the forum software that is used. The documentation for recPATCHA https://developers.google.com/recaptcha/docs/faq#can-i-use-recaptcha-globally reveals it is possible to use an alternate URL so that the reCAPTCHA are not blocked, however this

[2020-04-14 18:47] phil-blain commented on #413
@apcraig @duvivier now that the input data is hosted on Zenodo, maybe we should instruct users to check the md5 checksum after downloading ? to alleviate these kind of issues with possibly corrupted downloads...

Of course this does not help if the software used to untar is the one corrupting the files, then we would need to checksum each individual file and add these checksums in zenodo or someth

[2020-04-14 19:19] duvivier commented on #420
@phil-blain Yes, the forum admins have recognized this problem fixed it so that people from China can make accounts. Yukai was able to make an account and post on the forum a while back.

[2020-04-14 19:20] duvivier commented on #413
@phil-blain Please feel free to add some instructions or suggestions for how to check the data after download to the CICE input data wiki page. If this is a recurring problem we should definitely make some suggestions about how they can verify the data are uncorrupted.

[2020-04-14 20:46] phil-blain commented on #413
@duvivier I'm don't have "Developer" role on CICE so I can't edit the wiki; I've forked it to my user and created the changes, which you can view here:
https://github.com/phil-blain/CICE-Consortium-CICE-wiki/blob/mention-md5/CICE-Input-Data.md#downloading-data-from-zenodo

You can easily apply this change by cloning the Wiki locally and applying my commit:
[code]

[2020-04-18 19:58] apcraig commented on #89
A code coverage capability has been added to Icepack and CICE with PRs https://github.com/CICE-Consortium/Icepack/pull/313 and #434.  The results can be seen here,

https://codecov.io/gh/CICE-Consortium/Icepack
https://codecov.io/gh/apcraig/Test_CICE_Icepack

The CICE results are from a separate repository (apcraig/Test_CICE_Icepack) because submodules are not supported in codecov.io analysis, so

[2020-04-18 19:58] #89 closed

[2020-04-20 13:49] phil-blain commented on #89
@apcraig why not create the combined repo in the CICE-Consortium organization ? it would appear more "official" no ?

[2020-04-20 16:14] apcraig commented on #89
My worry is that the community might use it for other things.  Eventually, I hope codecov will support submodules and then we can test directly out of the Consortium CICE repo.  Until then, I prefer this "fake" repo be hidden from the community and not appear in the Consortium organization.  If others disagree with this strategy, we could easily migrate the test_cice_icepack repo.

[2020-05-01 22:35] dabail10 commented on #246
I am doing some of this now with the history precision changes #270. On cheyenne, the io_pio directory doesn't build. I think this is because it needs to point to PIO version 1. The io_pio2 area builds fine with PIO2. However, it sets the restart_format to 'nc' and it should be 'pio'.

[2020-05-01 22:41] dabail10 commented on #246
Actually, it is not building with io_pio2. This defaults back to netcdf.

[2020-05-01 22:51] dabail10 commented on #246
I have a bit of a conundrum here. I need IO_TYPE to determine what modules to load. Does the build and env.machine_compiler have access to cice.settings? I assume so?

[2020-05-04 15:08] phil-blain commented on #246
@dabail10 yes, `cice.settings` is sourced in `cice.build`, and then `env.machine_compiler` is sourced :
https://github.com/CICE-Consortium/CICE/blob/master/configuration/scripts/cice.build#L96-L97

[2020-05-04 15:19] phil-blain commented on #413
@duvivier @dabail10 @apcraig if you have the chance maybe one of you can do the procedure I wrote above to add instructions to the CICE wiki to check the md5 checksum for the zenodo downloads ?

[2020-05-04 17:12] apcraig commented on #246
@dabail10, I'm glad this work is moving along.  I assume you are using a prebuilt version of pio on cheyenne?  All of the cice.settings env variables are available during the script build and run phases, so you should have what you need.  I assume you are trying to figure out how to modify the Macros to pick up the correct pio version?  We probably need to have a set_env.pio1 and set_nml.pio1 (and

[2020-05-04 17:19] dabail10 commented on #246
I've got a prototype for this. I can now get the io_pio2 to build and run on cheyenne. However, I am having problems with io_pio. The version of PIO1 we have on cheyenne is 1.10.1. I've got the current version on a branch of ESCOMP/CICE.

https://github.com/ESCOMP/CICE/tree/precision

The problem is that the pio1 lib does not have shr_kind_mod, shr_sys_mod or shr_pio_mod. Can you check your versio

[2020-05-04 17:55] apcraig commented on #413
I have updated both the CICE and Icepack wikis.  Thanks @phil-blain, this is a great addition.

[2020-05-04 18:24] apcraig commented on #421
Also addressed in https://github.com/CICE-Consortium/Icepack/pull/311, will close issue.

[2020-05-04 18:24] #421 closed

[2020-05-04 18:30] apcraig opened #437 "Improve testing code coverage"
The codecov tool is working for Icepack and CICE, (see #434, #436) and a handful of people can run the testing.  We should next evaluate the codecov results and see if we can improve testing coverage.  There is an equivalent issue in https://github.com/CICE-Consortium/Icepack/issues/194, but I thought I'd add one specifically for CICE because the efforts may not overlap.

The codecov results for C

[2020-05-04 18:46] apcraig commented on #246
The CICE6 code in RASM is identical to the CICE6 code in the Consortium.  We do have the shr code stuff in ice_pio.F90 in RASM.  It seems clear this has to be updated to work with standalone CICE.  Up to now, I guess all usage/testing always included CESM.  It will be good to clean this up.  I believe io_pio2 has the same issue.  Have you already fixed this in io_pio2?  It looks like the same mods

[2020-05-04 18:57] dabail10 commented on #246
It builds and runs fine with io_pio2. So, I guess the PIO2 library must have some of this built in already?

[2020-05-04 19:10] apcraig commented on #246
I just checked out ParallelIO and did a grep and am not all that impressed with the implementation.  pio2 includes gptl which uses "shr" code but it doesn't call it shr code.  Have a look in src/gptl/perf_utils.F90.  I think this is very bad form to reuse the same names in the pio gptl implementation that exist in CESM.  It can only create this kind of chaos.  In addition, it looks like gptl can b

[2020-05-04 19:30] dabail10 commented on #246
I agree this is bad. We can definitely replace shr_kind_mod and shr_sys_mod calls, but we still need the shr_pio_mod calls. I can't find where this is buried. In CESM, this is part of CIME src/share/util.

[2020-05-04 20:11] apcraig commented on #246
I cannot tell where your io_pio2 standalone test is picking up the shr_pio stuff.  I can't find it in ParallelIO or in CICE either.  We probably just need to copy in the CIME src/share/util code and rename it in io_pio(2) area, but I'm curious about how your current test is building.  Any chance you can track it down?  It's probably good just to be careful.

[2020-05-04 21:55] dabail10 commented on #246
I see. I tried to set ICE_IOTYPE to pio2, but I guess it didn't take. My logic in the scripts is to use the io_pio2 directory when ICE_IOTYPE is set to pio2. Then it also should load the correct modules for PIO2. So, I was mistaken. Neither  the io_pio or the io_pio2 is building.

[2020-05-04 21:59] apcraig commented on #246
Since we haven't really tested the io_pio or io_pio2 in the standalone scripts, there could be some bugs.  But I think what you are doing is the correct approach.  Whatever is broken should be easy to fix too.  It looks like there is a bunch of progress in your precision branch.  Again, happy to help test and implement.  Just let me know.

[2020-05-05 16:45] dabail10 commented on #246
Unfortunately, the code in ice_pio.F90 relies on subroutines from shr_pio_mod.F90. If we include shr_pio_mod.F90, this goes down a rabbit hole as it relies on other csm_share code. At some point I found a working version of ice_pio.F90 from CICE5.1 that @eclare108213 had put together. Not sure why this was not incorporated into CICE6.

[2020-05-05 17:06] eclare108213 commented on #246
Really, it works?  I don't remember even getting pio to work in my own testing.

[2020-05-05 17:10] dabail10 commented on #246
This is the code you added and I was able to get it working with CICE5.1. It requires some PIO namelist additions:

!echmod   ice_pio_subsystem => shr_pio_getiosys(inst_name)
!echmod   pio_iotype =  shr_pio_getiotype(inst_name)
!echmod: equivalent to shr code
!echmod: for now, assume all processors write output (numProcs)
! DAB: Let PIO choose.
   integer (int_kind) :: numProcs ! number of process

[2020-05-05 17:16] apcraig commented on #246
Ultimately, we have to go down the rabbit hole if we want to be able to test/run standalone CICE with pio.  It's likely/possible that we can simplify the depth and width of that hole as we pull things up.  I don't know anything about a prior work-around.  I think what's there now was based on the latest cice5 + columnphysics implementation.  The io_pio came from what was working in RASM which was

[2020-05-05 20:23] eclare108213 commented on #94
I'd like to close this task without any changes, since GPTL is a package that would need to be installed.  Does anyone disagree with that?

[2020-05-05 21:05] apcraig commented on #94
I agree that we can close this and stick with what we have.  I think MPI_WTIME works well enough.

Having said that, we could probably add the gptl code to CICE and treat it as CICE code in the standalone mode.  I'm not sure this is a good idea, but it's an option.  We would probably still have to support ifdef-ing it out when building/running in CESM and other models that might have their own cop

[2020-05-05 21:39] dabail10 commented on #94
The advantage of GPTL is that it works well with OMP threading. However, I am happy to leave it out of CICE6.

[2020-05-05 22:48] eclare108213 commented on #94
I'll close the issue.  We can change it later if the need arises.

[2020-05-05 22:48] #94 closed

[2020-05-07 15:26] eclare108213 commented on #114
I am uploading a set of slides here from a LANL training course on OpenMP profiling and debugging that I attended last week.  Most of it is old news, but the profiling and debugging info at the end might be useful as we move forward with this task.
[Workshop 6 Basic OpenMP and Profiling-2.pdf](https://github.com/CICE-Consortium/CICE/files/4593897/Workshop.6.Basic.OpenMP.and.Profiling-2.pdf)

[2020-05-12 17:52] eclare108213 commented on #293
@lettie-roach
I'm just checking in on the status of this project.  How's it going?

[2020-05-12 18:21] dabail10 commented on #186
Part of this is resolved. I need to add the data to Zenodo.

[2020-05-12 18:41] dabail10 commented on #186
I also have two initial files here. One that has used bilinear interpolation, and the other that has used nearest neighbor. @daveh150 did you give me these? Have you tested the code with either?

[2020-05-12 19:00] daveh150 commented on #186
Dave, I believe I made the IC for you, but I did not run any of the tests. Rick, if you ran the test, do you recall what the IC file was?

From: David A. Bailey <notifications@github.com>
Sent: Tuesday, May 12, 2020 13:42
To: CICE-Consortium/CICE <CICE@noreply.github.com>
Cc: David Hebert, Code 7322 <david.hebert@nrlssc.navy.mil>; Mention <mention@noreply.github.com>
Subject: Re: [CICE-Consortium/

[2020-05-12 19:03] rallard77 commented on #186
I think I used the default from the tx1 case in the test suite. I don't
believe I had an IC file from you.

Rick

On 5/12/2020 2:01 PM, daveh150 wrote:

--

logo

*Richard A. Allard *
*Head, Nearshore and Coupled Models Systems Section*
*Oceanography Division NRL Code 7322*
*Stennis Space Center, MS 39529*
*T: 228.688.4894*
richard.allard@nrlssc.navy.mil <mailto:richard.allard@nrlssc.navy.mil>
***

[2020-05-12 19:04] dabail10 commented on #186
I will test both and make sure they work. I guess the bilinear is probably the preferred way to start the model?

[2020-05-12 19:06] dabail10 commented on #186
Ok. The nearest neighbor file is a problem. It aborts in the thermo right away:
  (init_vertical_profile)Starting thermo, zTsn > Tmax
  (init_vertical_profile)zTsn=   158.567848688701
  (init_vertical_profile)Tmax=  2.428923153931408E-003
  (init_vertical_profile)zqsn  -18516.5183268217       -110220000.000000
 110201483.481673
    (icepack_warnings_setabort) T :file icepack_therm_vertical.F90 :li

[2020-05-12 19:10] dabail10 commented on #186
Same problem with the nearest neighbor file. I will put this on hold for a bit. I will run a 10 year run with the tx1 grid and the JRA55 forcing from the default initialization. Then I will use this restart as the default.

[2020-05-12 19:54] lettie-roach commented on #293
Hi, not much progress to report yet, but I am starting work on it again
this week. I'll keep you posted.

On Tue, 12 May 2020 at 10:52, Elizabeth Hunke <notifications@github.com>
wrote:

[2020-05-12 20:50] eclare108213 opened #439 "Deprecated code features"
There are some code features that we probably should not continue to maintain, since other, better options are available:  [wiki under construction](https://github.com/CICE-Consortium/CICE/wiki/IN-DEVELOPMENT:-DEPRECATED-CODE-FEATURES)

Note that 3 of the 4 features currently listed are in Icepack, but would also need to be removed from CICE.

This issue is to invite discussion and decide on a tim

[2020-05-12 20:55] eclare108213 commented on #439
In general, I would use "less sophisticated" as a reason for deprecating code, although this is in essence the critical point.

For CESM melt ponds, I might argue that the parameterization is largely based on empirical relationships (from SHEBA) which might not continue to hold in the future, while the other options have more physically based parameterizations and less empirical modeling.

The del

[2020-05-12 21:53] eclare108213 opened #440 "collaboration statement"
Write a collaboration statement that people can put in proposals that make use of Consortium resources.

Alice:

Elizabeth

[2020-05-12 22:01] eclare108213 opened #441 "namelist defaults and documentation"
Clarify or fix this confusing issue: ‘default’ namelist values in the documentation do not necessarily match those in the default namelist file because the documented default namelist values are suggested for production runs, and with our greatly expanded tests, more than one value is often tested.  We need to define what we mean by "default," e.g. whether they are values set in the main ice_in fi

[2020-05-12 22:39] eclare108213 opened #442 "Coupling paper"
Write and submit a peer-reviewed paper on coupling based on @proteanplanet 's [Theory of Coupling](http://www.cesm.ucar.edu/events/2020/cice-icepack/files/Lecture5.pdf) presentation at the [2020 CICE/Icepack tutorial](http://www.cesm.ucar.edu/events/2020/cice-icepack/coursework.html).  Authorship is open to @CICE-Consortium/devteam and others by invitation.

[2020-05-12 23:05] eclare108213 commented on #135
Moving to JRA-55 forcing should make this issue moot.  I'll close the issue.

[2020-05-12 23:05] #135 closed

[2020-05-12 23:09] eclare108213 commented on #168
This issue appears to be complete, for now.  I'll close it.

[2020-05-12 23:09] #168 closed

[2020-05-12 23:20] eclare108213 commented on #439
Another good reason to deprecate upwind advection is that tracers aren't implemented to use it.  See [#267](https://github.com/CICE-Consortium/CICE/issues/267).

[2020-05-12 23:23] eclare108213 commented on #270
See also comments in #67.

[2020-05-12 23:28] eclare108213 commented on #363
Is there more to discuss on this issue, or is it ready to be closed?  @phil-blain @apcraig

[2020-05-12 23:33] eclare108213 commented on #441
#390 is related to this, I think

[2020-05-12 23:37] daveh150 commented on #186
Dave, I’ll have a look at the interpolation of those files again and try to run some test on our end to see if I can get the ICs working.

Thanks,

Dave

From: David A. Bailey <notifications@github.com>
Sent: Tuesday, May 12, 2020 14:11
To: CICE-Consortium/CICE <CICE@noreply.github.com>
Cc: David Hebert, Code 7322 <david.hebert@nrlssc.navy.mil>; Mention <mention@noreply.github.com>
Subject: Re: [C

[2020-05-13 12:22] phil-blain commented on #363
My opinion is that in a few years (maybe more), we'll eventually want to switch to the `mpi_f08` module, so I would let this issue open just as a reminder.

[2020-05-13 19:29] apcraig commented on #363
I think my preference would be to close this for now.  When we are ready to update to mpi_f08, we can open another issue.  I think if we have open issues for things we might do in several years, it's going to be difficult to sort out active issues from inactive issues.  Maybe we can create a new label called "Type: Inactive" and close this.  That label would allow us to search for these kinds of t

[2020-05-13 19:34] eclare108213 commented on #363
I like that idea.  There are several other issues that might get that label.

[2020-05-13 19:46] apcraig commented on #363
I have added an Inactive label to both CICE and Icepack that we can use.  I have attached it to this issue, but have not yet closed it.  If Phil agrees using this label and closing these issues for the time being is reasonable, I think we could probably take the same approach to a few other issues as well.

[2020-05-13 20:13] phil-blain commented on #363
I think that's a good idea.

[2020-05-13 20:13] #363 closed

[2020-05-13 21:54] apcraig opened #443 "FSD: update io_pio and io_pio2 for fsd output"
Testing in RASM indicates that neither io_pio or io_pio2 has the fsd mods required for input/output.  I am working on it.

[2020-05-13 23:26] apcraig commented on #246
@dabail10, can you provide an update on the status of this effort.  I have decided it's important to have sooner than later.  We need to be able to test pio and pio2 in standalone mode.  The fact that these libs are built on cheyenne is a big help.  I'd like to take this on if it's not already partly or fully implemented.  Maybe addressing this first will help #270?  If you'd like me to create a P

[2020-05-14 20:31] TillRasmussen commented on #162
Increment of time in initialization seems to be wrong. If you run 1 time step then time and istep will be increased twice. Once in initalization and once in the end of a time step.

A potential solution could be to remove the increment of time and  istep in the beginning of each time step instead of the end

[2020-05-14 21:16] apcraig commented on #441
I think the documented defaults should be the values defined within the code.  They can, of course, be changed in namelist.  If there is a different recommendation for production runs, then we should document that as a separate column in the namelist table or via some other process.

[2020-05-15 15:45] eclare108213 commented on #439
Let's add the old COREII and gx3 bulk forcing to the list of things being deprecated, along with a timeline for each deprecated item.

[2020-05-15 16:15] #443 closed

[2020-05-15 16:36] eclare108213 commented on #439
I updated the information on the [wiki](https://github.com/CICE-Consortium/CICE/wiki/IN-DEVELOPMENT:-DEPRECATED-CODE-FEATURES) and added potential dates for removing code.  Comments welcome.

[2020-05-15 16:38] eclare108213 commented on #439
unfortunately the table is too wide and doesn't all show up...

[2020-05-15 21:25] phil-blain opened #445 "Adding ICE_CPPDEFS (and ICE_SLIBS) in cice.settings"
I would like us to consider adding the environment variables `ICE_CPPDEFS` and `ICE_SLIBS` to `cice.settings`.
This would allow using the present case/test configuration mechanism (`set_env.*` in `configuration/scripts/options/`) to add preprocessor macros and linker flags.

The reason I'm asking is that in the initial implementation of the implicit solver I'm working on, LAPACK is used for the ac

[2020-05-15 21:27] phil-blain commented on #445
Sidenote: I think we could create a "Build system" label for this kind of issues. I don't have permission to do that.

[2020-05-16 02:23] apcraig commented on #445
I think this is an excellent idea.  There are a few ways to support this.  This could just be a change in cice.settting and the Makefile, but I don't favor that.  It could be a change in cice.settings and the Macros file.  That might work well.  And maybe there is a mod needed in cice.build, not sure.  I think we want to keep ICE out of the Makefile, so it's a matter of how to get the build env va

[2020-05-19 13:45] phil-blain commented on #445
Thanks. I'll prototype something.

[2020-05-19 23:11] #171 closed

[2020-05-20 01:11] apcraig commented on #298
@eclare108213, do you have a preference what the namelist should be called or in what namelist group it should appear.  By default, I'll use l_conservation_check and put it in dynamics.  But maybe we need to change the name to something a little clearer, maybe "conservation_checks" or "tracer_conservation_checks"?  Should it be in the dynamics namelist group?

[2020-05-20 03:19] eclare108213 commented on #298
It could just be conservation_check.  The l_ just indicates it's a logical flag, not something we have to have.  It could also be shorter, like conserv_check.  I could go in the dynamics namelist, but in icepack it also is used for zbgc, so maybe it should go in the general-use namelist (setup_nml).

[2020-05-20 16:35] apcraig commented on #298
Thanks @eclare108213, I'll probably go with conserv_check and put it in setup_nml.

[2020-05-22 23:54] apcraig commented on #437
There is a google doc that is trying to track some of the coverage issues

https://docs.google.com/document/d/1OMqg8u66uobqD_sbIHSM6ZXLEbv7FFRnQKSk2TH1c7M

[2020-05-24 23:06] aidanheerdegen commented on #403
In the [COSIMA](http://cosima.org.au) group we use a locally developed model run tool, [payu](https://github.com/payu-org/payu). The model run directory containing all the configuration data, including namelists, is a git repository that also contains [manifests](https://github.com/aidanheerdegen/yamanifest) of all executables and input data files and is `git commit`-ted with every model run.

The

[2020-05-25 01:04] aekiss commented on #403
Further to @aidanheerdegen's post (and somewhat off-topic), note that in COSIMA the only things we directly store in git repositories are text files (source code, configuration files, and run manifests). We don't store anything binary (e.g. NetCDF forcing files) in git, as standard git is not well-suited to this task because it doesn't do delta-compression on binaries, so the repository quickly be

[2020-05-25 18:42] phil-blain commented on #412
@eclare108213 when #450 is merged, `cice.settings` will be copied to the run directory, so these aliases would work to go easily from `ICE_CASEDIR` to `ICE_RUNDIR` and back :

**For Bash / compatible**
[code]

**For csh / compatible**
[code]

[2020-05-25 18:50] phil-blain commented on #412
we could even document these in the user manual, it was not easy to quote that `$NF` correctly...

[2020-05-25 20:10] apcraig commented on #412
I've added this "hint" in the documentation in PR #450

[2020-05-26 19:48] #445 closed

[2020-05-27 02:58] dabail10 commented on #403
Here is the ES-DOC link:

https://explore.es-doc.org/cmip6/models/ncar/cesm2

[2020-05-27 17:30] dabail10 opened #451 "Vector directives"
It is not clear that anyone uses these anymore:

!DIR$ CONCURRENT !Cray
!cdir nodep      !NEC
!ocl novrec      !Fujitsu

There are 18 places in the code where these occur. The following modules:

	modified:   cicecore/cicedynB/dynamics/ice_dyn_eap.F90
	modified:   cicecore/cicedynB/dynamics/ice_dyn_evp.F90
	modified:   cicecore/cicedynB/dynamics/ice_transport_remap.F90
	modified:   cicecore/cicedy

[2020-05-27 19:10] whlipscomb commented on #451
Hi Dave,

I remember those directives.  I added them in the early 2000s when we were
restructuring CICE to run efficiently on vector machines.  I think it's
safe to remove them.

Bill

On Wed, May 27, 2020 at 11:31 AM David A. Bailey <notifications@github.com>
wrote:

--
William Lipscomb
National Center for Atmospheric Research
Boulder, CO
(505) 699-8016

[2020-05-27 19:25] apcraig commented on #451
I am comfortable removing these directives.  If that turns out to be a mistake, we can always recover them in the future.  But I think that's extremely unlikely since they probably haven't been exercised in over a decade and would likely need a refresh if they ever became relevant again.

[2020-05-28 16:47] apcraig commented on #451
Addressed with #453.

[2020-05-30 20:19] apcraig opened #454 "Code Coverage Tool"
This is a longish issue, sorry about that.  I've tried to summarize the current situation.  Looking for input from @eclare108213 @duvivier @rallard77 @phil-blain @dabail10 and others.

I am having problems with codecov again.  It was working fine a couple weeks ago, but with the increased number of tests we're now running on cheyenne (due to pio and IO testing in general), the codecov reports are

[2020-06-01 03:22] eclare108213 commented on #454
Thanks @apcraig for the thorough comparison!  I'm glad to know there is a reasonable alternative to codecov.  Your suggestions above sound fine, although I question maintaining both lcov and codecov.   It makes sense to run this each time we do a new release, or when we add a new test, and store the results in a consortium web space.  And for this purpose, just running on one machine seems adequat

[2020-06-01 17:47] apcraig commented on #451
Some interesting results from the weekend,

https://github.com/CICE-Consortium/Test-Results/wiki/cice_by_hash#2054d0984a4a0eb1293e9fd3266bf3dbbd45753e

The Cray testing turned up different answers.  I just ran a quick test on conrad+cray with the current version of the model minus this PR, and we recover bit-for-bit with the version from two weeks ago.  So this means some aspect of the Cray direct

[2020-06-01 19:38] eclare108213 commented on #451
This is very interesting indeed.  I'd like to know from other groups using Cray machines whether/how this PR changes answers for them, too (@TillRasmussen ? @phil-blain ? @daveh150 ?).  Is this controllable through compiler flags other than optimization?

[2020-06-01 19:39] apcraig commented on #451
Just to clarify, it's just the Cray compiler on Cray hardware.  Intel and other compilers on the Cray hardware are unaffected.

[2020-06-01 19:39] dabail10 commented on #451
Also, I am curious to know which directive the compilers are using? The dir$ the cdir$ ...

[2020-06-01 19:41] phil-blain commented on #451
@eclare108213 We don't use the Cray compiler (we use the Intel compiler).

[2020-06-01 19:47] TillRasmussen commented on #451
I will setup a test and run with the cray compiler.

[2020-06-03 17:27] apcraig commented on #284
We have added a section to the Software Development Practice to summarize the policy regarding this issue.  https://github.com/CICE-Consortium/About-Us/wiki/Software-Development-Practices and decided we can close the issue at this point.

[2020-06-03 17:27] #284 closed

[2020-06-03 17:29] apcraig commented on #334
We have added a section to the Software Development Practice to summarize a policy regarding this issue, https://github.com/CICE-Consortium/About-Us/wiki/Software-Development-Practices, and decided we can close the issue at this point.  The policy generally states that we should avoid new features until we are confident they are robustly implemented in all typically installed compilers unless ther

[2020-06-03 17:29] #334 closed

[2020-06-03 17:30] apcraig commented on #363
Just to add a quick note.  We have added a section to the Software Development Practice to summarize a policy regarding this issue.  https://github.com/CICE-Consortium/About-Us/wiki/Software-Development-Practices.

[2020-06-03 17:45] apcraig opened #455 "Compiler standard conventions check"
Check whether icepack and cice meet fortran standard coding conventions using the --std=[f95, f2003, f2008, f2018, gnu, legacy] option with the gnu compiler or --stand [f90,f95,f03,f08,f18] with the intel compiler.  We can then decide whether we want to add this as a part of our standard test suite.

[2020-06-03 17:47] apcraig commented on #360
We decided the Consortium does not need to play a role in this feature at this time.  We feel this is a model science tuning issue more than a testing issue and recommend that all model tuning be done in coupled configurations in the community.

[2020-06-03 17:47] #360 closed

[2020-06-03 18:36] apcraig opened #456 "Improve CICE namelist logging"
Improve CICE namelist logging where possible.  This should at least include adding text to integer options like kitd and ktherm.

It might be worth considering changing these integer options to text strings, but this will create issues with backwards compatibility in existing namelists as well as break the long history of the values, so that's probably not a practical idea at this point.  Would it

[2020-06-03 18:59] eclare108213 commented on #456
Is this a different issue from #403?

[2020-06-03 19:28] apcraig commented on #437
We added an io_suite to test io_binary, io_netcdf, and io_pio as well as a histall option to turn on all history fields in #447.

[2020-06-03 19:43] apcraig opened #457 "gdb usage with conda"
Explore using gdb with the conda install.

[2020-06-03 19:46] apcraig opened #458 "Identify compiler versions during testing"
Automatically track compiler and system (mpi, netcdf, etc) versions during automated testing and report.  This would be useful information in the test suites and as part of release information.

[2020-06-03 19:57] apcraig commented on #456
I think it is.  #403 is more about the community being able to store namelist files used in experiments and providing a repository for that.  This issue is about simply improving transparency and usability in the code itself in namelist and the ice log file.  Instead of "kdyn=1" being reported in the log file, we want something more like "kdyn=1 (evp)".  It's a pretty minor and simple issue, but i

[2020-06-03 20:05] phil-blain commented on #457
Some notes:

**On Linux**, the system-installed GDB should be able to debug CICE (provided CICE is compiled in debug mode, i.e. `./cice.setup ... -s debug` . If GDB is not installed it can be installed using the system package manager. Alternatively it can also be installed with conda :
[code]
maybe we can think of adding this package to the `environment.yml` file if we feel enough CICE users will

[2020-06-03 20:56] apcraig commented on #298
https://github.com/CICE-Consortium/Icepack/pull/318 and #450 have been merged.  @eclare108213, please close if you feel all tasks are complete.

[2020-06-03 20:57] #298 closed

[2020-06-03 22:26] #246 closed

[2020-06-03 22:56] apcraig commented on #375
I am reordering and updating the namelist tables.  I'd also like to propose we remove the column, "also in Icepack" from the CICE namelist table.  I'm not sure it's useful since we have a separate document for the Icepack model these days.  I also think it creates an issue with maintenance between icepack and CICE.  Unless anyone disagrees, I'll proceed.

[2020-06-03 22:59] apcraig commented on #441
I am working on this now.  In CICE, we have a column in the namelist table called "recommended value".  I propose to change this to "default value" and then update the values to indicate the default value within the CICE code (which can/will be overidden by namelist).  Do we want another column indicated "recommended value" or "production recommendation" or something?  I think it's important to do

[2020-06-03 23:39] eclare108213 commented on #441
It makes sense to document the values defined in the code, in case a namelist value is not set.  I think that 'recommended value' is more useful, however that value might not be the best one for all configurations.  This is a tricky issue.  Optimally, we'd document various values used in various configurations, with citations to relevant papers, but that's a lot of work (so let's not, unless someo

[2020-06-03 23:40] eclare108213 commented on #375
Removing that column is fine with me.  I think we say somewhere in the doc, generally, that many of the namelist variables are also in Icepack.

[2020-06-04 17:38] eclare108213 commented on #439
I have made the [wiki](https://github.com/CICE-Consortium/CICE/wiki/Deprecated-Code-Features) table a little narrower and cleaned up the text.  If no one points out problems with this approach, we will begin implementing it after the next release (likely early next week).  I'm not sure when the documentation should be changed, when the namelist entry is removed from the code or when the full funct

[2020-06-04 19:58] eclare108213 commented on #440
Here is a draft collaboration statement, please make suggestions.  Is this too much information, or not enough?

With the goal of accelerating scientific sea ice model development and its transfer into operational use, the CICE Consortium is a vehicle for collaboration as the community continues to use and improve the CICE sea ice model and its column physics package, Icepack. Consortium team memb

[2020-06-04 22:46] eclare108213 commented on #403
@dabail10 I'd like to reorganize the diagnostic output based on the ES-DOC request.  The link above shows the answers for CESM2, but it looks like many of them are multiple-choice.  Please, can you send me the sea ice spreadsheet (filled out or not), so I can see all of the options?  Thx

[2020-06-04 22:50] dabail10 commented on #403
I'm not sure if the original exists. I'll try to find it.

[2020-06-04 23:00] aekiss commented on #403
fyi (apologies if irrelevant) - if you're comparing namelists you might find this tool helpful: https://github.com/aekiss/nmltab

[2020-06-05 22:01] eclare108213 commented on #403
I am looking at the diagnostic output prior to the time loop and finding that it's a mess, with numerous duplications and the namelist parameters not grouped logically.  I'll attempt to reorganize it while making it more verbose and hopefully easier for users to pull out a model configuration description.

Question:  the scripts capture the code version number with what looks like an option to sen

[2020-06-05 22:05] apcraig commented on #403
The code version number is currently not included anywhere in the code or namelist, just in documentation and in a file in the source directory.  We can certainly add that feature and it sounds like a good idea.  If you need any help, let me know.

Also, any namelist output cleanup could be tied to #456.

[2020-06-07 17:19] apcraig commented on #458
#460 highlights an issue with compiler versions and potential compiler bugs.  We should probably start to extend testing to include multiple compiler versions where possible, especially the most newest compilers.  This also highlights importance of formally tracking compiler/software versions.

[2020-06-07 17:24] apcraig opened #461 "ice_transport_remap seg faults"
#460 includes what we believe is a compiler bug workaround in ice_transport_remap, but more analysis needs to be done.  As highlighted in #460

We need to test on other machines with the intel20 compiler, understand the problem better (whether a coding issue or simply a coding vulnerability), and try to figure out a more robust solution.

[2020-06-07 17:48] apcraig commented on #441
#459 addressed this issue.  internal code defaults are now documented in the namelist tables.  we may need to add a new section to the documentation, "model configuration recommendations".  if so, we should create a new issue for that.

[2020-06-07 17:48] #441 closed

[2020-06-07 17:50] apcraig commented on #412
Documentation was added to the user guide in #459.  We decided at the SE telecon on May 26, 2020 that this would be adequate for now.

[2020-06-07 17:50] #412 closed

[2020-06-07 17:50] apcraig commented on #375
This has been updated in #459 and can be closed.

[2020-06-07 17:50] #375 closed

[2020-06-07 17:54] apcraig commented on #347
I believe this issue has been addressed and will close it.  The documentation has been update thru a number of PRs and I think things are working OK and documentation is consistent.  We recently added a few sentences to the qc documentation for further clarification.

[2020-06-07 17:54] #347 closed

[2020-06-07 17:56] #166 closed

[2020-06-07 18:04] apcraig commented on #411
This can be closed, both the model .settings file and the env machine file are copied to the run directory in Icepack and CICE now.

[2020-06-07 18:04] #411 closed

[2020-06-07 18:05] apcraig commented on #270
Address in #446

[2020-06-07 18:05] #270 closed

[2020-06-07 22:05] apcraig commented on #458
In the medium term, I'd like to continue to increase the number of machines and compilers we're testing on.  I'd also like to find a way to self document the versions, but I have not come up with a good way to do that.  In theory, we can query the compiler like "mpif90 --version" and capture the output.  We can build that feature into the Makefile or similar.  But that will probably not be able to

[2020-06-08 12:59] phil-blain commented on #461
@apcraig have you tried running the model under [Valgrind](https://www.valgrind.org/) ? maybe that could help... on our Cray XC system we have a Cray-installed `valgrind4hpc` module that may be of help (from a quick Google search it seems to be a standard install on most Cray systems)

[2020-06-08 13:17] phil-blain commented on #461
Also, the Intel compilers can be installed on personal Linux computers for open-source contributors, so that might be a way to test the Intel 2020 compiler if it's hard to find another machine with it...

[2020-06-08 13:34] phil-blain commented on #458
What we could do is embed the version number of the different modules in the cice executable itself; this should be robust and we would not have to think about updating anything.

For example, I know the Intel compiler defines a preprocessor macro that uniquely defines the compiler version, so we could use that. Probably other compilers and libraries do the same, I think it's pretty standard. So w

[2020-06-09 21:07] apcraig commented on #458
Thanks @phil-blain, interesting idea.   Just doing a bit of research

MPI_VERSION and MPI_SUBVERSION seem to be part of the MPI standard, but I'm not convinced that's enough.  What we want to know is that MPI is intelmpi or mpt or openmpi or mpich version x.y.z.  The MPI version info that MPI provides is also interesting, but I'm not sure is exactly what we want.

NetCDF does seem to provide nf90_

[2020-06-10 16:26] phil-blain opened #464 "scripts: add support for CICE preference file for options"
I thought of that today: when I create new cases, I *always* want to use `-s debug,buildincremental` but I often forget to set these options.

It would be great if `cice.setup` could read a `~/.ciceinit` (or similar) file in user's home directory and automatically apply any options it finds there (optionally with a way to disable this behaviour on a case by case basis).

[2020-06-10 20:02] eclare108213 opened #465 "model citation guidance"
Clarify wording to use when citing the models (both CICE and Icepack), and describe options for identifying the code used (DOI for series, DOI for particular release, hash for particular commit).

[2020-06-11 22:55] eclare108213 commented on #439
We discussed this during the June team meeting, and I extended the deadlines in the table.  I will announce this to cice-users to solicit feedback.  We don't have to do this at all, or we could do it on a longer time scale.

[2020-06-11 23:07] eclare108213 commented on #465
We already have the basic instructions in the docs:

https://cice-consortium-icepack.readthedocs.io/en/master/intro/citing.html
https://cice-consortium-cice.readthedocs.io/en/master/intro/citing.html

but this sounds a little confusing to me, and it doesn’t mention how to cite codes not yet formally released.  Is this better?

(Icepack)
Each individual release has its own DOI number, e.g. Icepack

[2020-06-12 13:16] phil-blain commented on #455
I'd maybe add that it could be a good idea to compile CICE with `-Wall` and go through each warning (there is a ton of them).

[2020-06-16 13:48] phil-blain opened #469 "Feature CICE on fortran-lang.org"
The Fortran programming language has a new home one the web, https://fortran-lang.org.

This website has a "Packages" page which lists software written in Fortran, with a ["Scientific Codes"](https://fortran-lang.org/packages/scientific) section in which I think CICE would nicely fit (WRF is in there, for example).

I'm just opening this issue to discuss if we want to make a PR there to feature CI

[2020-06-16 13:50] phil-blain commented on #469
Side note: I'd add a "Meta" (or similar) label for this one, and also maybe a "Community" label.

[2020-06-20 00:49] eclare108213 opened #472 "add to namelist in CICE and Icepack"
Pstar, Cstar, floediam, hfrazilmin

See also #468

[2020-06-22 23:29] eclare108213 commented on #439
@apcraig @duvivier
Where do you suggest we link the deprecated code wiki page from existing documentation?
https://github.com/CICE-Consortium/CICE/wiki/Deprecated-Code-Features

[2020-07-01 19:15] apcraig commented on #458
MACHINFO and ENVINFO hardwired information was added to both Icepack and CICE as an initial implementation.  I will leave this open for now in case we need further revisions or advance ways to automate the information collection.

[2020-07-01 19:18] apcraig commented on #461
Testing was carried out on other machines and the workaround in #460 was removed in #462.  We believe the problem arises only on izumi due to some system issues on that particular machine.  I have renamed the issue to reflect that.

[2020-07-01 19:19] apcraig commented on #456
A lot of work was done in #468.  Should we close this?

[2020-07-01 19:22] apcraig commented on #454
lcov has been implemented in both CICE and Icepack in #467 and https://github.com/CICE-Consortium/Icepack/pull/324.  We have also decided to temporarily abandon codecov, but the capability to assess coverage with it was not removed from the CICE or Icepack scripts.  Documentation is update to reflect use of lcov and a new wiki page has been added, https://github.com/CICE-Consortium/About-Us/wiki/L

[2020-07-01 19:22] #454 closed

[2020-07-01 19:55] eclare108213 commented on #456
We might want to do this for Icepack but could make an Icepack issue for that.

[2020-07-01 19:55] #456 closed

[2020-07-01 20:53] apcraig commented on #288
The CICE CPPs are

General
- NO_F2003, one occurance in ice_fileunits.F90 protecting a native fortran "flush" call
- ncdf, throughout code, turns on netcdf code, generally required in all builds
- _OPENMP, automatic flag associated with openmp compilation, turns on openmp features like omp_get_max_threads, omp_get_thread_num, omp_get_num_threads.  used in ice_dyn_evp_1d.F90 and ice_reprosum.F90
-

[2020-07-01 21:28] apcraig commented on #288
My recommendations with regard to current CPPs are as follows.  Keep all the cpps as they are now with the following proposals

- remove the popcice cpp and code as if it were never set
- add NO_I8 as another option for noi8 thereby having both like "#if defined noi8 || defined NO_I8".  Document as NO_I8 but preserve old version noi8 for backwards compatibility.
- would love to do something with n

[2020-07-01 22:16] eclare108213 commented on #288
I can think of one user possibly still using the popcice cpp, but her code is so old that I seriously doubt it will be updated to cice6.  I think it's fine to drop this one.

For all of the cpp's we plan to get rid of completely or switch to a new format (capitalization or positive/negative), should we treat them the same way we are doing other deprecated code?  I.e. add them on the wiki page, fir

[2020-07-01 23:06] apcraig commented on #288
Several good points.  I agree turning things on is easier, but I think we want to avoid having to turn on things that are pretty much always on.  For instance, do we want to have to set I8 on all the time except when it rarely is unavailable.  Much cleaner for the option to be to turn it off with NO_I8 if it's not available.  I think one could argue similarly for netcdf and mpi.  But there is no r

[2020-07-02 13:18] daveh150 commented on #288
A minor point/question with CPPs is code performance? Could that be checked when moving to namelist? With computing resources this day and age it may not be a significant performance issue, but having to check ‘if’ statements does take compute cycles. I admit it has been quite a while since I’ve worked in code optimization, but I also thought ‘if’ statements are slower from an optimization point (

[2020-07-02 17:32] apcraig commented on #288
@daveh150, it's an interesting question.  I suspect we won't be able to see the performance difference.  If we had an iterative solver that was taking 80% of the model time, and we were considering adding if statements to it, then that might be an issue.  In this case, I don't think we'll notice.  We can try to do the performance testing though as we move forward.   We had similar concerns when we

[2020-07-03 22:50] duvivier commented on #249
@eclare108213 What's the status on this? I know we've updated the physical forcing files and released most those, but we still need to change defaults in the code to use JRA55 instead of COREII? Is that right? Should we add COREII forcing to our deprecated features list with a date TBD?

[2020-07-03 22:54] duvivier commented on #469
Hum, I don't really have a strong feeling. We certainly fit their criteria. I guess what would be the benefit for us? Basically just visibility? I know a lot of industry (not just scientific groups) uses WRF, which is why it might be listed. Interesting that CESM is not linked. I'm not sure we need to be advertising to a large number of Fortran users who aren't in the CICE community. Also, maybe t

[2020-07-03 22:56] duvivier commented on #439
@eclare108213 I don't think we want it to be in the main sidebar because it might be confusing. I guess I would suggest in the "CICE Model" section of the Resource Index. Either right above or right below the "CICE Version 5 and Prior" bullet.  @apcraig Do you agree?

[2020-07-03 23:02] duvivier commented on #403
Is the biggest thing we need other than #468 mods, to include the version? Otherwise, it looks to me like @eclare108213 did nearly all of this.

[2020-07-03 23:19] duvivier commented on #440
@eclare108213 I think overall this looks pretty good. The first sentence is a bit of a bear, so I might suggest breaking it up.

Also, the NCAR proposals office often asks us to include a statement like "Please note that UCAR/NCAR participation in this project is contingent on mutually agreed upon terms and conditions." For example, from a proposal I was on as the "free" support (this happens a lo

[2020-07-03 23:50] eclare108213 commented on #249
The forcing is already scheduled on the deprecated code wiki:
https://github.com/CICE-Consortium/CICE/wiki/DEPRECATED-CODE-FEATURES
There are a number of things that need to happen first, though, so the dates might change.

[2020-07-04 00:22] duvivier commented on #249
Well, I feel like an idiot now. Ignore previous comment.

[2020-07-04 00:25] eclare108213 commented on #469
I don't have a strong inclination either way on this one, either.  I certainly wouldn't mind.  My one hesitation is that the fortran in CICE is a mix of very old and somewhat newer, certainly not the latest and greatest, so calling this code out on a Fortan-centric page might invite criticism, or perhaps more "help" than we want!  But I'm open.

LANL is recoding climate model components for GPUs,

[2020-07-04 00:32] eclare108213 commented on #249
No problem!  We're both working on a scheduled holiday...  that's the idiocy.

[2020-07-04 00:35] eclare108213 commented on #440
I like your changes to the first paragraph.  The second paragraph I'm less sure about.  I don't think we should encourage proposers to call out particular people or institutions.  Without that, is there anything in the second paragraph that isn't already captured in the first, other than "contingent on mutually agreed upon terms and conditions" (which I like)?

[2020-07-04 01:00] duvivier commented on #440
So maybe this (note I rearranged some of the sentences, but I'm not dead set on those):

The CICE Consortium's goal is to accelerate scientific sea ice model development and its transfer into operational use. As such, the CICE Consortium is a vehicle for collaboration as the community continues to use and improve the CICE sea ice model and its column physics package, Icepack. Consortium team membe

[2020-07-04 23:56] apcraig commented on #469
I don't feel strongly about this either.  I had a look around the fortran-lang.org page and don't understand why it exists.  It might be nice if they had an About Us page or a project statement or something.  Maybe it's just a community resource that is trying to become a hub for interactions and development?  I don't see how adding CICE to the site provides much benefit or visibility to our commu

[2020-07-05 00:05] apcraig commented on #403
#468, #456, #441, and #459 are mostly about cleaning up the namelist output and documentation including trying to more closely match the kind of output/information requested during MIP organization.

This issue has drifted off topic, but I think it is about providing space and process for different groups to document their namelist settings, experiment setups, and other things.  I don't think we'v

[2020-07-06 02:33] eclare108213 commented on #440
I like this, except I'd add a phrase to the last sentence,

[2020-07-06 03:33] duvivier commented on #440
I think that looks good! Now the question is where to put it. What about here:
https://github.com/CICE-Consortium/About-Us/wiki/Contributing
Maybe we can add a new section titled: "Consortium Collaborations on Community Code Development"

[2020-07-07 20:22] eclare108213 commented on #440
Here is the complete statement under consideration.  The remaining question is where to put it.  See @duvivier's comment above for a suggestion.

[2020-07-07 20:25] eclare108213 opened #481 "JRA forcing initialization/spinup"
Continuing the discussion from the June 11, 2020 meeting notes:

What's the status?

[2020-07-07 20:31] dabail10 commented on #481
I have tested the latest file from @daveh150 and it worked fine. I never heard what the vote was. The options are:

1. Use a CORE forced tx1 initial state after 60 years.

2. Use the gx1 initial file remapped to tx1. Where did the original gx1 come from?

[2020-07-07 20:40] duvivier commented on #440
@eclare108213 Do you want me to move forward here with my suggestion? Or are you just going through items for Thursday's agenda and it can wait till after then?

[2020-07-07 20:45] eclare108213 commented on #440
I've added this to the agenda for discussion.  Thanks!

[2020-07-07 20:59] eclare108213 commented on #481
The original gx1 restart came from a long COREII/AOMIP spinup I did for a publication many years ago - I don't remember which one at the moment!  It might have been my original AOMIP forcing paper with Marika (2007).  But the salinity and enthalpy for mushy are in it now, so maybe it's more recent. Suffice it to say it was with an older, buggier version of the code.  As an initial condition, thoug

[2020-07-07 21:02] dabail10 commented on #481
The JRA55 forcing is not available for a full cycle in tx1 format. Also, I have not created a mapping file to do this in CESM.

[2020-07-07 21:20] eclare108213 commented on #481
@dabail10,  your test with @daveh150's i.c. file "worked fine".  What does that mean, exactly?  It runs...  If they are pretty similar (expected if they're just interpolated versions of each other), then I don't see any reason why that file wouldn't work.  Have you also created a CORE-forced tx1 i.c.?  If so, does the output look reasonable from that restart?  What do the restart fields themselves

[2020-07-07 21:31] dabail10 commented on #481
Sorry for the vagueness. The initial file he gave me produced some snow energy initialization warnings. The new file did not produce the warnings. Both runs completed 5 days successfully. I can run it longer to see what it looks like after a year.

[2020-07-08 00:06] aekiss commented on #481
Apologies if this is irrelevant, but FYI [COSIMA](http://cosima.org.au) is doing a spinup under JRA55-do v1.4.0 with CICE5.1 coupled to MOM5.1 on a nominally 0.1 deg tripolar global grid, starting in 1958. It's up to 1990 so far but will extend to 2019.

[2020-07-08 03:35] eclare108213 commented on #481
Cool!  That information might be useful for NCAR as they also move toward coupling with MOM.  Thanks for letting us know.

[2020-07-08 15:52] dabail10 commented on #481
Thanks Andrew. We have several JRA forced high res runs with CICE5 and MOM6 at NCAR as well. This is for the low-res tripole grid which is nominally 1-degree. Most groups do not use this for science. It is generally for testing.

[2020-07-09 20:59] duvivier commented on #440
I've put the statement up here: https://github.com/CICE-Consortium/About-Us/wiki/Contributing

Note that there is a new section with the statement under the contributing to development section. We can of course tweak it.

[2020-07-09 21:04] dabail10 opened #482 "Send fswthru by categories to coupler"
This will involve adding the variable fswthrun_ai to ice_flux.F90 and a logical namelist flag, send_i2x_per_cat.

[2020-07-09 21:05] dabail10 opened #483 "Old aerosol scheme (tr_aero) bug fix."
Some of the fields should not be divided by aice in compute_aerosols. Will change answers in tr_aero = .true. cases.

[2020-07-09 21:07] dabail10 opened #484 "melts diagnostic bug"
In the last part of the thickness_changes, when the sea ice completely melts away, the snow melt here is not added to melts. This is mostly diagnostic and likely will not change answers as the ice is going away for these points. It will change the history output and budgets that rely on melts.

[2020-07-09 21:08] dabail10 opened #485 "shortwave redistribution"
The changes are in a pull request here, but this adds a namelist option and parameters for shortwave redistribution from the internal layers to the surface. This was in icepack_therm_bl99.F90, but not in icepack_therm_mushy.F90.

[2020-07-09 21:10] dabail10 commented on #288
I am attempting to remove some of the CESMCOUPLED ifdefs and moving these options to the namelist. These are mostly related to the NUOPC cap that will be shared by NOAA/EMC and NCAR.

[2020-07-09 21:20] eclare108213 commented on #485
See #479

[2020-07-09 21:23] dabail10 opened #486 "Add coszen as an optional restart variable."
Some coupled models require coszen on the restart file. I have added a namelist parameter for this to get rid of a CESMCOUPLED ifdef.

[2020-07-12 22:16] #451 closed

[2020-07-13 04:17] eclare108213 commented on #440
Thanks @duvivier !

[2020-07-13 04:17] #440 closed

[2020-07-13 19:37] eclare108213 commented on #465
I have submitted two PRs, nearly identical except for code names and version numbers/DOIs.
CICE: #487
Icepack:  [#327](https://github.com/CICE-Consortium/Icepack/pull/327)

[2020-07-14 18:56] apcraig commented on #288
@eclare108213, I am working thru some code changes and testing the CPPs.  Some of the CPPs are not working properly.  Even "ncdf".  There is some netcdf code that is not protected by the cpp.  I just compiled a standard gx3 CICE case without the ncdf flag and it built and ran to completion which is problematic on many levels since it's supposed to read in a netcdf file as the ice_ic.  It looks lik

[2020-07-14 19:02] eclare108213 commented on #288
Yes, this kind of thing should certainly be fixed.

[2020-07-14 19:03] apcraig commented on #288
Sounds good, I will try to work thru several of the most relevant cpps and make sure they are working as we expect.  I will try to add or update some tests where it makes sense.

[2020-07-15 02:12] apcraig commented on #288
@phil-blain would you be OK if I made both ORCA_GRID and CICE_IN_NEMO namelist arguments instead of cpps?  Thinking of adding a couple logical namelists, orca_halo_grid and cice_nemo_coupled, are those OK?  Also, CICE_IN_NEMO appears in several drivers, I'd like to clean that up.  @phil-blain @eclare108213, do we have any idea which drivers are being used with NEMO or maybe none of them are right

[2020-07-15 15:40] eclare108213 commented on #481
@dabail10 @rallard77 @daveh150 @CICE-Consortium/devteam
Let's decide how to move forward with creating JRA55 initialization files for all of our grids.  Decision points are

**1.  Which method should we use?**
Options seem to be

- spin up CICE v6 in CESM, letting CESM interpolate the JRA55 data - would this be on the same grids we distribute?
- spin up CICE v6 in standalone mode - this would requ

[2020-07-15 18:57] rallard77 commented on #481
NRL recently completed a GOFS 3.1 reanalysis (with data assimilation)
for the period of 2000-2019. We can offer up to use those CICE fields
for any start date/year to initialize for the JRA55 runs.

Rick

On 7/15/2020 11:04 AM, Elizabeth Hunke wrote:

[2020-07-15 19:17] eclare108213 commented on #481
That's an interesting idea, to start from a reanalysis product instead of a spinup.  I'm willing.  But this must have been with an older version of CICE?

[2020-07-15 19:56] phil-blain commented on #288
Hi Tony,

If they can be converted to namelist arguments, I 100% agree this is a good way forward. Regarding naming, I don't have a strong opinion.

Historically we were using (and are still using for CICE4/NEMO3.6 operational systems) the hadgem driver. It's not a multiple executable system. NEMO code calls subroutines from CICE and a single executable is produced by the NEMO build system.

I thi

[2020-07-16 08:27] TillRasmussen commented on #288
As a general note I would prefer to limit the number of CPP flags and if there is a good way of doing this I prefer this.

Some of the NEMO_CICE flags can be eliminated and others have limited influence on productions as they are only used when doing a cold start.

It is correct that we at DMI have updated the DMI driver to also include NEMO. I think that it would be good to include namelist flag

[2020-07-16 13:45] phil-blain commented on #288
comments from @dupontf :

[2020-07-17 05:43] TillRasmussen commented on #288
The following flags can be replaced by an optional mpi communicator input as it is done in driver nuopc/dmi
key_oasis3,
key_oasis3mct,
key_oasis4,
key_iomput,
This requires a very small change to the call to CICE Initialize from Nemo.

[2020-07-17 15:42] eclare108213 opened #489 "npolar.no contributions"
Several developments that Pedro might share with the Consortium:
 - [ ] track the ice geographical origin in simulations
 - [ ] time-varying boundaries
 - [ ] a recent implementation of mass exchanges following the same principles of heat exchanges
 - [ ] using parameters from studies by McPhee

Here's the abbreviated conversation:

@pduarte8 writes

Meanwhile, and in relation to simulations I am

[2020-07-17 17:15] apcraig commented on #288
@TillRasmussen, I very much like that idea.  I am working on a PR now to update some of the CPPs.  I propose that a separate PR be implemented to remove the key_ cpps and to update the nuopc/dmi implementation.  That would allow testing to be carried out with the nuopc/dmi configuration that I can't do.

[2020-07-17 18:51] apcraig commented on #288
#490 is a set of proposed changes to update the CPPs and document them.  I think the one I don't know what to do with is "coupled".  I don't believe CESM, E3SM, or RASM are using that flag.  Do we know if anyone is using that flag?  Should we consider removing it?

[2020-07-17 18:56] dabail10 commented on #288
We are still using the "coupled" CPP. The main differences are the treatment of the sea surface tilt terms in the dynamics and where the forcing comes from data files or a coupler. There are some differences in the serial interface as well. The coupled models use MPIserial.

[2020-07-17 19:00] apcraig commented on #288
OK, I couldn't find the flag in a quick look at the CESM scripts.  Are you thinking of "coupled" or "CESMCOUPLED"?  I'm asking about "coupled".  It seems like we could convert the coupled flag to a few different namelist variables if we really do want to keep those features.  Is that how we should proceed?

[2020-07-17 19:17] eclare108213 commented on #288
@dabail10 thanks for the reminder of what the `coupled` cpp does.  @apcraig there are a few things in the code that are needed for stand-alone runs but should never be used in coupled mode, because the coupling physics is different or otherwise better.  The sea surface tilt terms are an example of that (it has to do with the Ekman spiral and the depth of the currents coming in from the ocean model

[2020-07-17 19:22] dabail10 commented on #288
We use both flags. The "coupled" are supposed to be more general to other coupled models. However, if other coupled models are not using it, then I would be fine with creating some namelist variables or using a different CPP flag. For the serial interface, I believe this has to be an ifdef, because the standalone serial interface is not compiled with MPI I believe.

For ice_dyn_shared.F90, we coul

[2020-07-17 21:43] apcraig commented on #288
Following up with some discussion in #490 here.  With regard to the coupled mods in the serial comm code, it would be good to clarify if it is ever used.  If the "serial MPI" is a separate library that serves as an MPI substitute for models that use MPI but need to run serially without MPI in some cases, then CICE does not benefit at all from having the serial MPI support built in.  CICE provides

[2020-07-17 21:46] dabail10 commented on #288
In terms of the "coupled" flag. I definitely think all of the drivers could be updated to remove the ifdef or ifndef as appropriate. So for the standalone driver, you just keep the code in the ifndef coupled. For the coupled drivers do the reverse. I think these date back to a time when we all used the same CICE_RunMod.F90, etc.

[2020-07-20 14:54] TillRasmussen commented on #288
A few comments on the coupled flag:
I think that the sea surface tilt should be a namelist parameter as Dave points to. It is similar to the ocean mixed parameter.
In the same routine. Is there a reason why we keep cosw and sinw as they are parameters set to c1/c0.

communicate: I don't think that the serial communicator should be allowed to use the mpi interface, thus I think that it should be de

[2020-07-20 18:57] phil-blain opened #492 "report_results.csh: clone Test-Results.wiki with `--depth=1`"
It would be nice if the `report_results.csh` script would allow using an already existing clone of Test-Results.wiki repo, and just fetch the latests commits instead of always cloning the full repo.

Or, if we stick of a full clone, just clone the latest commit (`--depth=1`) since we do not need the full history.

Also, it would be nice if there was an option to use the SSH url `git@github.com:CIC

[2020-07-20 22:37] dabail10 opened #493 "Bug in log output for atmbndy."
I believe this logic is incorrect for atmbndy.

         if (trim(atmbndy) == 'constant') then
            tmpstr2 = ': stability-based boundary layer'
            write(nu_diag,1012) ' highfreq         = ', highfreq,' high-frequency atmospheric coupling'
            write(nu_diag,1022) ' natmiter         = ', natmiter,' number of atmo boundary layer iterations'
            write(nu_diag,1006) ' a

[2020-07-20 22:49] eclare108213 commented on #493
Ok.  Maybe the next person who puts in a PR can fix this, or add it to a current one.

[2020-07-20 23:01] dabail10 commented on #493
I could do this, but I don't have a CICE PR coming up.

[2020-07-21 17:38] apcraig commented on #437
The coverage testing moved to lcov and output can be found here, https://apcraig.github.io/.

[2020-07-21 17:49] apcraig commented on #492
@phil-blain, what is the motivation for implementing a "shortcut" to the clone of the test-results wiki.  That takes a few seconds in my experience.  Having said that, I agree we don't need the full history and maybe setting --depth=1 would be an improvement.

With regard to the password, I've handled this for my logins by adding

[credential "https://github.com/CICE-Consortium/Test-Results.wiki.g

[2020-07-21 18:10] phil-blain commented on #492
I guess the motivation would be that as time passes the clone inevitably takes more and more time.  I think `--depth=1` is an easy and quick improvement.

I've never used any Git credential helpers, I always use SSH... Reading https://git-scm.com/docs/git-credential-store it appears your username and password are stored unencrypted on the filesystem, so I guess if you trust root on all systems tha

[2020-07-21 18:50] apcraig commented on #492
I agree there are questions of security, and it's something I think about.  I do think the ssh version has the same issues as the credentials.  I am inclined to stick with the current implementation and use credentials as the workaround.  Making ssh the default would create some extra work during setup.  And adding an ssh option to cice.setup seems to add complexity without a lot of benefit, but I

[2020-07-21 18:52] phil-blain commented on #492
Yes. I agree: no need to add complexity. I'll refocus the title of the issue to just mention `--depth=1`.

[2020-07-22 06:51] TillRasmussen commented on #288
We might consider to remove many of the ncdf/USE_NETCDF cpp flags as they are not needed. Most rutines call ice_open, ice_read ... and warn/abort if netcdf is not included. This can be fixed by adding a ncdf cpp flag in ice_open that aborts if not compiled with netcdf.
I will look at this when I am near a reasonable internet connection again.

[2020-07-22 16:19] apcraig commented on #288
@TillRasmussen, #490 does this to a large degree.  I tried to place the USE_NETCDF flags around the locations of the netcdf implementation and added several aborts there if USE_NETCDF is not set.  It's possible this could be further improved, but I think we're on the same page.

[2020-07-22 17:21] apcraig commented on #493
I'm fixing this in a PR now.  Just to clarify, the if tests just need to be switched?  The first if should be "default" and the second should be "constant"?

[2020-07-22 17:22] dabail10 commented on #493
That's correct. Thanks Tony.

[2020-07-22 17:27] apcraig commented on #486
Included in #480

[2020-07-22 17:27] #486 closed

[2020-07-22 17:36] apcraig commented on #484
Is this https://github.com/CICE-Consortium/Icepack/pull/328?

[2020-07-22 17:38] dabail10 commented on #484
Yes it is. I put the issue in the CICE Issues. Should it be in Icepack issues? I am currently working on running the QC tests with this fix.

[2020-07-22 17:38] apcraig commented on #482
Is this complete?  See https://github.com/CICE-Consortium/Icepack/pull/320 and #479.

[2020-07-22 17:39] #465 closed

[2020-07-22 17:41] dabail10 commented on #482
This is not complete. This is a different animal. I am wanting to send the broadband fswthru (not components) but for each category (fswthrun).

[2020-07-22 17:48] apcraig commented on #464
I think this is an interesting idea, although I'm not sure how widely it would be used.  Can we clarify requirements.  What happens when running a test or test suite, do you want the "user defaults" to always be applied?  This could create problems for test suites because you're changing the test suite by adding the user defaults and you'd probably always want to turn off that option.  Should this

[2020-07-22 17:53] phil-blain commented on #464
Good point. I think that applying it just for cases and tests, but not test suites, makes sense.

[2020-07-22 17:55] apcraig commented on #484
It could be in Icepack, but also fine here.  Glad to hear testing is proceeding, update the PR when you have some more results.  Thanks!

[2020-07-22 20:47] apcraig commented on #464
Proposing the file be called ~/.cice_set and the command line option to turn it off be --ignore_user_set.  Will only apply ~/.cice_set for cases and tests, not suites.  Any feeback on proposed names or implementation?  Using "set" because the command line option for the settings/options is --set (or -s).

[2020-07-22 20:53] apcraig commented on #464
Correction, proposed command line argument will be ignore-user-set (dashes instead of underscores).

[2020-07-23 04:42] apcraig commented on #243
#494 adds some new script warning messages when --set introduces conflicts in namelist or env variables.  It continues to process as always, but this should provide information that might allow us to avoid these conflicts in the future.

[2020-07-23 20:12] rallard77 commented on #437
Tony,

Your charts look great and are very intuitive.

Rick
On 7/21/2020 12:38 PM, Tony Craig wrote:

[2020-07-29 01:57] apcraig commented on #484
This was fixed in Icepack but has not yet been merged into CICE.

[2020-07-29 01:57] apcraig commented on #483
This has been fixed in Icepack but not yet update in CICE.

[2020-07-29 02:02] apcraig commented on #485
I think this is not #479, I think it's https://github.com/CICE-Consortium/Icepack/pull/326.  We need to create a CICE PR that updates Icepack, adds namelist to CICE, and adds calls to Icepack parameters to set the new Icepack variables.

[2020-07-31 16:27] apcraig commented on #464
Added in #494.

[2020-07-31 16:27] #464 closed

[2020-07-31 16:28] apcraig commented on #493
Fixed in #494

[2020-07-31 16:28] #493 closed

[2020-07-31 16:29] apcraig commented on #492
Added --depth=1 in #494 for git clone when used in test results reporting as well as in code coverage stuff.

[2020-07-31 16:38] apcraig commented on #288
I am going to close this.  I believe #490, #496, and https://github.com/CICE-Consortium/Icepack/pull/329 address this issue to a large degree.  We have cleaned up a number of CPPs and documented them.

I will open a new issue for the key_ CPPs that might get cleaned up as part of some DMI work.  There is also the CESMCOUPLED CPP that is evolving organically.

[2020-07-31 16:38] #288 closed

[2020-07-31 16:40] apcraig opened #498 "Update/Remove key_* CPPs"
Follow up from #288.

The following flags can be replaced by an optional mpi communicator input as it is done in driver nuopc/dmi
key_oasis3,
key_oasis3mct,
key_oasis4,
key_iomput,
This requires a very small change to the call to CICE Initialize from Nemo.

We may need to interact with external groups to move this forward.

[2020-08-13 20:05] #485 closed

[2020-08-13 20:06] #482 closed

[2020-08-13 20:39] phil-blain opened #501 "Improve colormap ticks for QC test generated figures"
I noticed that the third figure generated by the Python QC test (the difference between "base" and "test") could use a tweak so that the ticks of the colorbar appear in scientific notation, since these values are usually small.

Example:

![ice_thickness_daley_intel_smoke_gx3_8x1_medium_qc qc_minus_daley_intel_smoke_gx3_8x1_dynpicard_medium_qc qc](https://user-images.githubusercontent.com/44212482

[2020-08-16 12:20] DeniseWorthen opened #502 "debug regression test fails in ufs-s2s-model"
We are bringing CICE6 into ufs-s2s-model. One Regression test is the 6h debug test. We compile the entire coupled system in debug mode (components as well as esmf debug library). The test failed for cice6 with this error:
<img width="745" alt="Screen Shot 2020-08-15 at 6 32 27 PM" src="https://user-images.githubusercontent.com/40498404/90334067-df252d00-df98-11ea-96bf-b555d5da9157.png">

We had pr

[2020-08-17 08:59] TillRasmussen opened #503 "bug in icepack_therm_mushy"
In icepack_therm_mushy dt_rhoi_hlyr (line 261) is defined and used but there is no value set. This results in a warning.

Should it be defined as in CICE/icepack/columnphysics/icepack_therm_bl99.F90 ?

dt_rhoi_hlyr = dt / (rhoi*hilyr)  ! hilyr > 0

[2020-08-17 11:15] TillRasmussen opened #504 "warning ice_init_column.F90"
compiler complains that sicen don't have a value when used in cicecore/shared/ice_init_column.F90 line 936 . It is set to a private value  in the openmp loope (line 894). Are sicen and trcrn_bgc suppose to be declared as private?

[2020-08-17 14:31] rgrumbine opened #505 "Shared sea ice model performance metrics"
A starting point for consideration is at https://github.com/rgrumbine/ice_scoring

This is organized largely by parameter to be examined -- concentration field, ice edge, ice drift being the most developed.

[2020-08-17 15:11] mattdturner commented on #501
@phil-blain I just created a PR to address this (#506 )

[2020-08-17 15:21] dabail10 commented on #503
Good catch here as well. I copied the code from icepack_therm_bl99.F90, but likely forgot this. I will fix it.

[2020-08-17 15:22] dabail10 commented on #502
Ok. I will fix this in CICE6 as well. Good catch.

[2020-08-18 20:10] dabail10 commented on #502
I'm not sure your fix is the best way to go. Can you post some details of the configuration of the test that is failing? Is it ncat=1? How is your ITD set up here? This is in the ice log file. Look for hin_max here.

[2020-08-18 20:14] DeniseWorthen commented on #502
Let me get it repeated on Hera and I can provide both the information and a run directory for you to look at.

[2020-08-18 21:42] DeniseWorthen commented on #502
There is a run directory on Hera:

/scratch1/NCEPDEV/stmp2/Denise.Worthen/S2S_RT/rt_199411/cpld_fv3_ccpp_mom6_cice_cmeps_cold_debug

The output log is in "out" and the err in "err".

This is our "cold start" run, using a C96 atm and the 1/4 degree MOM6+CICE5, so the we're just starting up from initial conditions in a sequential run sequence.

We are using the restart file generated from CFSR (usin

[2020-08-19 16:26] eclare108213 commented on #249
An agenda and cursory notes from this morning's meeting to discuss the next steps in the JRA-55 transition are
[here](https://docs.google.com/document/d/1An1-ZqlU_lyf84_qkJmyErUKnUDTy8aukvqyOtWCAWE/edit?usp=sharing) with a list of [action items](https://docs.google.com/document/d/1An1-ZqlU_lyf84_qkJmyErUKnUDTy8aukvqyOtWCAWE/edit#bookmark=id.tlj77rsfp3f7).

One thing we didn't discuss is what confi

[2020-08-19 16:33] dabail10 commented on #249
I personally think we should just use the default namelist configuration.

[2020-08-19 18:25] dabail10 commented on #502
Great, thanks. Here is the fix I would propose for this:

             denom = max(puny,hicen_init(n+1) - hicen_init(n))
             slope = (dhicen(n+1) - dhicen(n)) / denom

where denom is a new variable. This limits the situation as denom goes to zero.

[2020-08-19 22:14] DeniseWorthen commented on #502
Hi Dave,

I made your change [here](https://github.com/CICE-Consortium/Icepack/compare/master...DeniseWorthen:feature/cice6debug)  and it passes our debug regression test so I'm happy with it. I only left out the description of the denom variable in the declaration. Any suggestions?

[2020-08-19 22:28] dabail10 commented on #502
It is the denominator for computing the slope in the hbnew calculation.

[2020-08-19 22:31] DeniseWorthen commented on #502
I thought there might have been specific rules for describing variables (like w/ MOM6).

[2020-08-19 22:38] dabail10 commented on #502
Oh no. This is what I am submitting in the PR:

         denom        , & ! denominator in hbnew calculation

[2020-08-19 22:41] DeniseWorthen commented on #502
Do you need me to change anything? Sounds like you'll PR from your own fork.

[2020-08-19 22:46] dabail10 commented on #502
I will send the PR to the CICE Consortium and you can update from there. Thanks for testing it though.

[2020-08-24 13:31] phil-blain commented on #501
#506 mas merged, closing this.

[2020-08-24 13:32] #501 closed

[2020-08-25 19:19] JFLemieux73 opened #509 "Doc for box2001"
The doc says that coriolis=0 for this test case. It should be f=1.46e-4. I am testing this right now and the code is fine and consistent with Hunke 2001.

[2020-08-25 19:31] phil-blain commented on #509
Indeed, the option file for `box2001` has `coriolis = 'constant'` :

https://github.com/CICE-Consortium/CICE/blob/e5ff1f2431ff2df5acbe132c88de9cdb027f4f16/configuration/scripts/options/set_nml.box2001#L22

and this is hardcoded to 1.46e-4:
https://github.com/CICE-Consortium/CICE/blob/e5ff1f2431ff2df5acbe132c88de9cdb027f4f16/cicecore/cicedynB/dynamics/ice_dyn_shared.F90#L172-L173

I can do a quick

[2020-08-25 19:47] JFLemieux73 commented on #509
Please do.

[2020-08-26 15:58] #509 closed

[2020-08-26 20:39] phil-blain opened #512 "Uninitialized value in bgcsklclim and bgczclim restart tests"
I've stumbled upon an uninitialized value in the forcing code. I'm creating a test with
[code]
to replicate the bgc test in the base_suite, but in debug mode. I'm compiling with these flags: (`Macros.daley_intel`)
[code]

and I get a "floating invalid".  Here is the backtrace from the core dump:
[code]

The error is due to this line:

https://github.com/CICE-Consortium/CICE/blob/819eeddaacdd354c35

[2020-08-26 20:43] phil-blain commented on #512
Note that this also happens in serial (`-p 1x1`).

[2020-08-26 21:12] eclare108213 commented on #512
Good catch @phil-blain !  I might have created this problem when we created and/or changed the Icepack interfaces -- the BGC code was difficult to isolate, and we've never had comprehensive tests for it.  I wonder if it is possible to move the BGC initialization later in the code, after the parameter has been defined... or it might make more sense to define ftime earlier, since it's being used mor

[2020-09-18 21:21] TillRasmussen opened #514 "Boundary conditions"
Boundary conditons for regional domains are missing.

[2020-09-23 16:49] JFLemieux73 opened #516 "Wind stress components are not multiplied by aiu in box2001 experiment"
I am running a 'modified' box2001 exp for a special project (I have turned on advection and ridging compared to the standard box2001 exp). The model crashes. I think this is due to the fact that strairx and strairy are not multiplied by aiu (aice at u-point). Note that the components of the water stress are correctly multiplied by aiu.

[2020-09-23 19:52] JFLemieux73 commented on #516
We should also check other experiments with calc_strair = .false.

[2020-09-25 17:58] apcraig opened #518 "VP exact restart and other nonBFB problems"
See also #491.

I ran a decomp test suite with evp, eap, and vp-picard.  I did not test vp-anderson as that is not ready to use out of the box.  Below are the results.  evp and eap pass all tests with the various decomps.  However, vp-picard is more of a mixed bag.  Some configurations don't run at all and some don't restart exactly.  The test suite is running the same tests just changing the dyna

[2020-09-25 18:30] phil-blain commented on #518
/cc @JFLemieux73

[2020-09-28 14:02] phil-blain commented on #518
I will try to take a look at some of those this week.

[2020-09-29 23:49] apcraig commented on #461
The intel problem was repeated on Orion using the same problem.  This truly does seem to be a compiler bug.  We should consider implementing the work around.

[2020-09-30 19:20] dabail10 commented on #461
I thought initially that orion did not have the issue with Intel20? Do we know what changed? I see that cheyenne has not moved to intel 20 yet, so perhaps there will be a compiler fix in the next update to intel 20?

[2020-09-30 19:36] jedwards4b commented on #461
Just reading through this - did you try adjusting the OMP_STACKSIZE variable?

[2020-09-30 21:03] dabail10 commented on #461
I just tried OMP_STACKSIZE of 256M and 1024M. Neither did anything for this.

[2020-10-06 20:57] dabail10 commented on #334
I know we closed this, but I just talked to the CESM software engineers about this. Basically, we are at 2003 at this point. It is robustly supported by the main compilers that we routinely test with (intel, nag, gnu, and pgi). There have been a few snags with some f03 features not supported properly or buggy, but in general it is mostly robust. We won't be moving to 2008 until that is fully suppo

[2020-10-06 21:05] dabail10 commented on #461
We just talked about this at the CSEG meeting. There was a lot of pushback claiming it is the CICE code and not intel20. There are three tests that fail for CESM2 on izumi with intel 20. Two of these are failing at the same place in ice_transport_remap.F90 and this is the CICE5 code base. One of the tests is actually failing in POP. Jim Edwards has offered to help us debug this, but we need to com

[2020-10-06 21:35] apcraig commented on #461
Thanks for the info @dabail10.  It certainly could be an issue with the CICE implementation.  It's just odd that this code has existed for 10 years or more and has been run on probably hundreds of different compilers and compiler versions over that time and none has had a problem until this version of intel20.  I have spent some time debugging and have a workaround/fix in my back pocket that migra

[2020-10-06 21:57] #503 closed

[2020-10-06 21:58] #502 closed

[2020-10-06 22:14] eclare108213 opened #519 "test one-category configurations without the delta-function ITD to see if they run"
Deprecating the delta-function ice thickness distribution is on hold, since it may be needed for one-category runs.  These simple tests could be run in CICE or possibly Icepack.  If they do run, we could go ahead and deprecate the delta-function ITD, otherwise we'll keep it.

[2020-10-07 14:46] rallard77 commented on #481
[JRA55_CICE6_Retrievals.docx](https://github.com/CICE-Consortium/CICE/files/5341495/JRA55_CICE6_Retrievals.docx)
Here is documentation on how to retrieve JRA55 file for use in CICE. Let me know if the documentation is clear. If someone wants to try downloading a dataset, that would be great.
The second part of the documentation will provide information and a Python script on interpolating the data

[2020-10-09 15:51] DeniseWorthen opened #520 "for grid_type=tripole, ice_init prints garbage for ns_boundary_type"
When ice_init finds ``grid_type=tripole``, it next tries to document the ``ns_boundary_type`` as being either on the U or T grid points. It does this by writing the ns_boundary_type variable as ``tmpstr2``. This variable does not seem to have been set at this point however, because it prints a garbage character string.

[2020-10-13 13:04] JFLemieux73 commented on #516
@eclare108213 I would need your input before I try to fix this issue.

I think the best place to fix this is in dyn_prep2. It could be something like:

if (trim(atm_data_type) == 'box2001') then
  forcex(i,j) = aiu(i,j)*strairx(i,j) + strtltx(i,j)
  forcey(i,j) = aiu(i,j)*strairy(i,j) + strtlty(i,j)
else
  forcex(i,j) = strairx(i,j) + strtltx(i,j) ! strairx and strairy already include aiu
  forcey

[2020-10-13 17:42] eclare108213 commented on #516
@JFLemieux73 thanks for following up.  In my opinion, our variables should always mean the same thing, not change during a calculation or mean different things for different configurations.  I know the code already has some of these problems, and there's an issue flagging some of them.  This question is only partly rhetorical:  can we begin to fix them now, or does it make the most sense to kludge

[2020-10-13 20:59] phil-blain opened #521 "Unelegant crash writing initial condition when 'histfreq' is more frequent then any 'f_*' output variable"
I noticed that if I change `histfreq` to `d` or `1` in the namelist, and I don't change nothing else from the defaults (i.e. all `f_*` output variables are either set to `'m'` or `'x'`), then  the model crashes very inelegantly in `accum_hist` when called in `cice_init` to write the initial condition.

Here is the backtrace from the Intel compiler runtime (code compiled with `-traceback`):

[code]

[2020-10-14 08:09] TillRasmussen commented on #516
@eclare108213 @JFLemieux73 Would it be more natural to put it in the get_forcing
When is ktherm < 0. Does that disable thermodynamics?
Would it be natural to make this adjustment in prepare forcing (ice_forcing.F90)? and leave corrections like that out of the evp method?

[2020-10-14 12:46] JFLemieux73 commented on #516
Thanks @eclare108213 and @TillRasmussen. Yes if ktherm<0 then thermodynamic is disable. The problem is that merge_fluxes is not called neither (the strair are summed for all the partial concentrations in merge_fluxes). To solve this issue we need to take care of calc_strair, ktherm and the specific experiments. I will investigate more and get back to you.

[2020-10-15 16:40] eclare108213 commented on #516
I see.  Having the strair calculation in the thermodynamics has always been a problem when running dynamics-only tests.  The best solution for this type of configuration, in my opinion, would be to create all of the forcing in ice_forcing.F90.  There could be a special routine there that takes care of what the thermo would normally do, or if the code is small, include it in existing routines.  Sin

[2020-10-15 19:50] dabail10 commented on #521
I'll take responsibility for this one.

[2020-10-16 16:32] phil-blain opened #523 "Consider distributing useful shell aliases/functions with the repo"
Following the discussion we had earlier this year about the useful `cdrun`/`cdcase` shell aliases that are now [documented](https://cice-consortium-cice.readthedocs.io/en/latest/user_guide/ug_running.html#overview), I'd like to share additional aliases and functions that I'm using. These are mostly for Bash but could be easily converted to csh syntax.

I was also thinking that we could, if we wish

[2020-10-16 17:10] eclare108213 commented on #523
Many of these look very useful.  Others, like changing the number of processors, might be confusing to users - wouldn't we want them to just create a new case for that?

[2020-10-21 17:46] phil-blain opened #524 "'decomp' test does not thoroughly check the return code of 'bfbcomp.csh'"
While investigating a failing 'decomp' test in a base_suite run from @JFLemieux73 for an upcoming PR, I noticed that the error-checking in the 'decomp' test script could use some hardening. Here is the part of the script that runs the `bfbcompare.csh` script:

https://github.com/CICE-Consortium/CICE/blob/0ac4cd9cc2934742d04187527d9ba258d3360cfe/configuration/scripts/tests/test_decomp.script#L74-L8

[2020-10-22 16:33] apcraig commented on #516
See #525

Should this now be closed?

[2020-10-22 16:37] #516 closed

[2020-10-22 17:48] apcraig commented on #523
I have somewhat mixed feelings about putting these scripts in the repository for a few reasons, mostly related to general usefulness and maintenance.  But I don't have a problem adding some of this to the documentation.  Maybe we should create a new section in the documentation called something like "Useful Shell Aliases" or something?

[2020-10-22 19:07] phil-blain commented on #524
I also realized that the decomp test is not re-runnable, because the `restart.${decomp}` folders are not cleaned up at the beginning of the test script.

In fact this was why the test was failing in the first place; JF had mistakenly launched the suite several times, and the third time the  `mv -f` step failed because the destination was not empty (a little hard to explain but you'll see what I me

[2020-10-22 19:20] apcraig commented on #524
For the major tests (restart, smoke, etc), I have tried to build tests that were rerunable.  That is not always easy and not as easy with the decomp test.   I always though rerunable tests were a feature, not a requirement, but maybe we should change that.

My general strategy is not to rerun.  Generally, I'll run a test suite and then if something fails, I'll setup a standalone case that duplicat

[2020-10-22 19:27] phil-blain commented on #523
Yes, I agree, just in the doc would be good. Or, in the wiki somewhere, though I tend to prefer in the doc.

A new section would be good, I think.

[2020-10-22 19:30] phil-blain commented on #524
I agree, it's more of a nice-to-have to be re-runnable.

I tend to use the same strategy.

In the case of the decomp test, I think just improving the error checking should be sufficient.

[2020-10-26 21:33] TillRasmussen commented on #279
@apcraig The tx1 test case is set to exit within the 1d solver as the conversion from 2d to 1d and vice versa is not tested for tripole grids

[2020-10-26 22:08] mhrib commented on #279
@TillRasmussen and @apcraig : The 1d solver will not work correctly for tripole grids (given correct results). That's why it exit with an error.
If it have to work for tripole grids, the subroutine calc_halo_parent have to be modified.
Rgs
Mads

[2020-10-26 22:11] apcraig commented on #279
tripole is not the issue.  It's fine that it's not working for those grids.  I think I knew that and did not raise it as a concern.  All the documented problems are for non-tripole grids.  gx1 and gx3 are not tripole grids.

[2020-10-26 22:26] TillRasmussen commented on #279
@apcraig @mhrib I agree it shouid work for the others (gx1 and gx3).

[2020-10-26 23:51] apcraig commented on #279
I just ran a full test suite with kevp_kernel = 102 set in ice_in on cheyenne with the intel compiler.  I compared to this weekend's full test suite which passes all tests.  The evp1d results are here,

https://github.com/CICE-Consortium/Test-Results/wiki/922b998005.cheyenne.intel.20-10-26.221713.0

and for comparison, the baseline results are

https://github.com/CICE-Consortium/Test-Results/wiki/

[2020-10-29 20:39] dabail10 opened #527 "use_restart_time and runtype = 'continue'"
This is not working as it should in the CESM driver for CICE6. I'm not sure where there is a conditional to make sure that the restart time from the file should be used on a continue run?

[2020-10-29 21:13] apcraig commented on #527
I assume this is in the nuopc cap?  I think it's working fine in the mct/cesm1 cap with RASM, although maybe I should review that again.  It does restart exactly.  Could the issue be in the cap?

[2020-10-29 21:18] dabail10 commented on #527
I agree that it is likely in the cap, but I can't find where these flags interact if at all. In io_pio2/ice_restart.F90, it checks only the use_restart_time flag and not the runtype string. I was thinking there would be a line like:

if (trim(runtype) == 'continue') use_restart_time = .true.

However, I cannot find this anywhere.

[2020-10-29 21:31] dabail10 commented on #527
It appears that the scripts change the ice_in namelist on a continue run. So, the scripts appear to change the restart and use_restart_time flags. I think we need this to happen in the code.

[2020-11-09 14:55] phil-blain opened #529 "Improve doc for running on personal computers"
This is prompted by [this recent question](https://bb.cgd.ucar.edu/cesm/threads/problem-running-icepack-on-mac-icc-command.5701/) on the forum.

I think we could make a few minor changes in the doc to make it more beginner-friendly:
1. We could rename the section "Porting to Laptop or Personal Computers" to "Running on Laptop or Personal Computers" to make it clearer
2. We should add a link to thi

[2020-11-10 17:16] eclare108213 commented on #529
I agree it's a good idea to include a link for the conda instructions to the quickstart.  I'm ambivalent about "porting" versus "running", since running might also include the need to port but doesn't have to.

[2020-11-10 17:19] eclare108213 commented on #527
When you say "we need this to happen in the code" do you mean in the NUOPC code or in the main sea ice code?

[2020-11-10 17:32] eclare108213 commented on #523
I like the idea of adding these to the doc.  If others request it, we could consider making a 'helpers' script later, although I think that could become confusing and more difficult to document and maintain.

[2020-11-12 15:03] JFLemieux73 commented on #519
@eclare108213,

I am going to use box2001 for this. By default we have:

kridge          = -1
ktransport      = -1

Is it what we want for these tests? I guess ridging does not make sense with only one category...

[2020-11-12 15:57] eclare108213 commented on #519
It's probably sufficient to test only with thermodynamics, provided you get enough ice growth/melt to change the category that the ice is in.  Please also try it with the ridging and transport turned on.  Even with one category, the ridging code still acts to maintain aice <= 1.

[2020-11-12 16:03] JFLemieux73 commented on #519
How do you suggest I test thermodynamics?  Box2001 would not work.

[2020-11-12 16:06] eclare108213 commented on #519
Good point.  In that case then just turn on ridging and transport...  If this doesn't work out, I'll set up a gx3 test to do it.  Thanks

[2020-11-12 19:13] apcraig commented on #527
I think this will probably be in the cap used by CESM.  It sounds like the CESM scripts were modifying the CICE namelist to make this happen, and Dave is proposing this be inside the code in the future.  Do I understand that correctly?

With standalone testing, we modify the namelist and change runtype='iniitial' and use_restart_time=.false. to "continue" and .true..  We also set restart=.true. on

[2020-11-12 19:19] apcraig commented on #472
Pstar and Cstar have been added with #475.  floediam and hfrazilmin require an update to Icepack parameters interface then a call from CICE.

[2020-11-12 19:33] apcraig commented on #529
I would keep the "Laptop or Personal Computer" more in Porting rather than Running.   Ultimately, how you run is no different on Laptops or HPC platforms.  But the porting is a little different.  Although with laptops/PCs, you can still have some traditional porting issues.

I could see pulling out the two Porting Sections under "Running CICE" and creating a section called "Porting CICE".  I guess

[2020-11-13 00:04] dabail10 commented on #527
I could certainly do this in the CAP, but I still think that runtype = 'continue' should override settings to use_restart_time and restart. My understanding of use_restart_time and restart is only meant to be there for runtype = 'initial'. For the tracers we have restart_* flags, which have this in the standalone CAP:

if (trim(runtype) == 'continue') restart_FY = .true.

This logic is also in the

[2020-11-13 16:14] JFLemieux73 commented on #519
I set ncat=1. I had to comment abort_list = trim(abort_list)//":4" in ice_init.F90 for it to work.

It is not clear to me what should be the value of kcatbound when ncat=1. Anyway here are the exps I tried:

exp1:
kridge=-1, ktransport=-1, kcatbound=0 ... PASS

exp2:
kridge=1, ktransport=1, kcatbound=0 ... PASS

exp3:
kridge=1, ktransport=1, kcatbound=-1 ... PASS

All the tests pass.

[2020-11-13 16:45] eclare108213 commented on #519
Excellent.  Please, would you attach the diagnostic output files here, for each of those tests?  Thanks!

[2020-11-13 18:42] JFLemieux73 commented on #519
You mean the cice.runlog files?

[2020-11-13 18:48] eclare108213 commented on #519
yep

[2020-11-13 19:10] JFLemieux73 commented on #519
EXP 1 (kridge=-1, ktransport=-1, kcatbound=0)
[cice.runlog.201113-185039_EXP1.txt](https://github.com/CICE-Consortium/CICE/files/5538853/cice.runlog.201113-185039_EXP1.txt)

EXP2 (kridge=1, ktransport=1, kcatbound=0)
[cice.runlog.201113-185323_EXP2.txt](https://github.com/CICE-Consortium/CICE/files/5538858/cice.runlog.201113-185323_EXP2.txt)

EXP3 (kridge=1, ktransport=1, kcatbound=-1)
[cice.runlo

[2020-11-13 20:40] eclare108213 commented on #481
Was there a decision on what to do about the initialization?

[2020-11-13 21:06] eclare108213 commented on #249
@dabail10 @rallard77 @daveh150 @apcraig @rgrumbine

Per yesterday's meeting notes:

Action:  Elizabeth will schedule a series of meetings to coordinate this effort.

I propose that we use the **_Thursday 2 pm MT time slot for the next month_** (not Thanksgiving) to work through some aspects of this effort.  **_Would that work for all of you?_**  I’m hoping that we could do this in a few joint meet

[2020-11-13 21:34] rallard77 commented on #249
Elizabeth,

This sounds reasonable. I should be able to make the Nov 19 meeting.

Rick

On 11/13/2020 3:06 PM, Elizabeth Hunke wrote:

[2020-11-13 21:36] dabail10 commented on #249
I can make the Nov 19 meeting as well.

[2020-11-20 20:12] apcraig opened #531 "Unit Testing"
We will want unit testing for our new time manager.  We may also want to add unit testing for other infrastructure interfaces where a simple driver can be created to test the interfaces outside of CICE.  The question is how to best do that.  There are many tools that facilitate unit testing.

One relatively inelegant but familiar way would be to create unit test drivers in Fortran that would build

[2020-11-20 21:40] apcraig commented on #504
This seems to have been corrected by @TillRasmussen on Aug 26 2020 with #507.

[2020-11-20 21:40] #504 closed

[2020-11-23 14:58] rgrumbine commented on #249
I was on vacation, but will be catching up. The Dec 4-10 homework should be good. Look for emails.

[2020-11-23 18:28] phil-blain commented on #531
I was going to suggest pFUnit before skimming the CESM tutorial and seeing that's what they use. [Looking at the pFUnit README](https://github.com/Goddard-Fortran-Ecosystem/pFUnit#using-pfunit-in-a-gnu-make-project), it seems we could use it without major changes to our build system, which is good.

I definitely think that we should use an existing framework for unit testing instead of writing som

[2020-11-23 20:24] eclare108213 commented on #519
The code runs in all of these cases, but I'm not sure what it's actually doing.  Until that's understood, I don't think we should deprecate the delta-function ITD (kitd=0).  For completeness in this discussion, I'll note that the following appears in all of the log files:

On a different subject:  Why is `arwt heat error` so big in these runs?

[2020-11-24 00:38] apcraig commented on #472
Icepack is updated, https://github.com/CICE-Consortium/Icepack/pull/342, will now work on CICE.

[2020-11-24 01:57] apcraig commented on #529
I updated the quickstart guide in #532.  I will close this for now, but if anyone things there is more to do, please reopen.

[2020-11-24 01:57] #529 closed

[2020-11-24 01:58] apcraig commented on #524
The bfbcomp check has been updated in #532.  Rerunability of the decomp test is an outstanding low priority issue, but would propose we defer and close this for now.    If anyone wants to reopen, please do.

[2020-11-24 01:58] #524 closed

[2020-11-24 01:59] apcraig commented on #520
This is fixed in #532.

[2020-11-24 01:59] #520 closed

[2020-11-24 02:00] apcraig commented on #523
A new section was added to the user guide to provide some examples of aliases.  This can evolve over time, but will close this for now.

[2020-11-24 02:00] #523 closed

[2020-11-24 02:03] apcraig commented on #498
The key_ CPPs were removed in #532 in code and documentation.  This might affect some applications, but that is spelled out in the release notes.  The better implementation is to pass the MPI communicator thru the init_communicate interface.  These key_ CPPs were pulling that variable into init_communicate via a use statement.

[2020-11-24 02:03] #498 closed

[2020-11-24 17:32] eclare108213 commented on #437
@CICE-Consortium/devteam
I have gone through the worst offenders in the code (modules highlighted red in the [lcov output](https://apcraig.github.io/lcov_cice_201120-001611:d95a4f35ee:7:first,base,travis,decomp,reprosum,io,quick/index.html)) and made notes for the things  we could test better in a [spreadsheet](https://docs.google.com/spreadsheets/d/12tIfm5OzvzH_LF_ie9WbOn_w5aY1hv4SrqTQQ8bqM-s/edi

[2020-11-24 20:07] apcraig commented on #249
It looks like use_leap_years is true for the JRA55 forcing configurations.  I don't have a lot of confidence in that option, but maybe others do.  The new time manager will carefully test leap and no leap capabilities but that's not ready yet.  We should make sure the calendar, forcing, and model are behaving properly over time and especially across leap days when we do longer runs using the JRA55

[2020-11-24 20:10] phil-blain commented on #249
@apcraig regarding leap years: we have #343 already opened (just a reminder in case you did not recall that one)

[2020-11-24 20:18] apcraig commented on #249
#343 is partly why I don't have much confidence in the leap calendar.  Two things have to work.  The CICE time manager has to handle the leap calendar properly.  That means dealing with changing number of days per year, timestep counts, restart dates, and all the rest.  The second is that reading the forcing has to work.  Does the CICE calendar have to match the forcing calendar?  Can the CICE cal

[2020-11-24 20:19] phil-blain commented on #249
No, everything is not sorted out - I debugged a little bit an came to the conclusion that it was better if this issue was investigated thoroughly when the time manager is overhauled.

[2020-11-24 21:11] phil-blain commented on #437
@eclare108213 it is on my list to test the implicit solver more thoroughly, and under more configurations. So I'm OK with all of the items you've assigned @JFLemieux73 and me in that spreadsheet. I don't know when I'll get to it then - most likely Q1 2121.

[2020-11-26 00:10] eclare108213 opened #534 "updates needed for verbose diagnostic output"
I have scanned the [‘verbose’ output](https://github.com/CICE-Consortium/CICE/pull/468) in the log files for base_suite.  Here are some suggested updates:

- [x] move bathymetry_format one space to the left
- [x] kevp_kernel=0 should be labeled “original EVP solver”, correct?  And the other value (in alt01) is “vectorized EVP solver”?
- [x] do we need both “advection” and “ktransport” once upwind

[2020-11-26 00:20] eclare108213 commented on #437
I have scanned the [‘verbose’ output](https://github.com/CICE-Consortium/CICE/pull/468) in the log files for base_suite in my fork/master. Here are physically inconsistent settings with suggestions for improving them.  I haven't throughly studied @apcraig 's code coverage spreadsheet yet, and I'm still waiting for my base_suite run from https://github.com/CICE-Consortium/CICE/pull/533 to clear the

[2020-11-26 14:20] JFLemieux73 commented on #267
I know I said before we should deprecate upwind but I have changed my mind. I am involved in an intercomparison project where we do idealized experiments (similar to box2001). My colleagues just asked me to do a run with upwind...I think it would be a good idea to keep for this kind of idealized experiments.

[2020-11-28 19:04] eclare108213 commented on #267
@JFLemieux73 we can certainly keep the upwind functionality, but the issue with the tracers remains.  I suggest that we revert the changes in #508 and make sure there is an abort if there are any tracers other than those that upwind is able to advect (e.g. by checking that ntrcr is not larger than the number of required tracers).  I've updated the [code deprecation list](https://github.com/CICE-Co

[2020-11-30 20:31] apcraig commented on #267
I will create a PR to revert #508 and to add a check on ntrcr.  Can someone clarify what that check should be?  I will also try to figure it out.

[2020-11-30 21:19] eclare108213 commented on #267
Thank you @apcraig. I was thinking that we could just check that ntrcr is less than or equal to the number of required tracers.  But looking at the upwind advection routines, it's more complicated than that.  The issue lies in the routines state_to_work and work_to_state, which load and unload arrays to be advected.  It looks like work_to_state is probably okay. In state_to_work, the question is w

[2020-11-30 22:30] apcraig commented on #267
I'm trying to understand the upwind, it looks like overall, fields are copied into works (state_to_work), then upwind_field is called, then works is copied back out to the fields (work_to_state).  upwind_field seems to operate on each field, one at a time, and there is no dependence on the order of the fields or on trcr_depend.  What is packed and unpacked are combinations of fields.  work_to_stat

[2020-11-30 23:40] eclare108213 commented on #267
You're on the right track.

Yes, I think this is the best approach.  Then:

Maybe.  This is done properly for the incremental remapping advection.  If we do the same thing for upwind, then a new routine might makes sense, but it might be possible to just mimic what's done for remap using the existing routines (e.g. state_to tracers, etc).

[2020-11-30 23:55] apcraig commented on #267
I saw state_to_tracer and tracer_to_state.  If it makes sense to mimic those, I like that idea.

I will run the test suite on the reverted sandbox and then create a PR.  Then I can play with the update of the upwind implementation and we can discuss further.

[2020-12-02 00:03] eclare108213 commented on #437
I looked at time series plots for the alt02, alt04 and alt05 base_suite tests as part of the testing review in [#533](https://github.com/CICE-Consortium/CICE/pull/533).  They have some of the same problems as those described there for the 90-day gx3 and gx1 runs, many of which may just be issues with either the diagnostics or the plotting scripts.   In particular, the ice salinity values in alt04

[2020-12-03 02:04] eclare108213 opened #537 "move shortwave parameters from thermo namelist to shortwave namelist"
sw_redist, sw_frac and sw_dtemp are in the wrong namelist, in both CICE and Icepack

[2020-12-03 02:25] eclare108213 commented on #472
CICE is updated, #536

[2020-12-03 02:25] #472 closed

[2020-12-03 02:59] eclare108213 commented on #527
The table explaining the restart and runtype combinations in the online documentation is missing a header...  I've attached a screenshot from the old pdf docs below.  It says that if runtype is 'continue', then restart will be set to 'true' if it isn't already.   There are a couple other resets noted in the table.  It's possible that we lost these when we cleaned up the namelist conflict checking

[2020-12-03 20:24] eclare108213 commented on #267
Now that upwind has be de-deprecated, we still have this tracer issue.  @apcraig and I took a look at it earlier today, and the essential issue is how the tracer arrays are loaded into work arrays that are advected.  Remap expects them in a different form than upwind does.  I think it's fine to have separate routines to load them for each type of advection, but they should follow the same generic

[2020-12-03 22:55] eclare108213 commented on #505
@rgrumbine Here is the paper I mentioned in the meeting today:
Urrego-Blanco, J. R., E. C. Hunke, N. M. Urban, N. Jeffery, A. K. Turner, J. R. Langenbrunner, and J. M. Booker (2017), Validation of sea ice models using an uncertainty-based distance metric for multiple model variables, J. Geophys. Res. Oceans, 122, doi:10.1002/2016JC012602.?

[2020-12-07 16:12] eclare108213 opened #538 "timeseries plotting errors"
The timeseries plotter appears to be picking up values that it should not.

These issues were noted in #533, for nonstandard plots (so the problem might be my editing of the timeseries script, rather than a problem originally in the script).  They occur with all types of forcing (JRA, CORE, NCARbulk).  I'm attaching two examples, one for sst and one for the area-weighted total energy plots.
[examp

[2020-12-07 17:00] mattdturner commented on #538
@rallard77 Had contacted me last week about a similar issue.  I think I have a quick fix for both the `timeseries.csh` and `timeseries.py` scripts that should resolve the issue with these fields.  I'm testing it now, and will create a PR once I'm satisfied with the change.

A while back I briefly tried adding an option to allow users to pass variables as command line arguments.  I forget the issue

[2020-12-07 21:54] apcraig commented on #534
Working on a branch called swnml to fix these issue.  Many are straight-forward.  I have a sandbox and will create a PR soon to support further discussion.  A few questions,

- "verbose diagnostics are incomplete".  Are there some obvious things we know we need to add?  The alternative is to go thru all the namelist and figure out which we're not writing out.  Suggestions?

- The vp namelist were

[2020-12-07 22:10] eclare108213 commented on #534
Cool, thanks.

This is not necessarily something we need to fix right away, but if it's easy then we could make some headway.  I noticed it because I was only reading through the verbose diagnostics section of the log files when checking whether the various base_suite settings made sense with one another, and in some cases, there was no indication in that section of what the test was doing - it on

[2020-12-07 23:31] apcraig commented on #534
There is a draft PR, #540 with these changes.  I am testing now.  But I am also happy to make additional changes.

With regard to the "verbose diagnostics incomplete".  It sounds like it might be helpful to put a * (or something) next to namelist that are not set at default values.  That would take quite a bit of work and I think should be a standalone effort.  Or am I missing the point?

The vp o

[2020-12-08 16:53] dabail10 commented on #537
I am fine with this, however I put it in the thermo namelist as this is where the code is (ice_therm_vertical.F90).

[2020-12-08 17:26] eclare108213 commented on #537
Thanks for the explanation @dabail10.  I generally think of the namelist sections as capabilities rather than locations in the code, since some capabilities are spread out in many places.  Radiation is one of those...  Of course, the dEdd_algae parameter is in the BGC namelist.  It's a complex, highly intertwined system!

[2020-12-10 14:31] rgrumbine commented on #505
Excellent! I've done a quick glance through, and it doesn't look like there would be any difficulty in adapting/adding this measure in to the setup I already have.

Particularly important/useful is considering the Pareto front. Mention of that also puts me in mind of evolutionary methods for multiobjective optimisation.

For ice drift/motion evaluation, I considered 13 different measures in https:

[2020-12-11 17:27] eclare108213 commented on #437
These issues have been addressed.

**Additional notes** (also in the [spreadsheet](https://docs.google.com/spreadsheets/d/12tIfm5OzvzH_LF_ie9WbOn_w5aY1hv4SrqTQQ8bqM-s/edit#gid=2031593756)):

`ocn_freezing_temperature`
This is only called if ocn_data_type='clim', which is only available for gx3.  However the data files are only fortran-unformatted and not available in our input file downloads (e.g.

[2020-12-11 17:49] apcraig opened #541 "Remove/fix close_boundaries and update box2001 and boxslotcyc tests"
The close_boundaries option does not work.  This option needs to be fixed or removed.  Currently, box2001 and boxslotcyc use close_boundaries and turning that option off changes answers, so it will continue to live in the code until some decisions are taken.  See also #540.

[2020-12-11 19:43] apcraig opened #542 "Refactor upwind advection tracer arrays"
This is a follow up from #535.  When upwind advection was un-deprecated, some questions were raised about the correctness of the implementation, particularly whether all the proper arrays were being advected as a result of the state_to_work and work_to_state implementation.  Ultimately, the same arrays should be advected as in the remap, and we are confident that remap is doing it correctly.  The

[2020-12-11 22:19] #538 closed

[2020-12-11 22:19] #537 closed

[2020-12-11 22:20] #534 closed

[2020-12-11 23:59] eclare108213 opened #543 "badger_intel_restart_gbox128_2x2_boxadv_short test times out?"
This could be a problem with my computing environment on badger rather than a problem with the code or scripts, but since it's only happening with one test, I wonder if there's a real bug here.  Symptoms:
Timings have more than doubled, e.g. in a run from cice master e5ff1f2 on August 21:

[code]

to a run from cice master d95a4f3 on November 21:

[code]

I suspect that the 'short' option does not

[2020-12-17 15:29] mattdturner opened #544 "Step therm1 using vertex velocity instead of cell velocity"
There was a recent [bugfix PR in MPAS-seaice](https://github.com/MPAS-Dev/MPAS-Model/pull/773) that addressed an issue in step therm1 where the vertex velocities were being used instead of cell center velocities.  Per that PR:

https://github.com/CICE-Consortium/CICE/blob/master/cicecore/cicedynB/general/ice_step_mod.F90#L327
This is much less of a problem with CICE since the vertex velocity of th

[2020-12-17 15:54] eclare108213 commented on #544
Thanks for pointing that out @mattdturner
This does not need to be fixed in Icepack itself, only the fields that are passed to it from CICE.

[2020-12-17 17:53] proteanplanet commented on #544
@eclare108213 Please can you create a pull request to fix this - I'm up to my arms in E3SM work at present.

[2020-12-18 20:06] apcraig opened #546 "sphinx bibtex changes"
Changes to sphinx bibtex now require us to use "sphinxcontrib-bibtex<2.0.0" in our requirements.txt file for Icepack and CICE documentation.  We should consider updating out bibliography.  Related to #545.

[2020-12-18 20:35] apcraig opened #547 "conda MacOSX issues and Github actions"
Recently, we ran into some problems with conda on Mac OSX.  This is probably related to a change in the conda compiler distribution.  In the end, we needed to add -lgcc_eh to get CICE to compile with OpenMP but without MPI (i.e. -p 1x2).

A Forum topic was added to provide some guidance to the community, https://bb.cgd.ucar.edu/cesm/threads/conda-port-issues.5795/

Should we do anything about this

[2020-12-18 21:53] phil-blain commented on #547
Just want to add for @JFLemieux73 who might me reading that I'm working on that in my own time (not for work). CICE is open-source after all :)

[2020-12-18 21:56] phil-blain commented on #547
I just opened an issue in the conda-forge repo where the conda-forge gfortran is built:
https://github.com/conda-forge/gfortran_impl_osx-64-feedstock/issues/36

I managed to isolate the problem to the "threadprivate" directive used in the 1D EVP implementation.

[2020-12-21 23:19] phil-blain commented on #547
This has been fixed in conda-forge. Recreating the "cice" env should install the new build of gfortran from conda-forge and this should not require `-lgcc_eh` at link time. See for example this successful run: https://github.com/phil-blain/conda-forge-macos-gfortran-openmp-bug/runs/1591889588?check_suite_focus=true

[2020-12-22 09:32] lbertino commented on #514
I have the same request.

[2020-12-23 02:55] apcraig commented on #547
I can confirm that conda works for me again.  Big thanks @phil-blain for leading the effort to resolve the problem!

Do we want to discuss using github actions (or similar) to supplement testing?  Or should this be closed for now.

[2020-12-23 14:46] phil-blain commented on #547
I think it could be a good idea, eventually.

[2020-12-23 23:04] apcraig commented on #249
From #533,

To-do:

- [ ] Change default emissivity to 0.985
- [ ] Change default nblyr to 1

Notes from global/ (these are hemispheric values produced by print_global=T):

We should turn on the brine tracer for these tests. When it's off, maybe we shouldn't print this diagnostic.

- [ ] Should there be rain water in the Arctic in Jan/Feb/Mar?
- [x] The arwt tot mass, energy, salt diagnostics are

[2020-12-23 23:06] apcraig commented on #249
See also #533

[2020-12-23 23:50] apcraig commented on #521
#548 may address this in part.

[2020-12-29 19:12] eclare108213 commented on #547
I started from the instructions [here](https://cice-consortium-cice.readthedocs.io/en/master/user_guide/ug_running.html#laptops) and didn't get very far:

macOS Catalina version 10.15.7

[2020-12-30 15:02] phil-blain commented on #547
Yeah, should be `x86_64` and not `x86-64` (underscore instead of dash). The doc is OK.

Regarding the permission problem, that looks like a new security feature in Catalina: https://support.apple.com/en-ie/guide/mac-help/mchld5a35146/10.15/mac/10.15. In that light I agree we should change the command so that the installer is dowloaded directly to $HOME to work around that problem.

[code]

[2021-01-03 00:20] apcraig opened #550 "travis-ci availability"
As of Nov 1, 2020, travis-ci is no longer free to public repositories and around Jan 1, 2021, our travis ci "free minutes" ran out.  You can see it here, https://travis-ci.com/organizations/CICE-Consortium/plan.  So super frustrating!!  We operate under the idea that public repos can use travis for free, take the time to set things up, and then things change, https://blog.travis-ci.com/2020-11-02-

[2021-01-07 20:15] phil-blain opened #551 "'time_beg' sometimes not initialized before being written to 'time_bounds' NetCDF variable (NetCDF files not usable by Panoply)"
Hi everyone!

I'm still working on coupling CICE with NEMO in our systems and the output files that are created can't be read by Panoply (4.10.12), I get:

I can open that file in Ncview just fine (2.1.8) , so I'm not sure where the problem is, but I thought I'd ask here since I'm sure some people here  know more about NetCDF than me...

Here is the header of the file (`ncdump -c iceh_inst.2001-10

[2021-01-07 20:23] apcraig commented on #551
Just to clarify, standalone CICE output is read fine by panopoly but the coupled CICE output is not?  Is the time axis different in those two sets of files?  Is anything else in the header different in the two files?  If not, could there be some bad data in the file that is creating problems?  Maybe try producing a CICE history file with one field in it and see if that still fails?

[2021-01-07 20:34] phil-blain commented on #551
Yes

The only difference I see is that calendar...:
[code]

Yeah I'll try some things. I'll try running standalone with the same namelist as the coupled run.

[2021-01-07 20:56] apcraig commented on #551
My first guess would be that netcdf is struggling with the "NoLeap" calendar name.  I wonder if the caps are creating problems?  I believe netcdf should understand the following, http://cfconventions.org/cf-conventions/cf-conventions.html#calendar.  Trying changing NoLeap to noleap in the file and see if panopoly is happier.  You should be able to do this with nco or a similar tool.

[2021-01-07 21:18] phil-blain commented on #551
I tried that with `ncatted -a calendar,time,m,c,"noleap" test.nc` but I get the same error. I have a job in queue for testing a standalone run with similar namelists settings as the coupled run.

[2021-01-07 22:57] phil-blain commented on #551
I think it's the `time_bounds` variable that is the cause of the problem. Here is the beginning of the output of `ncdump`:
[code]

I'm compiling with `-init=snan,arrays`, so I think what's happening is that the code that sets `time_beg`, here:

https://github.com/CICE-Consortium/CICE/blob/f5f487f973309ec1cd162afad9b073728e469d89/cicecore/cicedynB/analysis/ice_history.F90#L1863-L1869

somehow is no

[2021-01-07 23:39] phil-blain commented on #551
The NaN appears also in a standalone run when compiling with `-init=snan,arrays`, and causes the same error in Panoply.

[2021-01-08 23:15] phil-blain commented on #551
OK, I understand more what happens. The code that initializes `time_beg` is in the "else"  branch of this `if` statement:

https://github.com/CICE-Consortium/CICE/blob/f5f487f973309ec1cd162afad9b073728e469d89/cicecore/cicedynB/analysis/ice_history.F90#L1817

but we use `hist_avg=.true.` *and* `hist_freq = '1'`, so we enter the main branch of the if, and `time_beg` is never initialized.
I'm looking

[2021-01-11 21:13] phil-blain commented on #551
I'm bringing @dabail10 into the discussion since you worked on the multiple-stream history functionality (CICE-Consortium/CICE-svn-trunk@ab1c53eaf0c4a0b0dbc65e582a5e1b35c2208a88) for CICE 5.

In that commit you [removed that line in ice_init](https://github.com/CICE-Consortium/CICE-svn-trunk/commit/ab1c53eaf0c4a0b0dbc65e582a5e1b35c2208a88#diff-202a8828ed3a82bd116a37896169a4ffda94421da5c6cfab284cda

[2021-01-11 21:33] dabail10 commented on #551
I don't remember this very well, but it is possible I introduced a bug here. I guess I couldn't figure out how to average some streams but have others instantaneous. So, I guess I was thinking all or none. However, I would be happy to revisit this and see if there is a way to do this. I suppose making hist_avg into an array ...

[2021-01-11 21:40] phil-blain commented on #551
Well that would be useful but here I'm actually talking about a single stream, with `histfreq = '1'` and hist_avg = true... Reading the code again I don't think this works, i.e. the fields will *not* be averaged because of  these lines:
https://github.com/CICE-Consortium/CICE/blob/f5f487f973309ec1cd162afad9b073728e469d89/cicecore/cicedynB/analysis/ice_history.F90#L1817-L1836
that explicitely reset

[2021-01-11 21:57] dabail10 commented on #551
Is that not the behaviour you want? If it is step output (1) then you have nothing to accumulate.

[2021-01-11 21:57] dupontf commented on #551
Could it have been a confusion between histreq_n(is)=1 and histfreq(is)='1'? The second condition would make more sense indeed if it was [...]`.or. (histfreq(is)='1' .and. histfreq_n(is)=1)`

[2021-01-12 14:34] phil-blain commented on #551
@dabail10 I think there is indeed some confusion. As Fred is hinting at,  we are using `histfreq = 1`,  `histfreq_n  = 720`, and `hist_avg = .true.`, so I would have expected fields to be accumulated over 720 time steps. But it seems that  part of the code assumes `histfreq = 1` means `histfreq_n = 1` and nothing else. That is what I think should be improved.

[2021-01-12 16:09] dabail10 commented on #551
Makes sense. There are a few things in the history output that should probably be cleaned up.

[2021-01-12 22:04] phil-blain opened #552 "Integrate CICE-svn-trunk history with CICE6 history using 'git replace'"
Hi everyone,

I'm combing through the pre-CICE6 history (https://github.com/CICE-Consortium/CICE-svn-trunk/) a lot these days since I'm migrating our systems from NEMO3.6/CICE4 to NEMO3.6/CICE6.

I don't know the history of when and how the SVN repo was migrated to Git, and why a new repo was started for CICE6, but I think it would be *really* helpful if all the history of the CICE project could b